{{yield}}
<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <a href="https://www.archlinux.org/"><h3 class="blue-text">Arch Linux <i class="fa fa-circle red-text" aria-hidden="true"></i></h3></a>
          <p>
            Arch Linux is a “rolling release” distro, meaning there is no 6 month release cycle like Ubuntu. Instead, updates for software are added to the Arch repositories (usually) shortly after an upstream release.
            <br><br>
            The advantages of a “rolling release” distro, is that it keeps users constantly up-to-date with the latest releases of popular software. The disadvantage of the “rolling release” system, is that sometimes packages are added into repositories before they’re tested for stability; you could upgrade a package and sometimes find your desktop environment refusing to boot.
            <br><br>
            Luckily, Arch Linux is famous for it’s amazing <a href="https://wiki.archlinux.org/">documentation</a> and helpful <a href="https://bbs.archlinux.org/">forums</a>. So if you ever find yourself needing help, it’s there; even if you don’t use Arch, the wiki is expansive and covers countless subjects.
            <br><br>
            Arch also has the <a href="https://wiki.archlinux.org/index.php/Arch_User_Repository">AUR</a> (Arch Users Repository) where users can submit their own packages, as well as download packages created by users; If you can’t find a piece of software in the official repo, chances are it’s in the AUR.
            <br><br>
            Arch Linux is also incredibly lightweight: the default installation of most beginner distros – Ubuntu, for example – includes pre-installed software which many consider “bloat”. Arch on the other hand doesn’t even include a graphical desktop environment with the default installation; allowing the user to select their own desktop environment and additional software. Also, the installation of Arch Linux requires the user to know a little about the CLI (Command Line Interface) in order install. This scares a lot of newcomers and many (at first glance) consider Arch to be a “difficult” distro to use.
            <br><br>
            I recommend Arch Linux to people who want to learn more about CLI tools and for people looking for an efficient, elegant, and close-to-upstream Linux distribution.
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/arch_200.png">
          <p><b>Package Manager:</b> Pacman</p>
          <p><b>Installer:</b> Text-Based </p>
          <p><b>Default Desktop Environment:</b> None</p>
          <p><b>Derivatives:</b> <a href="https://manjaro.github.io/">Manjaro</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
