{{yield}}
<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <h3><a class="purple-text text-lighten-3" href="http://store.steampowered.com/steamos/">SteamOS</a> <i class="fa fa-circle green-text" aria-hidden="true"></i></h3>
          <p>
            SteamOS is designed primarily for playing video games in the living room. Users will be able to stream games from their Windows, Mac or Linux computers to one running SteamOS, and it will incorporate the same family sharing and restrictions as Steam on the desktop. Valve claims that it has "achieved significant performance increases in graphics processing" through SteamOS. The operating system is open source, allowing users to build on or adapt the source code, though the actual Steam client is closed.
          </p>
          <p>
            Since SteamOS is solely for playing games in the living room, it does not have many built-in functions beyond web browsing and playing games; for example, there is no file manager or image viewer installed by default. Users can, however, access the available GNOME desktop environment and perform tasks like installing other software. Though the OS does not, in its current form, support streaming services, Valve is in talks with streaming companies such as Spotify and Netflix to bring their features to SteamOS. However Steam does have full length films from indie movie makers available from their store. The OS natively supports NVIDIA, Intel, and AMD graphics processors.
          </p>
          <p>
            Valve stated has added support for movies, television, and music functionality to SteamOS, however the video content is only from Steam's store which has a small amount of films, while music playback only supports local music collections. It should be noted that recently, Netflix, and other DRM protected content, now function in the latest beta client and beta OS revisions of SteamOS via the native built-in browser1.
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/SteamOS_300.png">
          <p><b>Package Manager:</b> Apt</p>
          <p><b>Installer:</b> Graphical (Debian Installer)</p>
          <p><b>Default Desktop Environment:</b> Steam Big Picture Mode</p>
          <p><b>Derivatives:</b> <a href="http://vaporos.net/">VaporOS</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
