{{yield}}
<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col l5 s12">
        <div class="icon-block">
          <img class="materialboxed" data-caption="This is a Linux desktop themed to look like Windows 10" width="300" src="assets/images/faq/linux_windows.jpg">
        </div>
      </div>
      <div class="col m7 s12">
        <h2 class="center-align"><i>"Isn't Linux hard to use?"</i></h2>
        <p class="black-text">
          It’s true that learning and adapting to any unfamiliar interface can be daunting. With perseverance you may find as others have that Linux has the best user paradigm.
          Not to mention, many of your daily computing tasks can be automated or made easier with the terminal.
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
