{{yield}}
<div class="games-played">
  <div class="cyan lighten-3">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col m5 s12">
            <h3 class="center-align"><a href="servers" class="black-text">Games We Play</a></h3>
            <p class="black-text">
              We actively maintain and moderate a few servers for games we play frequently. All game servers are hosted on a physical machine running Ubuntu 16.04 with a gigabit ethernet connection.
            </p>
            <p class="black-text">
              Check out the <a class="black-text"href="servers"><b><i>servers</i></b></a> page for more information about the games we host and how to connect to them.
            </p>
          </div>
          <div class="col m7 s12">
            <div class="row">
              <img class="responsive-img" src="assets/images/home/terraria.jpg">
            </div>
            <div class="row">
              <img class="responsive-img" src="assets/images/home/rust.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
