<div class="persona-square">
  <div>
    <h2><b>{{name}}</b></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p><b>About {{name}}</b></p>
    <p>Striped_Monkey has been on Linux distros since early 2014 and hasn't used windows for anything more than printing since. Monkey enjoys games like Factorio, Minecraft (Particularly Modded), and Risk of Rain. </p>
    <p>You can probably find him on discord, in-game, and on YouTube. Someday he hopes to be able to stream regularly.</p>
  </div>
</div>
{{yield}}
