<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1618733308394002";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<footer class="page-footer blue-grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">Who Is Egee?</h5>
            <p class="grey-text text-lighten-4">We hope you have enjoyed using Materialize! If you feel Materialize has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.</p>
          </div>
          <div class="col l4 s12">
            <h5 class="white-text"></h5>
            <p class="grey-text text-lighten-4"></p>
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
            <h5 class="white-text">Connect!</h5>
            <div class="g-ytsubscribe" data-channel="EtherealGaming1" data-layout="full" data-count="default"></div>
            <br>
            <a href="https://twitter.com/egee_irl" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @egee_irl</a>
            <br>
            <div class="fb-follow" data-href="https://www.facebook.com/Egee1rl/" data-layout="button_count" data-show-faces="true"></div>
          </div>
        </div>
      </div>
      <div class="footer-copyright grey darken-4">
        <div class="container">
          <a class="grey-text text-lighten-4 left" href="http://copyleft.org/"><i class="fa fa-copyright fa-flip-horizontal"></i> GPL License</a>
          <a class="grey-text text-lighten-4 right" href="https://github.com/egee-irl/materialized-ghost-theme">Materialized Ghost Theme</a>
        </div>
      </div>
    </footer>
