<nav class="z-depth-3 blue-grey darken-3">
  <div class="container nav-wrapper">
    <a href="http://www.egee.io" class="brand-logo left hide-on-med-and-down">Egee</a>
    <ul id="nav-mobile" class="hide-on-small-and-down right">
      <li class="nav-app">
        <a class='dropdown-button btn blue-grey z-depth-2' href='#' data-activates='dropdown1'>Articles</a>
        <a class='dropdown-button btn blue-grey z-depth-2' href='https://github.com/egee-irl'>Code</a>
        <a class='button btn blue-grey z-depth-2' href='https://www.youtube.com/user/EtherealGaming1'>Videos</a>
      </li>
    </ul>
    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="fa fa-bars"></i></a>
  </div>
</nav>
{{{navigation}}}
