<ul class="side-nav" id="mobile-nav">
    <li class="truncate" id="news" role="presentation">
        <a href="http://egee.ghost.io/tag/news"><i class="fa fa-newspaper-o left"></i>News</a>
    </li>
    <li class="truncate" id="reviews" role="presentation">
        <a href="http://egee.ghost.io/tag/reviews"><i class="fa fa-laptop left"></i>Benchmarks &amp; Reviews</a>
    </li>
    <li class="truncate" id="gaming" role="presentation">
        <a href="http://egee.ghost.io/tag/linux-gaming"><i class="fa fa-gamepad left"></i>Linux Gaming</a>
    </li>
    <li class="truncate" id="development" role="presentation">
        <a href="http://egee.ghost.io/tag/software-development"><i class="fa fa-terminal left"></i>Development</a>
    </li>
</ul>

<ul id='dropdown1' class='dropdown-content'>
  <li><a href="http://egee.ghost.io/tag/news" class="blue-text">News</a></li>
  <li class="divider"></li>
  <li><a href="http://egee.ghost.io/tag/linux-gaming" class="blue-text">Gaming</a></li>
  <li class="divider"></li>
  <li><a href="http://egee.ghost.io/tag/reviews" class="blue-text">Reviews</a></li>
  <li class="divider"></li>
  <li><a href="http://egee.ghost.io/tag/reviews" class="blue-text">Benchmarks</a></li>
  <li class="divider"></li>
  <li><a href="http://egee.ghost.io/tag/software-development" class="blue-text">Development</a></li>
</ul>

<script type="text/javascript">
 $( document ).ready(function(){$(".button-collapse").sideNav();})
</script>
