 <ul class="pagination">
  {{#if prev}}
    <li class="waves-effect pagination-item newer"><a href="{{page_url prev}}"><i class="fa fa-arrow-left"></i></a></li>
  {{else}}
    <li class="disabled pagination-item newer"><a href="#!"><i class="fa fa-arrow-left"></i></a></li>
  {{/if}}
  {{#if next}}
    <li class="waves-effect pagination-item older"><a href="{{page_url next}}"><i class="fa fa-arrow-right"></i></a></li>
  {{else}}
    <li class="disabled pagination-item older"><a href="#!"><i class="fa fa-arrow-right"></i></a></li>
  {{/if}}
 </ul>
<br>
