{{material-slider}}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light center-text">The Official Egee.io Minecraft Server</h3>
    <hr>
    <div class="slider">
      <ul class="slides">
        <li><img src="assets/images/games/minecraft/minecraft_01.jpg"></li>
        <li><img src="assets/images/games/minecraft/minecraft_02.jpg"></li>
        <li><img src="assets/images/games/minecraft/minecraft_03.jpg"></li>
        <li><img src="assets/images/games/minecraft/minecraft_04.jpg"></li>
      </ul>
    </div>
    <p>
      The offical Egee.io Minecraft server is a regular un-modded server running version 1.10.x and is moderated by Egee.io community member <i>Striped_Monkey</i>.
    </p>
    <p>
      The Minecraft server a survival server with PvP enabled, however mob griefing is disabled so buildings are free from creeper explosions! 
      The server runs on Spigot (a fork of Bukkit) which helps with logging and griefer protection.
    </p>
    <p>
      While the server is typically free of problems (griefers, lag, crashes, unexpected deaths, etc), if issues do arise, please to report them 
      on the <a href="/#discord">Egee.io Discord</a> via the Minecraft channel, or to Striped_Monkey directly. If you are unable to access the server at all, feel free to Tweet at Egee himself.
    </p>
    <p>
      Connecting to the Egee.io Minecraft server is simple:<br>
      &#8226; Fire up Minecraft<br>
      &#8226; From the main menu, click "Multiplayer"<br>
      &#8226; From the "Play Multiplayer" screen, click <u>either</u> "Direct Connect", or "Add server"<br>
      &#8226; Enter <i>Egee.io</i> as the server address (no IP address required!)<br>     
    </p>
    <p>
      And that's it!
    </p>    
  </div>
</div>
