/*====================
  Egee.io Stylesheet
 =====================*/
/*====================
  Color Overrides
 =====================*/
p {
  color: white;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: white;
}
.modal-content {
  background-color: #14191E;
}
.eg-hard-gray {
  background-color: #14191E;
}
.eg-blue-black {
  background-color: #030811;
}
a {
  color: #822ff7;
}
a:hover {
  text-decoration: underline;
}
/*====================
  Font Overrides
 =====================*/
html {
  font-family: Raleway, sans-serif;
}
.light {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 300;
}
.thin {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 200;
}
/*====================
  Miscellaneous Helpers
 =====================*/
.material-icons {
  margin-left: 5px;
  margin-right: 5px;
}
.server-subscript {
  margin-top: 0px;
  margin-bottom: 17px;
}
.server-paragraph {
  margin-top: 5px;
  margin-bottom: 0px;
}
.server-header {
  margin-bottom: 5px;
}
footer.page-footer {
  margin-top: 0px;
  padding-bottom: 10px;
}
.row {
  margin-bottom: 0px;
}
img.responsive-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.parallax-container {
  height: 400px;
}
.icon-block {
  padding: 0 15px;
}
.title-margin {
  margin-top: 75px;
}
.marginless-top {
  margin-top: 0px;
}
.marginless-bottom {
  margin-bottom: 0px;
}
