/*====================
  Egee.io Stylesheet
 =====================*/
 @hard-gray: #14191E;
 @blue-black: #030811;

/*====================
  Color Overrides
 =====================*/

p {
   color: white;
 }

h1 {
  color: white;
}

 h2 {
   color: white;
 }

 h3 {
   color: white;
 }

h4 {
   color: white;
 }

 h5 {
   color: white;
 }

.modal-content {
  background-color: @hard-gray;
}

.eg-hard-gray {
  background-color: @hard-gray;
}

.eg-blue-black {
  background-color: @blue-black;
}

a {
    color: #822ff7;
}

a:hover {
    text-decoration: underline;
}

// body {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
// }

// main {
//   flex: 1 0 auto;
// }

 /*====================
  Font Overrides
 =====================*/
html {
  // font-family: Raleway, sans-serif;
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css?family=Lato:400');
  background-color: #030811;
}

.light {
  font-family: 'Lato Light';
  src: url('https://fonts.googleapis.com/css?family=Lato:300');
  // font-family: 'Raleway', 'sans-serif';
  // font-weight: 300;
}

.thin {
  font-family: 'Lato Thin';
  src: url('https://fonts.googleapis.com/css?family=Lato:100');
  // font-family: 'Raleway', 'sans-serif';
  // font-weight: 200;
}

// @font-face {
//   font-family: 'Lato';
// }

// @font-face {
//   font-family: 'Lato Light';
// }

// @font-face {
//   font-family: 'Lato Thin';
// }

// body {
//   font-family: 'Lato', 'sans-serif';
// }

// .lato_regular {
//   font-family: 'Lato Regular', 'sans-serif';
// }

 /*====================
  Miscellaneous Helpers
 =====================*/

iframe {
  padding-left: 50px;
}

.material-icons {
   margin-left: 5px;
   margin-right: 5px;
 }

.server-subscript {
  margin-top: 10px;
  margin-bottom: 100px;
}

.server-paragraph {
  margin-top: 5px;
  margin-bottom: 0px;
}

.server-header {
  margin-bottom: 5px;
}

footer.page-footer { 
  margin-top: 0px;
  padding-bottom: 10px;
}

.row {
   margin-bottom: 0px;
 }

img.responsive-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.parallax-container {
   height: 400px;
 }

.icon-block {
  padding: 0 15px;
}

.title-margin {
  margin-top: 75px;
}

.marginless-top {
    margin-top: 0px;
}

.marginless-bottom {
    margin-bottom: 0px;
}
