body {
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: #030811;
}

.fa-padding {
  padding-left: 4px;
}

.fa-twitter {
  color: #1da1f3;
}

.fa-youtube {
  color: #f00;
}

.footer-button-padding {
  padding: 3px;
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
  margin-left: auto;
  margin-right: auto;
}

.has-background-real-black {
  background-color: black;
}

.centered {
  text-align: center;
}

.card-subtitle {
  font-size: 1.25rem;
}

.card-rules {
  font-size: 0.8rem;
}

a.navbar-item:hover {
  background-color: #030811;
}

.section.is-small {
  padding-top: 1rem;
}

.eg-title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.125;
}

.navbar-item {
  font-weight: bold;
}

.eg-hard-gray {
  background-color: #14191e;
}

.eg-blue-black {
  background-color: #030811;
}

.navbar-brand {
  font-weight: bold;
  font-size: 22px;
}

p {
  color: #ebf2fa;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
}
