<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m6 s12">
          <h5>We use a simple scale to rate distros</h5>
          <p>
            The scale focuses on usability &amp; configurability <u>after</u> install.
          </p>
          <p>
            For example, codecs (can) be installed on Ubuntu during the initial install, however with Fedora, an external repository is required.
            Likewise, proprietary video drivers are installed as part of the SteamOS install process, but take many additional steps for setup on Debian.
          </p>
        </div>
        <div class="col m6 s12">
          <p>
            <i class="fa fa-circle green-text" aria-hidden="true"></i> <b>-</b> Easy to setup and use; very few additional steps for ancillary applications or drivers<br>
            <i class="fa fa-circle fa-1x yellow-text" aria-hidden="true"></i><b> -</b> May require manual steps or compilation to install or setup applications or drivers<br>
            <i class="fa fa-circle fa-1x red-text" aria-hidden="true"></i><b> -</b> Most steps are manual and likely include code compilation<br>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
