<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          Egee.io
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://discord.gg/Pt2Gtc4">Discord</a>
      <a class="sidebar-nav-item" href="/codeofconduct">Code of Conduct</a>
      <a class="sidebar-nav-item" href="/minecraft">Minecraft Server</a>
      <a class="sidebar-nav-item" href="/gmod">Garry's Mod Server</a>
      <a class="sidebar-nav-item" href="/rust">Rust Server</a>
    </nav>

    <p>Made with ❤️ in the Pacific Northwest</p>
  </div>
</div>
