[Unit]
Description=Egee.io Website and Meteor App

[Service]
#EnvironmentFile=/srv/website/environment
#WorkingDirectory=/srv/website
ExecStart=/srv/website/run.sh
#TimeoutStartSec=5
#Restart=on-failure
#StartLimitIntervalSec=60
#StartLimitBurst=3

[Install]
WantedBy=multi-user.target
