// body
//     background-image: url('../img/home.jpg')

.hero-overlay
    // position: absolute
    // top: 0
    // right: 0
    // bottom: 0
    // left: 0
    background: rgba(19,41,48,0.6)
.hero-body
    background-image: url('../img/home.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover

.pin-right
    text-align: end