<div class="mdl-grid">
  <div class="mdl-grid">{{partial "partials/welcome/title"}}</div>
</div>
<hr>
  <div class="mdl-grid">{{partial "partials/welcome/welcome-blurb"}}</div>
  <div class="mdl-grid">{{partial "partials/welcome/join-us"}}</div>
