<div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet">
  <p class="center-text">
    <h3 class="lato_light">Join Us!</h3>
  </p>
  <p>
    Egee.io hosts a number of game servers! Every server is moderated by a member of the community and publically accessible either via an in-game browser or by using the Egee.io domain name.
  </p>
  <p>
    Members of the Egee.io community can also host their own game servers and have them showcased here on Egee.io. 
  </p>
  <p>
    The Egee.io Discord server is the official place for server news and community information. It is also the place where we plan gaming events and live streams.
  </p>
</div>
<div id="discord" class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet discord_margin">
  <iframe src="https://discordapp.com/widget?id=183740337976508416&theme=dark" width="350" height="475" allowtransparency="true" frameborder="0"></iframe>
</div>
