<div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet center-text">
  <h1 class="lato_light marginless-bottom">Egee.io</h1>
  <h3 class="lato_thin marginless-top"> A platform-agnostic gaming community</h3>
</div>