{{yield}}
<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align">Garry's Mod</h3>
          <p>
            A Gary's Mod server is run occasionally at the sole request of the Egee.io community. This server is typically used to host events such as Prop Hunt..
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <a href="http://steamcommunity.com/groups/egeeio">
              <img class="responsive-img" src="assets/images/servers/garrys.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
