{{yield}}
<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align">Garry's Mod</h3>
          <p>
            Our GarrysMod server is typically used for game nights and live streams. PropHunt is the current favorite game mode but the server supports others.
          </p>
          <p>
	    Unless there is a community event happening, the sever is running the normal GarrysMod sandbox mode and gets reset occasionally to free up resources.
          </p>
          <p>
	    The GarrysMod server can be easily found in the server browser of GarrysMod.
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <a href="http://steamcommunity.com/groups/egeeio">
              <img class="responsive-img" src="assets/images/servers/garrys.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
