<div class="mdl-grid">

  <div class="persona mdl-card mdl-cell--4-col mdl-cell--1-offset-tablet">
    <div class="mdl-card__title ghostsquad57">
      <h2 class="mdl-card__title-text"><b>GhostSquad57</b></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p><b> About GhostSquad57</b></p>
      <p>Keith is an aspiring software programmer, Linux enthusiast, and content producer. He records videos related to Linux gaming: gameplay, commentary, reviews and even livestreams!</p>
      <p>He hopes to one day create his own game for the Linux platform. You can find him on YouTube, Twitch, Twitter and GitHub.</p>
    </div>      
    <div class="mdl-card__menu">
      <a href="https://www.youtube.com/user/GhostSquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-youtube-play" aria-hidden="true" style="color:white"></i>      
      </a>
      <a href="https://www.twitch.tv/ghostsquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitch" aria-hidden="true" style="color:white"></i>        
      </a>
      <a href="https://twitter.com/GhostSquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitter" aria-hidden="true" style="color:white"></i>      
      </a>
    </div>
  </div>

  <div class="game mdl-card mdl-cell--6-col-desktop mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet">
    <div class="mdl-card__title quake2"></div>
    <div class="mdl-card__supporting-text">
      <p>
        GhostSquad57 from the Egee.io community runs a Quake 2 server over at ghostsquad57.com:28501
      </p>
      <p>
        The recommended client for joining the server is <a href="https://www.yamagi.org/quake2/">Yamagi Quake 2</a>  which runs on Linux, Mac OS X, BSD (FreeBSD and OpenBSD) and Windows. 
        Any Quake 2 source port should connect to the server without any issues, but Yamagi Quake 2 is <b>strongly</b> recommended.
      </p>
      <p>
        • Hardware: the server uses an Intel i5-3550 at 3.3GHz and 16GBs of Ballistix Sport UDIMM Memory. For storage, the server uses a 250GB Samsung EVO SSD Premier SP600. The server is also equipped with an Intel Pro/1000 Dual Gigabit LAN NIC.<br>
        • Software used to host the server: the server uses the Quake 2 client <a href="http://skuller.net/q2pro/">q2pro</a><br>
        • Mods: The server uses no mods<br>
        • Uptime: varies; usually %80 uptime<br>
        • Gamemode: Free-For-All (FFA)<br>
        • Maps: The map rotation currently consists of q2dm1 through q2dm8<br>
        • Maxplayers: currently the maxplayers is set to 8<br>
      </p>
      <p>
        Connecting to the server:<br>
        Open the console with the ` key and enter: connect ghostsquad57.com
      </p>
      <p>
        Contacting:<br>
        If you think a different gamemode would be better, or maybe you think the maxplayers should be higher, 
        contact me on the <a href="/#discord">Egee.io Discord</a> and I'll be glad to make the changes.<br>
        You can also contact me via <a href="mailto:contact@ghostsquad57.com?subject=Quake2">my email address</a>
      </p>
    </div>
  </div>  
</div>
