<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <h3><a class="red-text" href="https://www.debian.org/">Debian</a> <i class="fa fa-circle yellow-text" aria-hidden="true"></i></h3>
          <p>
            Debian is one of the oldest Linux distros. Dating back to 1993, Debian is one of the most popular and most forked Linux distros (Ubuntu for example is based on Debian).
            <br><br>
            Debian was founded by Ian Murdock (1973-2015) under the <a href="https://en.wikipedia.org/wiki/Debian_Social_Contract">Debian Social Contract</a> and the <a href="https://en.wikipedia.org/wiki/Debian_Free_Software_Guidelines">Debian Free Software Guidelines</a>
            <br><br>
            Debian is well known as a distro that respects the users freedoms, and is openly against proprietary and restrictive software (see Debian Free Software Guidelines). Because of this stance, it can be counter-intuitive to set up certain proprietary software on Debian (e.g., certain network drivers, media codecs, adobe flash etc.)
            <br><br>
            Debian is commonly used for network servers, but can function as a desktop distro as well.
            <br><br>
            Debian comes in several flavors; Stable, Testing, and Unstable:
            <br><br>
            Testing and Unstable are recommended for desktop users looking for fairly up-to-date packages, and don’t mind a little instability from time to time. It should be noted that packages in the “testing” repositories are tested to make sure they don’t disrupt the stability of the users' environment, whereas packages in the Unstable repository are usually added without being tested.
            <br><br>
            Stable is recommended for servers and for critical systems that need to be a stable as possible.
            <br><br>
            Debian has a yearly release cycle. The release process is as follows:
            Software is packaged from upstream and added to the Unstable branch, where it is then tested; after being in Unstable the software is then moved to the Testing branch. After some time, the Testing branch enters a “freezing” period where bugs are squished away; when the Testing branch is considered stable, the Testing branch in then moved to Stable and that’s when the new release happens. Time between releases is usually 1-2 years; although there is no official release schedule.
            <br><br>
            Debian includes a graphical installer, as well as a text based installer.
            <br><br>
            Debian is recommended for users looking for a rock solid distro; both in stability and security, and a distro that respects the users freedoms and adheres to the idea of Free-as-in-freedom software principles.
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/debian_200.png">
          <p><b>Package Manager:</b> Apt-Ghetto</p>
          <p><b>Installer:</b> Text-Based or Graphical (Debian Installer)</p>
          <p><b>Default Desktop Environment:</b> Gnome</p>
          <p><b>Derivatives:</b><a href="https://ubuntu.com/">Ubuntu</a>, <a href="https://github.com/ValveSoftware/SteamOS/wiki">SteamOS</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
