<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <h3><a class="green-text" href="https://www.opensuse.org/">openSUSE</a> <i class="fa fa-circle yellow-text" aria-hidden="true"></i></h3>
          <p>
            openSUSE is the community edition of SUSE Enterprise Linux. SUSE, the company, is a provider of enterprise-class Linux servers targeting SAP, “Point of Service”, and high availability (real-time) applications. SUSE, founded in 1992, was the first company to market Linux for business and enterprise customers.
          </p>
          <p>
            openSUSE is renown in the Linux community for its innovative tools and technologies. Specifically Open Build Service and OpenQA, which allows developers to test, compile, release, and publish their software to nearly any Linux distribution.
          </p>
          <p>
            openSUSE has a relatively long lifespan for a Linux distribution with each release being supported for upwards of two years. This is due in part to the openSUSE Leap being based upon SUSE Linux Enterprise Server, which has an even longer life span.
          </p>
          <p>
            Similar to Arch Linux, openSUSE provides a rolling-release version called Tumbleweed, which allows users to make use of the most up-to-date and stable versions of their software, rather than having to wait for the next big release of their distribution.
          </p>
          <p>
            Like Fedora, openSUSE makes use of the RPM (Red Hat Package Manager) package management system, and uses an advanced package manager called Zypp (or libzypp) as its satisfiability solver (package dependency resolver). Zypp, which was originally developed by SUSE developers, is also used by the MeeGo project, Sailfish OS (Jolla), and Tizen (Samsung).
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/opensuse_200.png">
          <p><b>Package Manager:</b> Zypper</p>
          <p><b>Installer:</b> Graphical (YaST)</p>
          <p><b>Default Desktop Environment:</b> KDE Plasma Desktop</p>
          <p><b>Derivatives:</b> <a href="http://www.gearsongallium.com/">Gears on Gallium</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
