<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <h3><a class="amber-text text-darken-4" href="http://www.ubuntu.com/">Ubuntu</a> <i class="fa fa-circle green-text" aria-hidden="true"></i></h3>
          <p>
            Ubuntu, meaning ‘humanity towards others,’ is arguably the most popular and easy-to-use Linux distribution available today. The primary focus of Canonical (Ubuntu’s corporate sponsor) has been user friendliness with software utilities that take the hassle out of OS installation and package management.
          </p>
          <p>
            Ubuntu is the platform most game developers target since it’s binary compatible with SteamOS and shares many of the same packages.
          </p>
          <p>
            Ubuntu is not without its controversy, due in no small part to its reluctance to push changes upstream and it’s forging custom solutions to issues that many argue fragment the community. [Upstart, Unity, Mir]
          </p>
          <p>
            Ubuntu is also looking to capitalize on a ‘convergence’ business model, where the OS will work on a smart phone, tablet, computer, or television.
          </p>
          <p>
            Ubuntu has a semiannual release cadence, with an LTS (or Long-term Support) every three years. These long-term support releases provide a stable base for developers and system administrators to target.
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/ubuntu_300.png">
          <p><b>Package Manager:</b> Apt</p>
          <p><b>Installer:</b> Graphical (Ubiquity)</p>
          <p><b>Default Desktop Environment:</b> Unity</p>
          <p><b>Derivatives:</b> <a href="https://www.linuxmint.com/">Mint</a>, <a href="https://elementary.io/">ElementaryOS</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
