{{yield}}
<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align"><a href="https://www.youtube.com/user/EtherealGaming1" class="black-text">Egee</a></h3>
          <p>
            Egee has been an avid GNU/Linux user since 2009, and has contributed to documentation efforts for both Fedora and openSUSE projects.
          </p>
          <p>
            As the creator of the Egee.io community, he is dedicated to increasing awareness of GNU/Linux as both a desktop platform, and a viable platform for serious PC gamers.
          </p>
          <p>
            As a software developer by trade, Egee naturally likes to code but also enjoys punk music, hiking, and tinkering with cars. In real life, he goes by "Brian".
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <a href="http://steamcommunity.com/groups/egeeio">
              <img class="responsive-img" src="assets/images/contributors/egee_400.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
