<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col m5 s12">
        <div class="icon-block">
          <a href="http://steamcommunity.com/groups/egeeio">
            <img class="responsive-img" src="assets/images/contributors/keith_400.jpeg">
          </a>
        </div>
      </div>
      <div class="col m7 s12">
        <h2 class="center-align"><a href="https://www.youtube.com/user/GhostSquad57" class="black-text">GhostSquad57</a></h2>
          <p>
            Keith (A.K.A. GhostSquad57) is a Linux user since 2010. Since even before using Linux, Keith has been a gamer; preferring FPSs, RPGs, and Action games.
          </p>
          <p>
            Keith has a YouTube channel [link] where he uploads gameplay, commentary, and reviews of native Linux games.
          </p>
          <p>
            Keith is also an aspiring software programmer, and hopes to one day create a game for the Linux platform.
          </p>
      </div>
      </div>
    </div>
  </div>
</div>
