<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align"><i>"But Linux doesn't have any AAA games!"</i></h3>
          <p class="black-text">
            Before Valve released Steam for Linux in 2013, there were a handful of AAA games for Linux. Since Steam’s launch on the platform, the number of games has skyrocketed.
            While not every Windows game in your Steam library will work, chances are about a quarter of them have Linux/SteamOS support (and that’s nothing to disparage).
          </p>
        </div>
        <div class="col m7 s12">
          <div class="carousel">
            <a class="carousel-item"><img src="assets/images/faq/tombraider.jpg"></a>
            <a class="carousel-item"><img src="assets/images/faq/xcom2.jpg"></a>
            <a class="carousel-item"><img src="assets/images/faq/shadowofmordor.jpg"></a>
            <a class="carousel-item"><img src="assets/images/faq/borderlands_tps.jpg"></a>
            <a class="carousel-item"><img src="assets/images/faq/civ5.jpg"></a>
            <a class="carousel-item"><img src="assets/images/faq/bioshock.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
