<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet center-text">
  <h3 class="lato_light marginless-bottom">Encounter an issue  on one of our servers?</h3>
</div>
<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet center-text">
  <p>
    In the event that you have an issue on one of our servers (lag, griefers, hacking ,etc), please contact the moderator of the server you are playing on either in-game or via the <a href="/#discord">Egee.io Discord</a>.
  </p>
</div>
