<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light  center-text">What Is Egee.io?</h3>
    <p>
      Egee.io is an Open Source gaming community that is driven by the passionate community developed around it.
      The community decides which game servers to host and manages the Discord chat server. 
    </p>
    <p> 
      The Egee.io website is MIT licensed and was built in large part from input from community members 
      and many members have contributed code directly to the web site's code base on GitHub.
    </p>
    <p> 
      Egee.io runs on Ubuntu 16.04 and EmberJS, a JavaScript web application framework. The styling toolkit is
      Material Design Lite
    </p>
    <hr>
  </div>
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light  center-text">What is an "Open Source" community?</h3>
    <h4 class="center-text lato_thin">Open Source is more than just software</h4>
    <p>
      The Open-Source Model follows a decentralized method of management. Instead of an individual mandate setting the rules
      or making decisions for the community, the community itself makes the decisions.
    </p>
    <p>
      The concept of Open Source has it's roots in Software Development. Virtually everyone is familiar with Open Source Software (not to be confused with FOSS).
      The same idea of Open Source has been carried over into other fields such as hardware, education, music, and even government.
    </p>
    <p>
      An Open Source community is one where the spirit of the community is open to everyone regardless of what platform they use or games they play.
      Everyone is free to collaborate and contribute to the community in the form of code for the website, or a new game server for the community.
    </p>
    
    <hr>
  </div>
   <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light  center-text">What about Free and Open Source Software?</h3>
    <p>
      Egee.io is powered by Ubuntu, a distribution of the popular <i>Linux</i>. The Egee.io game servers run on Linux Game Server Manager,
      a Free and Open Source tool that makes hosting game servers on Linux much easier.
    </p>
    <p>
      The Egee.io community lives in Discord, a closed-source IRC-like application. Most of the games we host are proprietary or use proprietary components.
      The Open Source model allows us the freedom to choose the software that works best for us. The platforms we run our servers on are Free and Open Source,
      however the games we host are not.
    </p>
    <p>
      While everyone in the Egee.io community loves Open Source Software, we also love our games. And, for better or worse, games are often not Free and Open Source.
    </p>    
    <hr>
  </div>
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light center-text">Who is "Egee"?</h3>
    <h4 class="center-text lato_thin">Egee is a software developer, YouTuber, and founder of Egee.io</h4>
    <p>
      Egee started out on YouTube in 2010 making really bad car and guitar building videos under the moniker <i>BriansProject</i>. 
      He later closed that YouTube channel and moved his content to a Wordpress blog under the same name.
    </p>
    <p>
      Egee returned to YouTube in 2014 doing Linux and AMD hardware benchmarks. He turned his Wordpress blog into a Ghost.io
      blog, rebranded it "Egee.io" and did write ups for larger benchmarks between Linux distros and operating systems.
    </p>
    <p>
      At some point along the way, the idea of turning Egee.io into a gaming community was brought up. Egee.io was turned from an
      ordinary blogging website to an EmberJS web app. A Discord chat server opened and Egee.io took a shape of it's own.
    </p>
  </div>
</div>