<div class="mdl-grid ">
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light  center-text">What Is Egee.io?</h3>
    <p>
      Egee.io is an Open Source gaming community that is driven by the passionate community developed around it.
      The community decides which game servers to host and manages the Discord chat server. 
    </p>
    <p> 
      The Egee.io website is MIT licensed and was built in large part from input from community members 
      and many members have contributed code directly to the web site's code base on GitHub.
    </p>
    <hr>
  </div>
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light  center-text">What is an "Open Source" community?</h3>
    <h4 class="center-text lato_thin">Open Source is more than just software.</h4>
    <p>
      The Open-Source Model follows a decentralized method of management. Instead of an individual mandate setting the rules
      or making decisions for the community, the community itself makes the decisions.
    </p>
    <p>
      The concept of Open Source has it's roots in Software Development. Virtually everyone is familiar with Open Source Software (not to be confused with FOSS).
      The same idea of Open Source has been carried over into other fields such as hardware, education, music, and even government.
    </p>
    <p>
      An Open Source community is one where the spirit of the community is open to everyone regardless of what platform they use or game they play.
      Everyone is free to collaborate and contribute to the community in the form of code for the website, or a new game server for the community.
    </p>
    
    <hr>
  </div>
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light center-text">Who is this Egee asshole anyway?</h3>
    <p>Just another scumbag in the community</p>
    <hr>
  </div>
</div>