<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          Egee.io
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/codeofconduct">Code of Conduct</a>
      <a class="sidebar-nav-item" href="https://www.youtube.com/c/Egeeirl">Community Events</a>
      <a class="sidebar-nav-item" href="https://github.com/egee-irl">Minecraft Server</a>
      <a class="sidebar-nav-item" href="https://github.com/egee-irl">Garry's Mod Server</a>
      <a class="sidebar-nav-item" href="https://github.com/egee-irl">Rust Server</a>
    </nav>

    <p>Made with ❤️ & Open Source Software</p>
  </div>
</div>
