<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - website</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<nav class="navbar eg-blue-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-white-bis" href="https://egee.io">Egee.io</a>
    </div>
    <div class="navbar-end">
        <a class="navbar-item has-text-white-bis" href="#">About</a>
        <a class="navbar-item has-text-white-bis" href="#">Blog</a>
        <a class="navbar-item has-text-white-bis" href="#">Servers</a>
        <a class="navbar-item has-text-white-bis" href="#">Videos</a>
    </div>
</nav>
@RenderBody()
<footer class="footer has-background-black">
    <div class="content has-text-centered">
        <p>
            Basically, yeah.
        </p>
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
