<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - website</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/siimple/dist/siimple.min.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<nav>
    <div class="siimple-navbar eg-blue-black siimple-navbar--fluid">
        <div class="siimple-layout--left">
            <a class="siimple-navbar-title">Egee.io</a>
        </div>
        <div class="siimple-layout--right">
            <a class="siimple-navbar-link">About</a>
            <a class="siimple-navbar-link" href="https://medium.com/&#64;egee_irl">Blog</a>
            <a class="siimple-navbar-link">Servers</a>
            <a class="siimple-navbar-link" href="http://www.youtube.com/c/BriansprojectsNetEG">Videos</a>
        </div>
    </div>
</nav>
@RenderBody()
<div class="siimple-footer eg-blue-black siimple-footer--small" align="center">
    Made with love and siimple
</div>

<environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
