@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="eg-blue-black">
    <div class="siimple-grid">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col--12">
                <div class="siimple-jumbotron siimple-jumbotron--fluid">
                    <div class="siimple-jumbotron-title">Egee.io</div>
                    <div class="siimple-jumbotron-subtitle">Be different. Play together.</div>
                    <div class="siimple-jumbotron-detail">
                        <div class="siimple-btn siimple-btn--purple">Our Servers</div>
                    </div>
                </div>
            </div>
            <div class="siimple-grid-col siimple-grid-col--6">
                <img src="images/opensource.png" alt="An image of OSS stuff"/>
            </div>
            <div class="siimple-grid-col siimple-grid-col--6">
                <p>
                    Egee.io is proudly self-hosted and powered supported by open source technologies. We don't use <u>any</u> hosting providers or platforms.
                    This allows us to remain in control of our software choices and firmly commit to using &amp; supporting open source technologies.
                </p>
            </div>
        </div>
    </div>
</div>
