@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero eg-blue-black is-large">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-white-bis">
                Egee.io
            </h1>
            <h2 class="subtitle has-text-white-bis">
                Be different. Play together.
            </h2>
            <button class="button eg-btn-purple has-text-white-bis">Our Servers</button>
        </div>
    </div>
</section>
