@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero eg-blue-black is-large">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-white-bis">
                Egee.io
            </h1>
            <h2 class="subtitle has-text-white-bis">
                Be different. Play together.
            </h2>
            <button class="button eg-btn-purple has-text-white-bis">Our Servers</button>
        </div>
    </div>
</section>
<section class="section has-background-black">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="image is-3by2">
                    <img src="/images/opensource.png" alt="Open Source image logo thing">
                </figure>
            </div>
            <div class="column">
                <h1 class="subtitle has-text-white-ter">Powered By Open Source</h1>
                <p>
                    Egee.io is proudly self-hosted and powered supported by open source technologies. We don't use <u>any</u> hosting providers or platforms.
                    This allows us to remain in control of our software choices and firmly commit to using &amp; supporting open source technologies.
                </p><br>
                <p>
                    Nearly every Egee.io asset runs from within a Docker container. From the game servers, to our Discord bot, even this website; everything is running inside of Docker containers.
                </p><br>
                <p>
                    The Egee.io website is built with EmberJS &amp; a dash of JQuery. All of our game servers are powered by <a href="https://github.com/egee-irl/gsc-docs">Game Server Containers</a>. You can read more about the software we use <a href="https://github.com/egee-irl/egeeio">here</a>.
                </p>
            </div>  
        </div>

        @* <h1 class="title">Section</h1> *@
        @* <h2 class="subtitle"> *@
        @*     A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading *@
        @* </h2> *@
    </div>
</section>
