@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="siimple-jumbotron siimple-jumbotron--fluid">
    <div class="siimple-jumbotron-title">Egee.io</div>
    <div class="siimple-jumbotron-subtitle">The Alternative Gaming Community</div>
    <div class="siimple-jumbotron-detail">Be different. Play together.</div>
</div>
