@page
@model ServersModel
@{
    <section class="hero eg-blue-black is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-white-bis">
                    Welcome to the Servers section
                </h1>
                <h2 class="subtitle has-text-white-bis">
                    These are the servers we run.
                </h2>
            </div>
        </div>
    </section>
    <section class="section is-small eg-blue-black">
        <div class="container">
            <p>
                Here, you will find a list of active game servers we run.
            </p>
            <p>
                This page is a work in progress however, if you see a server listed here, you can assume it is up.
            </p><br>
            <p>
                If you have issues connecting to one of our servers, or you would like to see a new server added,
                message an admin on our Discord server or create an issue on our GitHub repo.
            </p>
            <br><button class="button is-small eg-btn-purple has-text-white-bis">Discord</button>
            <a class="github-button" href="https://github.com/egeeio/gsc-meta/issues" data-icon="octicon-issue-opened" data-size="large" aria-label="Issue egeeio/gsc-meta on GitHub">Issue</a>
        </div>
    </section>
    
}
