{{material-slider}}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light center-text">The Unofficial Egee.io Minetest Server</h3>
    <hr>
    <div class="slider">
      <ul class="slides">
        <li><img src="assets/images/games/minetest_720.jpg"></li>
      </ul>
    </div>
    <p>
        Minetest is a near-infinite-world block sandbox game and a game engine, inspired by InfiniMiner, Minecraft, and the like. It is available natively for Windows, OS X, GNU/Linux, Android, and FreeBSD. It is Free/Libre and Open Source Software, released under the LGPL 2.1 or later.
      </p>
      <p>
        This server is an adult server and strong language can and will be used. Parental Guidance is advised.
      </p>
      <p>      
      Server:<br>
      • 8 Core cpu<br>
      • 3GB of memory<br>
      • CentOS 7.2<br>
      • Minetest 0.4.14<br>
      </p>
      <p>
      Mods:<br>
      beds chat2-master dye homedecor_modpack-master mobs_monster-master moretrees-master technic-master warps-master boats cme farming-master Jeija-minetest-mod-mesecons-acd41b5 mobs_npc-master player_textures tnt wool bones creative fire minetest-3d_armor-master mobs_redo-master screwdriver unified_inventory-master xpanes bows default flowers minetest-mods-pipeworks-a1ed3ac moreblocks-master sethome vessels bucket doors give_initial_stuff mobs_animal-master moreores-master stairs walls 
      </p>
      <p>
      How to join us on Minetest:<br>
      1. Install Minetest from your local repo or Minetest.net<br>
      2. Start Minetest and click on the "Client" tab<br>
      3. Enter in the server as "sudoshred.chickenkiller.com" and leave port 30000 as default<br>
      4. Enter your username, and if it's your first time you can enter a password<br>
      </p>
      <p>
      Server Rules:<br>
      1. Don't be a dick<br>
      2. See rule #1.
    </p>
  </div>
</div>
