<div class="mdl-dialog sudo_dialog modal">
  <h4 class="mdl-dialog__title center-text lato_light">Sudoshred</h4>
  <hr>
  <div class="mdl-dialog__content paddingless close">
    <img class="centered" src="assets/images/personas/sudo/sudo_256.jpg">
    <hr>
    <p>Sudoshred is a Linux Sys Admin and fully believes that Linux and open source can change the world.</p>
    <p>He streams Linux native games and distro releases on Twitch. He started his Twitch streaming in an effort to dispell the myth that Linux has no games and to educate people on Linux.</p>
    <p>His goal is to help people move to Linux and grow Linux.</p>
  </div>
  <div class="mdl-dialog__actions">
    <a href="https://www.twitch.tv/sudoshred" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-twitch" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/sudoshred" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </div>
</div>