<div class="persona mdl-card mdl-cell--4-col mdl-cell--1-offset-tablet">
  <div class="mdl-card__title sudo">
    <h2 class="mdl-card__title-text"><b>Sudoshred</b></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p><b> About Sudoshred</b></p>
    <p>Sudoshred is a Linux Sys Admin and fully believes that Linux and open source can change the world.</p>
    <p>He streams Linux native games and distro releases on Twitch. He started his Twitch streaming in an effort to dispell the myth that Linux has no games and to educate people on Linux.</p>
    <p>His goal is to help people move to Linux and grow Linux.</p>
  </div>
  <div class="mdl-card__menu">
    <a href="https://www.twitch.tv/sudoshred" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-twitch" aria-hidden="true" style="color:white"></i>        
    </a>
    <a href="https://twitter.com/sudoshred" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-twitter" aria-hidden="true" style="color:white"></i>      
    </a>
  </div>
</div>