<div class="persona mdl-card mdl-cell--4-col mdl-cell--1-offset-tablet">
  <div class="monkey mdl-card__title">
    <h2 class="mdl-card__title-text" style="color:#222227"><b>Striped Monkey</b></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p><b> About Striped Monkey</b></p>
    <p>Striped_Monkey has been on Linux distros since early 2014 and hasn't used windows for anything more than printing since. Monkey enjoys games like Factorio, Minecraft (Particularly Modded), and Risk of Rain. </p>
    <p>You can probably find him on discord, in-game, and on YouTube. Someday he hopes to be able to stream regularly.</p>
  </div>      
  <div class="mdl-card__menu">
    <a href="https://www.youtube.com/channel/UCQCPM9Klrgx1IQr82vNQCsA" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-youtube-play" aria-hidden="true" style="color:black"></i>      
    </a>
  </div>
</div>