<div class="persona mdl-card mdl-cell--4-col mdl-cell--1-offset-tablet">
  <div class="mdl-card__title rice">
    <h2 class="mdl-card__title-text"><b>Rice (Arroz)</b></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p><b> About Rice (Arroz)</b></p>
    <p>Rice(Arroz) has been using Linux as a desktop OS since the summer of 2015. In early 2015, he has used it to host some game servers. </p>
    <p>Now Rice uses Linux as a content creation tools, from making videos and chairs in blender, to making music on Ardour. You can find Rice on Discord, Twitch, or Steam. He goes by Rice or Aaron, if you see him say Hi.</p>
  </div>      
  <div class="mdl-card__menu">
    <a href="https://www.youtube.com/channel/UCLdKJEj-F00mF6UKfNrYiBQ" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-youtube-play" aria-hidden="true" style="color:white"></i>      
    </a>
    <a href="https://www.twitch.tv/datriceisnice" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-twitch" aria-hidden="true" style="color:white"></i>        
    </a>
  </div>
</div>