<div class="mdl-grid">{{partial "partials/community-tab/header-intro"}}</div>
<hr>
<div class="mdl-grid">

  <a class="mdl-cell mdl-cell--3-col-desktop logo trigger" href="#">
    <div class="monkey_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Monkey</b></span>
      </div>
    </div>
  </a>

  <div class="modal">
    <h4 class="mdl-dialog__title center-text lato_light">Striped_Monkey</h4>
    <hr>
    <div class="mdl-dialog__content paddingless">
      <img class="centered" src="assets/images/personas/monkey/monkey_256.jpg">
      <hr>
      <p>Striped_Monkey has been on Linux distros since early 2014 and hasn't used windows for anything more than printing since. Monkey enjoys games like Factorio, Minecraft (Particularly Modded), and Risk of Rain. </p>
      <p>You can probably find him on discord, in-game, and on YouTube. Someday he hopes to be able to stream regularly.</p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="https://www.youtube.com/channel/UCQCPM9Klrgx1IQr82vNQCsA" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <a class="mdl-cell mdl-cell--3-col-desktop logo trigger" href="#">
    <div class="ghost_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Ghost Squad</b></span>
      </div>
    </div>
  </a>

  <div class="modal">
    <h4 class="mdl-dialog__title center-text lato_light">GhostSquad57</h4>
    <hr>
    <div class="mdl-dialog__content paddingless">
      <img class="centered" src="assets/images/personas/ghost/ghost_256.jpg">
      <hr>
      <p>Keith is an aspiring software programmer, Linux enthusiast, and content producer. He records videos related to Linux gaming: gameplay, commentary, reviews and even livestreams!</p>
      <p>He hopes to one day create his own game for the Linux platform. You can find him on YouTube, Twitch, Twitter and GitHub.</p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="https://www.youtube.com/user/GhostSquad57" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
      <a href="https://www.twitch.tv/ghostsquad57" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-twitch" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/GhostSquad57" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <a class="mdl-cell mdl-cell--3-col-desktop logo trigger" href="#">
    <div class="omega_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Omegapex</b></span>
      </div>
    </div>
  </a>

  <div class="modal">
    <h4 class="mdl-dialog__title center-text lato_light">Omegapex</h4>
    <hr>
    <div class="mdl-dialog__content paddingless">
      <img class="centered" src="assets/images/personas/omega/omega_256.jpg">
      <hr>
    <p>Maeson is a learning artist who also enjoys animating. he may not be a full linux user as he grew up using windows, but he still respects and uses linux on a dual booted system due to problems with windows 10. </p>
    <p>He has a deviant art account, tumblr, and infrequently streams art on picarto.tv. He has plans to become more active in streaming and start a youtube channel once he can buy some new hardware that can handle it.</p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="http://omegasarting.deviantart.com/" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-deviantart" aria-hidden="true"></i>
      </a>
      <a href="http://omegasarting.tumblr.com/" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-tumblr" aria-hidden="true"></i>
      </a>
      <a href="https://picarto.tv/omegapex" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <a class="mdl-cell mdl-cell--3-col-desktop logo trigger" href="#">
    <div class="rice_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Arroz(Rice)</b></span>
      </div>
    </div>
  </a>

  <div class="modal">
    <h4 class="mdl-dialog__title center-text lato_light">Rice (Arroz)</h4>
    <hr>
    <div class="mdl-dialog__content paddingless">
      <img class="centered" src="assets/images/personas/rice/rice_256.jpg">
      <hr>
      <p>Rice(Arroz) has been using Linux as a desktop OS since the summer of 2015. In early 2015, he has used it to host some game servers. </p>
      <p>Now Rice uses Linux as a content creation tools, from making videos and chairs in blender, to making music on Ardour. You can find Rice on Discord, Twitch, or Steam. He goes by Rice or Aaron, if you see him say Hi.</p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="https://www.youtube.com/channel/UCLdKJEj-F00mF6UKfNrYiBQ" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
      <a href="https://www.twitch.tv/datriceisnice" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-twitch" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <a class="mdl-cell mdl-cell--3-col-desktop logo trigger" href="#">
    <div class="teal_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Teal1500</b></span>
      </div>
    </div>
  </a>

  <div class="modal">
    <h4 class="mdl-dialog__title center-text lato_light">Teal1500</h4>
    <hr>
    <div class="mdl-dialog__content paddingless">
      <img class="centered" src="assets/images/personas/teal/teal_256.jpg">
      <hr>
      <p>Teal1500 is a full time Linux user and content creator. He often does Performance showcases on his YouTube channel but plans on doing other things as well in the near future.</p>
      <p>He hopes to grow his YouTube channel and show everyone the world of Linux.</p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="https://www.youtube.com/channel/UCJP_asKemtx2uuPeL8Z7I6Q" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
      <a href="https://www.twitch.tv/xxteal1500xx" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-twitch" aria-hidden="true"></i>
      </a>
      <a href=" https://twitter.com/teal1500" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <a class="mdl-cell mdl-cell--3-col-desktop logo trigger" href="#">
    <div class="sudo_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Sudoshred</b></span>
      </div>
    </div>
  </a>

  <div class="modal">
    <h4 class="mdl-dialog__title center-text lato_light">Sudoshred</h4>
    <hr>
    <div class="mdl-dialog__content paddingless">
      <img class="centered" src="assets/images/personas/sudo/sudo_256.jpg">
      <hr>
      <p>Sudoshred is a Linux Sys Admin and fully believes that Linux and open source can change the world.</p>
      <p>He streams Linux native games and distro releases on Twitch. He started his Twitch streaming in an effort to dispell the myth that Linux has no games and to educate people on Linux.</p>
      <p>His goal is to help people move to Linux and grow Linux.</p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="https://www.twitch.tv/sudoshred" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-twitch" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/sudoshred" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <a class="mdl-cell mdl-cell--3-col-desktop logo trigger" href="#">
    <div class="linux_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>The Linux Gamer</b></span>
      </div>
    </div>
  </a>

  <div class="modal">
    <h4 class="mdl-dialog__title center-text lato_light">The Linux Gamer</h4>
    <hr>
    <div class="mdl-dialog__content paddingless">
      <img class="centered" src="assets/images/personas/linux/linux_256.jpg">
      <hr>
      <p>Gardiner (aka The Linux Gamer) is a YouTube video game critic, comedian, and musician. He dabbles in web design, art and graphic work, and writing as well.</p>
      <p>His goal is simple: create a YouTube channel anyone can enjoy! You can subscribe to his channel and follow him on Twitter.</p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="https://www.youtube.com/user/tuxreviews" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-youtube-play" aria-hidden="true"></i> 
      </a>
      <a href="https://twitter.com/thelinuxgamer" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <a class="mdl-cell mdl-cell--3-col-desktop logo trigger" href="#">
    <div class="zawaken_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Zawaken</b></span>
      </div>
    </div>
  </a>

  <div class="modal">
    <h4 class="mdl-dialog__title center-text lato_light">Zawaken</h4>
    <hr>
    <div class="mdl-dialog__content paddingless">
      <img class="centered" src="assets/images/personas/zawaken/zawaken_256.jpg">
      <hr>
      <p>Robin [Zawaken] is a recently ascended full time Linux user. He hopes that in the next few years Linux-usage will be at par with the competitors.</p>
      <p>He uses most of his time to derp around in discord, so you'll probably catch him in the Voice/Text-channels or Ingame on steam.</p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="http://steamcommunity.com/id/Zawaken/" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-steam" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/Zawakeen" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </div>

</div>


{{outlet}}
