{{yield}}
<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <h3><a class="blue-text text-darken-3" href="https://getfedora.org/">Fedora</a> <i class="fa fa-circle yellow-text" aria-hidden="true"></i></h3>
          <p>
            Fedora is a community-based Linux distribution sponsored by Red Hat, a multi-million dollar publicly traded corporation. Red Hat is also one of the top contributors to the Linux kernel and employs many of the contributors of the Gnome desktop project.
          </p>
          <p>
            Fedora has earned a reputation for focusing on adapting bleeding-edge technologies and ensuring changes are made upstream in a way that benefits the Linux community as a whole.
          </p>
          <p>
            Unlike other Linux distributions, Fedora has a relatively short life cycle. Versions are only supported for one month after new versions are released. This helps to ensure anyone using the distribution is using the latest version of it.
          </p>
          <p>
            The default desktop environment for Fedora is GNOME and because of this, Fedora nearly always has the absolute latest stable version of the it.  And while other desktop environments can be installed with relative ease, Fedora is best suited to GNOME and most of the documentation is for GNOME.
          </p>
          <p>
            Fedora uses the RPM (Red Hat Package Manager) package management system, and uses DNF (Dandified Yum) for package management. DNF replaced the aging YUM package manager in Fedora 22. Like openSUSE’s Zypper package manager, DNF uses the libsolv library for satisfiability solving.
          </p>
          <p>
            Like the Debian Linux distribution, Fedora takes a hard-line approach to Free and Open Source software and proprietary drivers, firmware, and codecs are not allowed in the official package repositories.
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/fedora_300.png">
          <p><b>Package Manager:</b> DNF/Yum</p>
          <p><b>Installer:</b> Graphical (Anaconda)</p>
          <p><b>Default Desktop Environment:</b> Gnome</p>
          <p><b>Derivatives:</b> <a href="https://kororaproject.org/">Korora</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
