.eg-hard-gray {
    background-color: #14191E;
}
.eg-blue-black {
    background-color: #030811;
}

p {
    color: #ebf2fa;
}

.siimple-jumbotron.siimple-jumbotron--fluid {
    text-align: center;
}

.siimple-navbar-title {
    color: #ebf2fa;
}

.siimple-navbar-link {
    color: #ebf2fa;
}

.siimple-jumbotron-title {
    color: #ebf2fa;
}

.siimple-jumbotron-subtitle {
    color: #ebf2fa;
}

.siimple-jumbotron.siimple-jumbotron--fluid {
    background-color: #030811;
}

.siimple-btn.siimple-btn--purple {
    background-color: #822ff7;
}