body {
    font-family: 'Montserrat', sans-serif;
}

/*a.navbar-item:hover {*/
    /*background-color: #030811;*/
/*}*/

.eg-title {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.125;
}


.navbar-item {
    font-weight: bold;
}

.eg-hard-gray {
    background-color: #14191E;
}
.eg-blue-black {
    background-color: #030811;
}

.navbar-brand {
    font-weight: bold;
    font-size: 22px;
}

p {
    color: #ebf2fa;
}

.siimple-jumbotron.siimple-jumbotron--fluid {
    text-align: center;
}

.siimple-navbar-title {
    color: #ebf2fa;
}

.siimple-navbar-link {
    color: #ebf2fa;
}

.siimple-jumbotron-title {
    color: #ebf2fa;
}

.siimple-jumbotron-subtitle {
    color: #ebf2fa;
}

.siimple-jumbotron.siimple-jumbotron--fluid {
    background-color: #030811;
}

.eg-btn-purple {
    border-width: 0px;
    background-color: #822ff7;
}

.title {
    font-size: 3rem;
}

.subtitle {
    font-size: 2rem;
    
}
