{{material-slider}}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light center-text">The Official Egee.io Terraria Server</h3>
    <hr>
    <div class="slider">
      <ul class="slides">
        <li><img src="assets/images/games/terraria_720.jpg"></li>
      </ul>
    </div><br>
      <p>
        Our Terraria server runs vanilla (un-modded) server version 1.3.4 and is moderated by <b>Omegapex</b>.
      </p>
      <p>
        The Terraria server is a standard softcore server and uses TShock so that if any issues DO arise, it would be relatively easy to pin point and fix.
      </p>
      <p>
        While the server is typically free of problems (griefers, lag, crashes, unexpected deaths, etc), if issues do arise, please to report them 
        on the Egee.io Discord via the Terraria channel, or to Omegapex directly. If you are unable to access the server at all, feel free to Tweet at Egee himself.
      </p>
      <p>
        Connecting to the Egee.io Terraria server is simple:<br>
        &#8226; Fire up Terraria<br>
        &#8226; From the main menu, click "Multiplayer"<br>
        &#8226; From the "Multiplayer" screen, click "Join via IP"<br>
        &#8226; Enter Egee.io as the server address once you have chosen (or created) a character<br>
        &#8226; Server port is default (7777)<br>       
      </p>
      <p>
        And that's it!
      </p>
  </div>
</div>
