<dialog class="mdl-dialog monkey_dialog">
  <h4 class="mdl-dialog__title center-text lato_light">Striped_Monkey</h4>
  <hr>
  <div class="mdl-dialog__content paddingless close">
    <img class="centered" src="assets/images/personas/monkey/monkey_256.jpg">
    <hr>
    <p>Striped_Monkey has been on Linux distros since early 2014 and hasn't used windows for anything more than printing since. Monkey enjoys games like Factorio, Minecraft (Particularly Modded), and Risk of Rain. </p>
    <p>You can probably find him on discord, in-game, and on YouTube. Someday he hopes to be able to stream regularly.</p>
  </div>
  <div class="mdl-dialog__actions">
    <a href="https://www.youtube.com/channel/UCQCPM9Klrgx1IQr82vNQCsA" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>
  </div>
</dialog>
