<div class="mdl-grid">
  {{partial "partials/games-tab/personas/ghost"}}
  <div class="game mdl-card mdl-cell--6-col-desktop mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet">
    <div class="mdl-card__title zomboid"></div>
    <div class="mdl-card__supporting-text">
      <p>
        GhostSquad57 from the Egee.io community runs a Project Zomboid server over at: ghostsquad57.com:16261
      </p>
      <p>
        • Hardware: the server uses an Intel i5-3550 at 3.3GHz and 16GBs of Ballistix Sport UDIMM Memory. For storage, the server uses a 250GB Samsung 850 EVO SSD. The server is also equipped with an Intel Pro/1000 Dual Gigabit LAN NIC.<br>
        • Software used to host the server: the server is SteamVAC secured; unfortunetly people with the GOG version cannot connect<br>
        • Mods: <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=514427485">Phoenix</a>, <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=514618604">ORMtnMan's Real Gun Mod</a>, <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=640674707">OGRM Silencers</a>, <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=498441420">Hydrocraft</a>, <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=498342776">More Zombie Loot</a><br>
        • Uptime: varies; usually %80<br>
        • Gamemode: PvE and PVP<br>
        • SpawnItems: the player spawns with these items: Disinfectant, Bandage, Pills, Hunting Knife, 3x Bullets 9mm, Pistol, Hiking Bag, and a Watermelon.<br>
        • Map: Muldraugh, KY & Phoenix<br>
        • Maxplayers: currently the maxplayers is set to 10<br>
        • Ping Limit: people with ping over 250 will be kicked<br>
        • Safehouses: safehouses are enabled<br>
        • Sandbox Vars: XP is multiplied by 2. Loot respawns and there's higher chances of good loot. Zombie vars have also been changed to make them easier to combat and avoid <br>
      </p>
      <p>
Connecting to the server:<br>
1. You need the Steam version of Project Zomboid<br>
2. From the main menu select join in the bottom left<br>
3. Make sure you're on the FAVORITES tab<br>
4. Fill the right-hand side as follows:<br>

 • Favorite Name: set whatever you want here<br>
 • IP: ghostsquad57.com<br>
 • Local IP: leave blank<br>
 • Port: 16261<br>
 • Server Password: leave blank<br>
 • Description: set this to whatever<br>
 • Account Username: set this to what you want your character name to be<br>
 • Account Password: if you type in a password here, your name will be reserved and you'll have to use the password everytime you want to connect with that user<br>
 • Click add and voilà! the server should now be added to your favorites<br>

After you've filled everything out and added the server to your favorites, simply click on the server and click JOIN SERVER on the bottom.
      </p>
      <p>
        Contacting:<br>
        I'm looking for feedback on the Zomboid server: if there are any mods you'd like to see added, please contact me over at the egee.io Discord and I'll get right on it.<br>
        You can also contact me via <a href="mailto:contact@ghostsquad57.com?subject=Zomboid">my email address</a>
      </p>
    </div>
  </div>  
</div>
