/* Site Theme & Variables
========================================================================== */
@accent-dark: #222227;
@background-dark: #363636;
@text-light: #d5d5d5;

main {
  color: @text-light;
  background-color: @background-dark;
  z-index: 1;
}

/* Slideshow Component
========================================================================== */
.slider {
  position: relative;
  height: 400px;
  width: 100%;
}

.slider.fullscreen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider.fullscreen ul.slides {
  height: 100%;
}

.slider.fullscreen ul.indicators {
  z-index: 2;
  bottom: 30px;
}

.slider .slides {
  background-color: rgb(96, 125, 139);;
  margin: 0;
  height: 400px;
}

.slider .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: inherit;
  overflow: hidden;
}

.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.slider .slides li .caption {
  color: #fff;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  opacity: 0;
}

.slider .slides li .caption p {
  color: #e0e0e0;
}

.slider .slides li.active {
  z-index: 999;
}

.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 12px;
  background-color: rgb(96, 125, 139);;
  transition: background-color .3s;
  border-radius: 50%;
}

.slider .indicators .indicator-item.active {
  background-color: rgb(63, 81, 181);
}


/* Modal Dialog
========================================================================== */
.paddingless {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media(min-width: 800px){
  .modal {
    background: white;
    position: absolute;
    width: 512px;
    z-index: 15;
    top: 18%;
    left: 36%;
    color: black;
    // margin: -100px 0 0 -150px;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
}

@media(max-width: 799px){
  .modal {
    background: white;
    position: absolute;
    width: 400px;
    z-index: 15;

    color: black;
    // margin: -100px 0 0 -150px;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
}


.trigger:focus + .modal {
  opacity: 1;
  visibility: visible;
}

/* Cards & Overrides
========================================================================== */
@square-card-size: 256px;

.card-image.mdl-card {
  width: @square-card-size;
  height: @square-card-size;
}

.card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.card-image__subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.card-image__subtitle_sudo {
  color: @background-dark;
  font-size: 14px;
  font-weight: 500;
}

.card-link {
  display: block;
}

.mdl-card__title-text {
  position: absolute;
  left: 16px;
  top: 16px;
}

.mdl-card__supporting-text {
  color: @text-light;
}

.mdl-card {
  background-color: @background-dark;
}

/* Game Squares
========================================================================== */

div.gmod_256 {
  background: url('../images/games/gmod_256.jpg') center / cover;
}

div.quakeworld_256 {
  background: url('../images/games/quakeworld_256.jpg') center / cover;
}

div.quake2_256 {
  background: url('../images/games/quake2_256.jpg') center / cover;
}

div.minetest_256 {
  background: url('../images/games/minetest_256.jpg') center / cover;
}

div.zomboid_256 {
  background: url('../images/games/zomboid_256.png') center / cover;
}

div.minecraft_256 {
  background: url('../images/games/minecraft/minecraft_square.jpg') center / cover;
}

div.rust_256 {
  background: url('../images/games/rust_256.jpg') center / cover;
}

div.terraria_256 {
  background: url('../images/games/terraria_256.jpg') center / cover;
}

/* Persona Squares
========================================================================== */
div.egee_256 {
  background: url('../images/personas/egee/egee_256.jpg') center / cover;
}

div.monkey_256 {
  background: url('../images/personas/monkey/monkey_256.jpg') center / cover;
}

div.ghost_256 {
  background: url('../images/personas/ghost/ghost_256.jpg') center / cover;
}

div.omega_256 {
  background: url('../images/personas/omega/omega_256.jpg') center / cover;
}

div.rice_256 {
  background: url('../images/personas/rice/rice_256.jpg') center / cover;
}

div.teal_256 {
  background: url('../images/personas/teal/teal_256.jpg') center / cover;
}

div.sudo_256 {
  background: url('../images/personas/sudo/sudo_256.jpg') center / cover;
}

div.zawaken_256 {
  background: url('../images/personas/zawaken/zawaken_256.jpg') center / cover;
}

div.linux_256 {
  background: url('../images/personas/linux/linux_256.jpg') center / cover;
}

/* Font Styles
========================================================================== */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Medium.woff');
}

@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/lato/Lato-Light.woff');
}

@font-face {
  font-family: 'Lato Thin';
  src: url('../fonts/lato/Lato-Thin.woff');
}

body {
  font-family: 'Lato', 'sans-serif';
}

.lato_light {
  font-family: 'Lato Light', 'sans-serif';
}

.lato_thin {
  font-family: 'Lato Thin', 'sans-serif';
}

.lato_regular {
  font-family: 'Lato Regular', 'sans-serif';
}


/* Miscellaneous Helpers & Overrides
========================================================================== */
p.eg-padded {
  padding-left: 300px;
  padding-right: 300px;
}

.mdl-cell-center {
  margin: 0 auto;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.mdl-layout-centered {
  align-items: center;
  justify-content: center;
}

.logo {
  color: @text-light;
  text-decoration: none;
}

.mdl-card__title-text {
  color: @text-light;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.marginless-top {
    margin-top: 0px;
}

.marginless-bottom {
    margin-bottom: 0px;
}

.center-text {
  text-align: center;
}

.card-annoucement {
  text-align: center;
}

.discord_margin {
  margin-top: 36px;
}

/* Header & Footer Overrides
========================================================================== */
.mdl-layout__header-row {
  height: 48px;
  padding-left: 20px;
}

.mdl-layout__header {
  color: @text-light;
  background-color: @accent-dark;
}

.mdl-layout__tab-bar {
  color: @text-light;
  background-color: @accent-dark;
}

.mdl-mini-footer {
  color: @text-light;
  background-color: @accent-dark;
  padding-top: 18px;
  padding-bottom: 18px;
}
