/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p.eg-padded {
  padding-left: 300px;
  padding-right: 300px;
}

 .mdl-layout-centered {
  align-items: center;
  justify-content: center;
}

div.mdl-grid.eg-container {
  padding: 150px;
}

.background-div {
    background-image: url('http://i.imgur.com/K3bzioD.jpg');
    width: 200px;
    height: 100px;
}

div.my-frame {
  width:350px;
  height:475px;
}
