/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

div.persona {
  width: 512px;  
}

div.persona > .mdl-card__title {
  color: #fff;
  height: 512px;
  background: url('https://pbs.twimg.com/profile_images/459119006633316352/zgFndFBY.jpeg') center / cover;
}

div.game {
  width: 600px;
  height: 400px; /* I have no idea why this works */
}

div.game > .mdl-card__title {
  color: #fff;
  height: 215px;
  background: url('../images/servers/rust_full.jpg') center / cover;
}













.card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('../images/servers/minecraft.jpg') center / cover;
}
.card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.card-image__subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

p.eg-padded {
  padding-left: 300px;
  padding-right: 300px;
}

.mdl-cell-center {
  margin: 0 auto;
}

 .mdl-layout-centered {
  align-items: center;
  justify-content: center;
}

div.mdl-grid.eg-container {
  padding: 150px;
}

.background-div {
    background-image: url('http://i.imgur.com/K3bzioD.jpg');
    width: 200px;
    height: 100px;
}

div.my-frame {
  width:350px;
  height:475px;
}

/*.card-wide.mdl-card {
  width: 512px;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/images/servers/rust.jpg') center / cover;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}*/