<div class="mdl-grid">
  <div class="mdl-grid">{{partial "partials/welcome-tab/title"}}</div>
</div>
<hr>
  <div class="mdl-grid">{{partial "partials/welcome-tab/welcome-blurb"}}</div>
  <div class="mdl-grid">{{partial "partials/welcome-tab/join-us"}}</div>
