<div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
  <p class="center-text">
    <h3 class="marginless-top lato_light">Welcome To Egee.io!</h3>
  </p>

  <p>
    Egee.io is a gaming community that follows the <a href="https://en.wikipedia.org/wiki/Open-source_model">open-source</a> model of collaboration and development.
    Egee.io is driven by a passionate community of gamers, hackers, and regular desktop users. If you'd like to learn more about us, check out the <i>about</i> tab.
  </p>
</div>