<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col s8 offset-s2">
        <h4 class="center-align"><i>"Why does Egee.io host games on Linux instead of Windows?"</i></h4>
          <p class="black-text">
            The primary reason is simple: <b>up-time</b>. One of the most important facets of hosting a dedicated game server or website is making sure it is accessible 99.9% of the time. 
            Linux is simply easier to guarantee and maintain that up-time.
          </p>
	  <p class="black-text">
            The secondary reason is cost. In order to run a Windows server, Egee (the person) would need to purchase a Windows Server license and then learn the inner workings of Windows Server.
            And since Egee already knows Linux administration very well, there is no reason to use Windows over Linux.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
