{{yield}}
<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col m5 s12">
        <div class="icon-block">
          <a href="http://steamcommunity.com/groups/egeeio">
            <img class="responsive-img" src="assets/images/servers/minecraft.jpg">
          </a>
        </div>
      </div>
      <div class="col m7 s12">
        <h2 class="center-align">Minecraft</h2>
          <p>
            The Egee.io Minecraft server is an un-modded server running version 1.10 and can support up to 20 concurrent players. You can connect to it by simply typing <i>Egee.io</i> into the server address.
          </p>
          <p>
            It's a survival server but we expect people to play friendly. The server is typically free of problems (griefers, lag, unexpected deaths, etc) but if issues do arise, 
            please to report them <a href="http://steamcommunity.com/groups/egeeio/discussions/1/">here</a>.
          </p>
      </div>
      </div>
    </div>
  </div>
</div>
