<div class="mdl-grid">

  <div class="persona mdl-card mdl-cell--4-col mdl-cell--1-offset-tablet">
    <div class="mdl-card__title ghostsquad57">
      <h2 class="mdl-card__title-text"><b>GhostSquad57</b></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p><b> About GhostSquad57</b></p>
      <p>Keith is an aspiring software programmer, Linux enthusiast, and content producer. He records videos related to Linux gaming: gameplay, commentary, reviews and even livestreams!</p>
      <p>He hopes to one day create his own game for the Linux platform. You can find him on YouTube, Twitch, Twitter and GitHub.</p>
    </div>      
    <div class="mdl-card__menu">
      <a href="https://www.youtube.com/user/GhostSquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-youtube-play" aria-hidden="true" style="color:white"></i>      
      </a>
      <a href="https://www.twitch.tv/ghostsquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitch" aria-hidden="true" style="color:white"></i>        
      </a>
      <a href="https://twitter.com/GhostSquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitter" aria-hidden="true" style="color:white"></i>      
      </a>
    </div>
  </div>

  <div class="game mdl-card mdl-cell--6-col-desktop mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet">
    <div class="mdl-card__title rust"></div>
    <div class="mdl-card__supporting-text">
      <p>
        The offical Egee.io Rust server is a modded server and is moderated by Egee.io community member <i>GhostSquad57</i>.
      </p>
      <p>
        The Rust server uses Oxide and we use the following plugins:
      </p>
      <p>
        • <a href="http://oxidemod.org/plugins/rust-io-clans.842/">Rust:IO Clans</a><br>
        • <a href="http://oxidemod.org/plugins/gather-manager.675/">Gather Manager</a> (x3 gather rate)<br>
        • <a href="http://oxidemod.org/plugins/kits.668/">Kits</a><br>
        • <a href="http://oxidemod.org/plugins/n-teleportation.1832/">Teleportation</a> (Including homes & towns)<br>
        • <a href="http://oxidemod.org/plugins/stack-size-controller.1185/">Stack Size Controller</a><br>
      </p>
      <p>
        If you just want to check out the server map and see who's been playing, you can look at the <a href="http://playrust.io/#egee.io">live map</a>.
      </p>
      <p>
        Connecting to the Egee.io Rust server is simple:<br>
        &#8226; Fire up Rust<br>
        &#8226; From the main menu, click the "Play Game" icon<br>
        &#8226; Click "Modded" from the selections on the left side of the screen<br>
        &#8226; Enter <i>Egee</i> into the search field at the bottom of the screen<br>
        &#8226; Click the Egee.io server name in the server list and click "JOIN SERVER"<br>
      </p>
      <p>
        And that's it!
      </p>
    </div>
  </div>  
</div>
