<div class="mdl-grid">

  <div class="persona mdl-card mdl-cell--4-col mdl-cell--1-offset-tablet">
    <div class="mdl-card__title ghostsquad57">
      <h2 class="mdl-card__title-text"><b>GhostSquad57</b></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p><b> About GhostSquad57</b></p>
      <p>Keith is an aspiring software programmer, Linux enthusiast, and content producer. He records videos related to Linux gaming: gameplay, commentary, reviews and even livestreams!</p>
      <p>He hopes to one day create his own game for the Linux platform. You can find him on YouTube, Twitch, Twitter and GitHub.</p>
    </div>      
    <div class="mdl-card__menu">
      <a href="https://www.youtube.com/user/GhostSquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-youtube-play" aria-hidden="true" style="color:white"></i>      
      </a>
      <a href="https://www.twitch.tv/ghostsquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitch" aria-hidden="true" style="color:white"></i>        
      </a>
      <a href="https://twitter.com/GhostSquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitter" aria-hidden="true" style="color:white"></i>      
      </a>
    </div>
  </div>

  <div class="game mdl-card mdl-cell--6-col-desktop mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet">
    <div class="mdl-card__title zomboid"></div>
    <div class="mdl-card__supporting-text">
      <p>
        GhostSquad57 from the Egee.io community runs a Project Zomboid server over at: 70.126.117.66:16261
      </p>
      <p>
        • Hardware: the server uses an Intel i5-3550 at 3.3GHz and 16GBs of Ballistix Sport UDIMM Memory. For storage, the server uses a 250GB Samsung 850 EVO SSD. The server is also equipped with an Intel Pro/1000 Dual Gigabit LAN NIC.<br>
        • Software used to host the server: the server is SteamVAC secured; unfortunetly people with the GOG version cannot connect<br>
        • Mods: <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=514427485">Phoenix</a>, <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=514618604">ORMtnMan's Real Gun Mod</a>, <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=640674707">OGRM Silencers</a>, <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=498441420">Hydrocraft</a>, <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=498342776">More Zombie Loot</a><br>
        • Uptime: varies; usually %80<br>
        • Gamemode: PvE and PVP<br>
        • SpawnItems: the player spawns with these items: Disinfectant, Bandage, Pills, Hunting Knife, 3x Bullets 9mm, Pistol, Hiking Bag, and a Watermelon.<br>
        • Map: Muldraugh, KY & Phoenix<br>
        • Maxplayers: currently the maxplayers is set to 10<br>
        • Ping Limit: people with ping over 250 will be kicked<br>
        • Safehouses: safehouses are enabled<br>
        • Sandbox Vars: XP is multiplied by 2. Loot respawns and there's higher chances of good loot. Zombie vars have also been changed to make them easier to combat and avoid <br>
      </p>
      <p>
Connecting to the server:<br>
1. You need the Steam version of Project Zomboid<br>
2. From the main menu select join in the bottom left<br>
3. Make sure you're on the FAVORITES tab<br>
4. Fill the right-hand side as follows:<br>

 • Favorite Name: set whatever you want here<br>
 • IP: 70.126.117.66<br>
 • Local IP: leave blank<br>
 • Port: 16261<br>
 • Server Password: leave blank<br>
 • Description: set this to whatever<br>
 • Account Username: set this to what you want your character name to be<br>
 • Account Password: if you type in a password here, your name will be reserved and you'll have to use the password everytime you want to connect with that user<br>
 • Click add and voilà! the server should now be added to your favorites<br>

After you've filled everything out and added the server to your favorites, simply click on the server and click JOIN SERVER on the bottom.
      </p>
      <p>
        I'm looking for feedback on the Zomboid server: if there are any mods you'd like to see added, please contact me over at the egee.io Discord and I'll get right on it.
      </p>
    </div>
  </div>  
</div>
