<div class="persona mdl-card mdl-cell--4-col mdl-cell--1-offset-tablet">
  <div class="mdl-card__title omegapex">
    <h2 class="mdl-card__title-text" style="color:#222227"><b>Omegapex</b></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p><b> About Omegapex</b></p>
    <p>Maeson is a learning artist who also enjoys animating. he may not be a full linux user as he grew up using windows, but he still respects and uses linux on a dual booted system due to problems with windows 10. </p>
    <p>He has a deviant art account, tumblr, and infrequently streams art on picarto.tv. He has plans to become more active in streaming and start a youtube channel once he can buy some new hardware that can handle it.</p>
  </div>      
  <div class="mdl-card__menu">
    <a href="http://omegasarting.deviantart.com/" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-deviantart" aria-hidden="true" style="color:#222227"></i>      
    </a>
    <a href="http://omegasarting.tumblr.com/" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-tumblr" aria-hidden="true" style="color:#222227"></i>        
    </a>
    <a href=" https://picarto.tv/omegapex" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-video-camera" aria-hidden="true" style="color:#222227"></i>      
    </a>
  </div>
</div>