<div class="mdl-cell mdl-cell--3-col-desktop">
  <a class="logo" href="terraria">
    <div  class="terraria_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
    <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Terraria</b></span>
      </div>
    </div>
  </a>
</div>