{{material-slider}}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light center-text">The Official Egee.io Garry's Mod Server</h3>
    <hr>
    <div class="slider">
      <ul class="slides">
        <li><img src="https://goo.gl/bBwfcB"></li>
        <li><img src="https://goo.gl/OkFWRn"></li>
        <li><img src="https://goo.gl/b4zDSL"></li>
        <li><img src="https://goo.gl/6SZNe8"></li>
        <li><img src="https://goo.gl/5GNSLA"></li>
        <li><img src="https://goo.gl/l1YA3g"></li>
      </ul>
    </div>
    <p>
      The offical Egee.io Garry's Mod server is moderated by Egee.io community member <i>Rice (Arroz)</i>.
    </p>
    <p>
      Our Gmod server is heavily modded but we typically play Prop Hunt or Guess Who game modes.
      Since the server runs alot of mods, you should subscribe to <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=695623518">this</a> GMod collection before joining.
    </p>
    <p>
      The Gmod server supports the following game modes:<br>
      &#8226; Sandbox<br>
      &#8226; Prop Hunt<br>
      &#8226; Guess Who<br>
      &#8226; Trouble In Terrorist Town<br>
      &#8226; Murder<br>
      &#8226; Stop It Slender<br>
    </p>
    <p>
      Connecting to the Egee.io Gmod server is simple:<br>
      &#8226; Fire up Garry's Mod<br>
      &#8226; From the main menu, click "Options"<br>
      &#8226; Press the tilde key `<br>
      &#8226; Type "connect egee.io" and press enter<br>
    </p>
    <p>
      You can also find it in the Server Browser, but it depends on what the current game mode is. Connecting directly via the console is easiest.
    </p>
  </div>
</div>
