<dialog class="mdl-dialog rice_dialog">
  <h4 class="mdl-dialog__title center-text lato_light">Rice (Arroz)</h4>
  <hr>
  <div class="mdl-dialog__content paddingless close">
    <img class="centered" src="assets/images/personas/rice/rice_256.jpg">
    <hr>
    <p>Rice(Arroz) has been using Linux as a desktop OS since the summer of 2015. In early 2015, he has used it to host some game servers. </p>
    <p>Now Rice uses Linux as a content creation tools, from making videos and chairs in blender, to making music on Ardour. You can find Rice on Discord, Twitch, or Steam. He goes by Rice or Aaron, if you see him say Hi.</p>
  </div>
  <div class="mdl-dialog__actions">
    <a href="https://www.youtube.com/channel/UCLdKJEj-F00mF6UKfNrYiBQ" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>
    <a href="https://www.twitch.tv/datriceisnice" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-twitch" aria-hidden="true"></i>
    </a>
  </div>
</dialog>