<div class="mdl-layout mdl-layout-centered">
	<h3 class="mdl-layout mdl-layout-centered">What Is Egee.io?</h3>
		<p>
			Egee.io is an alternative PC gaming community that caters to the more technically-mind gamers and power users. 
			Many of us in the Egee.io community are Linux advocates and most community members are dual-booters or full-time Linux users.
	</p>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"><iframe src="https://discordapp.com/widget?id=183740337976508416&theme=dark" width="350" height="475" allowtransparency="true" frameborder="0"></iframe></div>
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
		<p>
			The Egee.io community home is on Discord. Discord is a low-latency messaging platform similar to IRC or Mumble but specifically designed with gaming communities in mind. All news and updates about the Egee.io game servers, live streams, or game nights are posted on Discord.
		</p>
		<p>
			There are chat channels for each topic on the Egee.io Discord and the community is moderated to prevent spam. We also have several voice channels that make gaming and collaborating together a whole lot easier.
		</p>
		<p>
			Egee.io also has a Steam group with a forum for people to interact with the community outside of Discord.
		</p>
		<a href="https://steamcommunity.com/groups/egeeio/discussions">
			<img class="responsive-img" src="assets/images/home/steam.ico">
		</a>
	</div>
</div>