<h3 class="center-align">What Is Egee.io?</h3>
  <div class="container">
    <div class="section">
      Egee.io is an alternative PC gaming community with a focus on Linux gaming. You don't have to be a Linux gamer to join but expect to hear about it alot :).
      Here's some more filler text to hopefully wrap the rest of this div. Maybe having more than just one long-ass line will look better. Who knows.
    </div>
    <div class="section">
      <div class="row">
	<div class="col m3 s12">
	  <a href="https://discord.gg/011dEIyTVX0rqXc5V">
	    <img class="responsive-img" src="assets/images/home/Discord-Logo-Color.png">
	  </a>
	</div>
	<div class="col m3 s12">
	  <a href="https://discord.gg/011dEIyTVX0rqXc5V">
	    <img class="responsive-img" src="assets/images/home/steam.ico">
	  </a>
	</div>
	<div class="col m6 s12">
	  <p class="black-text">
	    The Egee.io gaming community lives in Discord. All news and updates are transmitted there. We have bots that help moderate the chat room and play music for us.
	    We have both voice and text chat rooms for the games we play and topics that interest us.
	  </p>
	  <p>
	    Most of us are on Steam and sometimes that is the easiest way to join one another while we are playing games. Especially for games like Rust and GarrysMod!
	  </p>
	</div>
      </div>
    </div>
  </div>