<div class="cyan lighten-3">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align black-text">Games We Play</h3>
          <p class="black-text">
            The Egee.io Linux gaming community hosts and maintains two persistent game servers with guaranteed up-time.
            Both game servers are hosted on a physical machines running Ubuntu 14.04 with a gigabit ethernet connection.
          </p>
          <p class="black-text">
            New game servers can be created at the request of the community and for events, such as Prop Hunt in Gary's Mod.
            These particular servers are short-lived and don't affect the other servers we run.
          </p>
          <p class="black-text">
            Check out the <a href="servers">servers</a> page for more information about the game servers and how to connect to them!
          </p>
        </div>
        <div class="col m7 s12">
          <div class="row">
            <img class="responsive-img" src="assets/images/home/minecraft.jpg">
          </div>
          <div class="row">
            <img class="responsive-img" src="assets/images/home/terraria.jpg">
          </div>
	  <div class="row">
            <img class="responsive-img" src="assets/images/home/garrys.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
