<div class="cyan lighten-3">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align black-text">Games We Play</h3>
          <p class="black-text">
            We currently host and moderate two game servers - <b>Minecraft</b> and <b>Terarria</b>.
            Both game servers are hosted on a physical machine running Ubuntu 16.04 with a gigabit ethernet connection.
          </p>
          <p class="black-text">
            Check out the <a class="black-text" href="servers"><b><u>servers</u></b></a> page for more information about the game servers and how to connect to them!
          </p>
        </div>
        <div class="col m7 s12">
          <div class="row">
            <img class="responsive-img" src="assets/images/home/minecraft.jpg">
          </div>
          <div class="row">
            <img class="responsive-img" src="assets/images/home/terraria.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
