<div class="cyan lighten-3">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align black-text"><a href="servers">Games We Play</a></h3>
          <p class="black-text">
            The Egee.io gaming community manages several game servers with low lag and high uptime. 
            All our servers are hosted locally on Linux and <u>not</u> hosted or managed by a 3rd party hosting service.
          </p>
          <p class="black-text">
            Servers tend to come and go at the community's interest. If the community loses interest in a particular game, the server is spun down
            and a new game server is spun up. Occasionally a game server will be spun up for a live stream event or a game night.
          </p>
	  <p class="black-text">
            Check out the <i><a href="servers">Servers</a></i> page for information about our current servers and details on how to connect to them.
          </p>
        </div>
        <div class="col m7 s12">
	  <div class="row">
	    <img class="responsive-img" src="assets/images/home/minecraft.jpg">
	  </div>
	  <div class="row">
	    <img class="responsive-img" src="assets/images/home/rust.jpg">
	  </div>
	  <div class="row">
	    <img class="responsive-img" src="assets/images/home/garrys.jpg">
	  </div>
        </div>
      </div>
    </div>
  </div>
</div>
