<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m6 s12">
          <a href="http://steamcommunity.com/groups/egeeio">
            <img class="responsive-img" src="assets/images/home/Steam_130.png">
          </a>
        </div>
        <div class="col m6 s12">
          <h2 class="center-align black-text">Join The Community</h2>
          <p class="black-text">
            Looking for a community of gamers that is both chill and easy-going but also likes to game and build (or kill) things together? Check out our Steam community group.
            It's the place where we talk about games and the servers we play together on. We also talk about Free Software and the latest Linux games.
          </p>
          <p class="black-text">
            Feel free to join our Discord community chat. And don't worry if you are a non-Linux user. Both Windows and Mac users are <strike>somewhat</strike> welcome too <i class="fa fa-smile-o" aria-hidden="true"></i>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
