<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m6">
          <a href="http://steamcommunity.com/groups/egeeio">
            <img class="responsive-img" src="assets/images/home/Steam_130.png">
          </a>
          <a href="https://www.facebook.com/Egee1rl">
            <img class="responsive-img" src="assets/images/home/facebook_120.png">
          </a>
          <a href="https://plus.google.com/communities/109695477657842314777">
            <img class="responsive-img" src="assets/images/home/goog_120.png">
          </a>
        </div>
        <div class="col m6 s12">
          <h2 class="center-align"><a class="black-text" href="community">Join The Community</a></h2>
          <p class="black-text">
            Want to find like-minded Linux gamers like yourself? Or just looking to make some new friends? Join our Steam community or Facebook group.
          </p>
          <p class="black-text">
            We also have a Google+ community and subreddit where gamers get together and talk about their favorite games and ports.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
