<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m6 s12">
          <a href="http://steamcommunity.com/groups/egeeio">
            <img class="responsive-img" src="assets/images/home/Steam_130.png">
          </a>
        </div>
        <div class="col m6 s12">
          <h2 class="center-align black-text">Join The Community</h2>
          <p class="black-text">
            Want to find like-minded Linux gamers like yourself? Or just looking to make some new friends? Join our Steam community or Facebook group.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
