<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m6 s12">
          <a href="http://steamcommunity.com/groups/egeeio">
            <img class="responsive-img" src="assets/images/home/steam.ico">
          </a>
          <a href="https://discord.gg/011dEIyTVX0rqXc5V">
            <img class="responsive-img" src="assets/images/home/Discord-Logo-Color.png">
          </a>
        </div>
        <div class="col m6 s12">
          <h2 class="center-align black-text">Join The Community</h2>
          <p class="black-text">
             The <a href="http://steamcommunity.com/groups/egeeio">Egeeio Steam group</a> is the hub where information about the game servers (updates, events, outages, etc) is exchanged.
             The Steam group is also a great way to join games that other people are playing.
          </p>
          <p class="black-text">
            We also run a <a href="https://discord.gg/011dEIyTVX0rqXc5V">Discord</a> chat server with rooms for each server or discussion topic. We even have a collabortive Spotify playlist.
          </p>
          <p>
            And don't worry if you are a non-Linux user. Both Windows and Mac users are <strike>somewhat</strike> welcome too <i class="fa fa-smile-o" aria-hidden="true"></i>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
