<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <h2 class="center-align black-text">Make the switch</h2>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/ubuntu_small.jpg">
            <h5 class="center">Desktop Ready</h5>
            <p><a href="http://www.ubuntu.com/desktop">Ubuntu</a> has long been considered the de-facto Linux desktop distribution and almost always the target for game developers.</p>
          </div>
        </div>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/SteamOS_small.jpg">
            <h5 class="center">Linux in your living room</h5>
            <p><a href="http://store.steampowered.com/steamos/buildyourown">SteamOS</a> is developed by Valve and is designed to replace game consoles for "living room" gaming.
                        You can play your entire Steam library for the comfort of your couch.</p>
          </div>
        </div>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/opensuse_small.jpg">
            <h5 class="center">Enterprise-level stability</h5>
            <p><a href="https://www.opensuse.org/">OpenSUSE</a> is the community edition of SUSE Enterprise Linux. It's perfect for home servers and uses cutting edge administration tools like YaST and Zypper.</p>
          </div>
        </div>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/arch_small.jpg">
            <h5 class="center">Limitless Configurability</h5>
            <p><a href="https://www.archlinux.org/">Arch Linux</a> is well known for being the "bleeding edge" distro. It's a <a href="distros">distribution</a> with minimal bloat and a huge user community.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
