<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <img class="responsive-img" src="assets/images/home/ubuntu_small.jpg">
    <h5 class="center">Desktop Ready</h5>
    <p><a href="http://www.ubuntu.com/desktop">Ubuntu</a> has long been considered the de-facto Linux desktop distribution and almost always the target for game developers.</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <img class="responsive-img" src="assets/images/home/SteamOS_small.jpg">
    <h5 class="center">Linux in your living room</h5>
    <p><a href="http://store.steampowered.com/steamos/buildyourown">SteamOS</a> is developed by Valve and is designed to replace game consoles for "living room" gaming.
      You can play your entire Steam library for the comfort of your couch.</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <img class="responsive-img" src="assets/images/home/arch_small.jpg">
    <h5 class="center">Limitless Configurability</h5>
    <p><a href="https://www.archlinux.org/">Arch Linux</a> is well known for being the "bleeding edge" distro. It's a <a href="distros">distribution</a> with minimal bloat and a huge user community.</p>
  </div>
</div>