<div class="cyan lighten-3">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align black-text">Why Game on Linux?</h3>
          <p class="black-text">
            GNU/Linux (shortend to <i>Linux</i> here and most places) is a family of free and open source operating systems based on the
            <a href="https://en.wikipedia.org/wiki/Linux_kernel">Linux kernel</a> with a massive community of users and gamers alike.
          </p>
          <p class="black-text">
            Linux is "free" in that there is nothing to license or pay for; you download a {{#link-to "distro"}}Linux distribution{{/link-to}} and install it.
            You don't even have to leave your beloved Windows operating system; Linux will happily dual-boot along side Windows.
          </p>
          <p class="black-text">
            Linux is also free from spying and other intrusions that vendors may install in <a href="https://en.wikipedia.org/wiki/Proprietary_software#Limitations"><b>their</b></a> operating systems and software.
          </p>
          <p class="black-text">
            Linux is whatever <b>you</b> want it to be.
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/companies.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
