<div class="cyan lighten-3">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align black-text">Why Game on Linux?</h3>
          <p class="black-text">
            Linux (or GNU/Linux) is a family of free and open source operating systems with a massive community of users and gamers alike.
          </p>
          <p class="black-text">
            Linux is "free" in that there is nothing to license or pay for; you download a distribution and install it.
          </p>
          <p class="black-text">
            Linux is also free from spying and other intrusions that vendors may install in <i>their</i> operating systems and software.
            Linux is free to customize, extend, and fork. Maybe you want your Linux to look like Windows or Mac. Or maybe you want to create your own desktop from scratch.
          </p>
          <p class="black-text">
            Linux is whatever <b>you</b> want it to be.
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/companies.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
