<div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m7 s12">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/companies_rice.png">
          </div>
        </div>
        <div class="col m5 s12">
          <h3 class="center-align black-text"><a href="faq">Why Linux?</a></h3>
          <p class="black-text">
            Linux is the most popular computer operating system for 
            <a href="http://gs.statcounter.com/#mobile+tablet-os-ww-monthly-201605-201605-bar">smart phones</a>, 
            <a href="https://w3techs.com/technologies/overview/operating_system/all">web servers</a> and, 
            <a hre="http://www.top500.org/statistics/overtime"> super computers</a>. 
            If you own a smart phone, it more than likely runs a distribution of Linux called "Android".            
          </p>
          <p class="black-text">
	    All of the servers here at Egee.io run on a distribution of Linux. The overall cost of using Linux is low and Linux-specific tools and technologies make managing servers a breeze.
          </p>
          <p class="black-text">
            Linux is also known for its enormous community of both every-day desktop users and technical power-users. Nearly any question about any problem has likely been asked and answered by the community.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
