<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col  mdl-cell--2-offset">
    <img src="assets/images/home/companies_rice.png">
  </div>
  <div class="mdl-cell mdl-cell--3-col  mdl-cell--2-offset">
    <h3><a href="faq">Why Linux?</a></h3>
      <p>
        Linux is the most popular computer operating system for 
        <a href="http://gs.statcounter.com/#mobile+tablet-os-ww-monthly-201605-201605-bar">smart phones</a>, 
        <a href="https://w3techs.com/technologies/overview/operating_system/all">web servers</a> and, 
        <a hre="http://www.top500.org/statistics/overtime"> super computers</a>. 
        If you own a smart phone, it more than likely runs a distribution of Linux called "Android".            
      </p>
  </div>
</div>
