{{material-slider}}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
    <h3 class="lato_light center-text">The Egee.io Modded Minecraft Server</h3>
    <hr>
    <div class="slider">
      <ul class="slides">
        <li><img src="https://goo.gl/Nla9N7"></li>
        <li><img src="https://goo.gl/RxsEFP"></li>
        <li><img src="https://goo.gl/UNdF8F"></li>
        <li><img src="https://goo.gl/qF0wNd"></li>        
      </ul>
    </div>
    <p>
      The Egee.io Modded Minecraft server is running the Egee.io modpack on the technic launcher and is moderated by <b>Striped_Monkey</b>.
    </p>      
    <p>
    The modded server is completely survival with mob griefing disabled. we are currently adding mods to the server! If there are any submissions you would like to add you can submit them by following the link in #announcments. If you would like to view what mods we have you can look at the modlist on the technic launcher here: http://www.technicpack.net/modpack/egeeio-modded-mc.901069/mods
    </p>
    <p>
    While the server is typically free of problems (griefers, lag, unexpected deaths, etc), if issues do arise, please to report them on the Egee.io Discord via the Games channel, or to Striped_Monkey directly. If you are unable to access the server at all, feel free to Tweet at Egee himself.
    </p>
    <p>
    Connecting to the modded server is fairly simple:
    <br>
    Grab the Technic Launcher from https://www.technicpack.net/
    Open the launcher and sign into minecraft.
    Hit the "Modpacks" button and search for "Egee.io modded MC" in the search bar and hit "Install" in the bottom Right corner of the window.
    Launch the game and the server should already be in the multiplayer menu! If it is not then you can connect to the servery by connecting to "egee.io:<b>23707</b>"
    </p>
  </div>
</div>
