{{yield}}
<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align"><i>"Why should I care about Linux being Open Source? How do I benefit?"</i></h3>
          <p class="black-text">
            Ever wonder what nefarious bits are hidden inside Windows 10’s End-user License Agreement?
             Do you ever wonder what you give Microsoft or Apple permission to do when you click ‘I Agree’?
             Open Source software come with permissive licenses that respect your freedom and your privacy.
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <img src="assets/images/faq/opensource.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
