  <dialog class="mdl-dialog ghost_dialog">
    <h4 class="mdl-dialog__title center-text lato_light">GhostSquad57</h4>
    <hr>
    <div class="mdl-dialog__content paddingless">
      <img class="centered" src="assets/images/personas/ghost/ghost_256.jpg">
      <hr>
      <p>Keith is an aspiring software programmer, Linux enthusiast, and content producer. He records videos related to Linux gaming: gameplay, commentary, reviews and even livestreams!</p>
      <p>He hopes to one day create his own game for the Linux platform. You can find him on YouTube, Twitch, Twitter and GitHub.</p>
    </div>
  </dialog>

  <!--<a href="https://www.youtube.com/user/GhostSquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
    <i class="fa fa-youtube-play" aria-hidden="true" style="color:white"></i>      
  </a>
  <a href="https://www.twitch.tv/ghostsquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
    <i class="fa fa-twitch" aria-hidden="true" style="color:white"></i>        
  </a>
  <a href="https://twitter.com/GhostSquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
    <i class="fa fa-twitter" aria-hidden="true" style="color:white"></i>      
  </a>-->