<div class="persona mdl-card mdl-cell--4-col mdl-cell--1-offset-tablet">
  <div class="mdl-card__title ghostsquad57">
    <h2 class="mdl-card__title-text"><b>GhostSquad57</b></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p><b> About GhostSquad57</b></p>
    <p>Keith is an aspiring software programmer, Linux enthusiast, and content producer. He records videos related to Linux gaming: gameplay, commentary, reviews and even livestreams!</p>
    <p>He hopes to one day create his own game for the Linux platform. You can find him on YouTube, Twitch, Twitter and GitHub.</p>
  </div>      
  <div class="mdl-card__menu">
    <a href="https://www.youtube.com/user/GhostSquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-youtube-play" aria-hidden="true" style="color:white"></i>      
    </a>
    <a href="https://www.twitch.tv/ghostsquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-twitch" aria-hidden="true" style="color:white"></i>        
    </a>
    <a href="https://twitter.com/GhostSquad57" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-twitter" aria-hidden="true" style="color:white"></i>      
    </a>
  </div>
</div>