<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col l5 s12">
        <div class="icon-block">
            <img src="assets/images/faq/LinuxHardware.png">
        </div>
      </div>
      <div class="col m7 s12">
        <h2 class="center-align"><i>"But Linux isn't compatible with my PC?"</i></h2>
        <p class="black-text">
          Several years ago, there were lots of gaps in hardware support in Linux distributions.
          These days, you'd be hardpressed to find a new PC or laptop that wasn't fully supported by your favorite Linux distribution.
          This is due in large part to <b>open</b> standards, especially when it comes to printers, scanners, digital camera, and Wireless adapters.
          That being said, if you had a modem from 1997, it may not work on Linux. But on the other hand, it probably wouldn't work on Windows 10, either.
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
