<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col s8 offset-s2">
        <h4 class="center-align"><i>"Do your servers run on Open Source Software?"</i></h4>
        <p class="black-text">
          Software choices made for the servers are pragmatic and are made to serve the community. If closed-source software provides better quality or performance, it will be used instead of an open-source alternative.
        </p>
        <p>
	  Open source software is often the first choice due to availability and ease-of-use. <a href="https://gameservermanagers.com/">Linux Game Server Manager</a> is used due to is ease-of-use in deploying and maintaining game servers and it uses an open source license.
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
