<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col s8 offset-s2">
        <h4 class="center-align"><i>"Can I make a request for the website or a new game server?"</i></h4>
          <p class="black-text">
            Yes, please do! There is a forum dedicated to requests on the Steam group forum located <a href="http://steamcommunity.com/groups/egeeio/discussions/2/">here</a>.
          </p>
          <p>
	    For new game servers, there has to be enough interest from the community so it would help to join the Discord community and discuss the new game there.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
