<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col s8 offset-s2">
        <h4 class="center-align"><i>"Help! Someone griefed my base on a server you run!"</i></h4>
        <p class="black-text">
          Since all of our servers are public, anyone can join them. An unfortunate side-effect of this is that griefers may join games and begin to steal and wreck things.
        </p>
        <p>
	  If griefing or theft happens to you, create a new topic on the Steam group forum for issues <a href="http://steamcommunity.com/groups/egeeio/discussions/1/">here</a>.
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
