<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col s8 offset-s2">
        <h4 class="center-align"><i>"Why a new gaming community if there are so many others?"</i></h4>
        <p class="black-text">
          Most of the gaming communities cater to a specific gaming platform (Linux or Windows, etc). Some Linux gaming communities become hostile if users admit to using Windows for gaming.
          Likewise, some Windows gaming communities become belligerent if a user admits to using Linux for gaming.
        </p>
        <p class="center-align">
	  <b>Egee.io is a gaming community that is accepting to gamers on any PC platform.</b>
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
