html(lang="en")
  head
    title Egee.io | Be Different; Play Together
    link(rel="icon" type="image/png" href="./favicon.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    link(rel="stylesheet" href="./assets/style/site.css")

  nav(class="navbar" role="navigation" aria-label="main navigation")

  body
    section(class="hero-body")
      div(class="container")
        h1(class="title") Hiya &amp; welcome to Egee.io
        h2(class="subtitle") You will like it hear