html(lang="en")
  head
    title yeet
    link(rel="icon" type="image/png" href="assets/favicon.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    link(rel="stylesheet" href="./style.css")

  body
    h1 PugJS - node template engine
    h2 yeet