html(lang="en")
  head
    title Egee.io | Be Different; Play Together
    link(rel="icon" type="image/png" href="./favicon.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    script(src="https://kit.fontawesome.com/02523bcd40.js" crossorigin="anonymous")
    link(rel="stylesheet" href="./assets/style/site.css")

  nav(class="navbar background-blue" role="navigation" aria-label="main navigation")
    div(class="container")
      div(class="navbar-brand")
        a(class="navbar-item" href="https://egee.io")
          h1(class="brand") Egee.io
      div(class="navbar-end")
        //- div(class="navbar-item")
        //-   a(href="") Distro Delves

  body
    section(class="hero is-info is-medium")
      div(class="hero-body")
        div(class="container")
          h1(class="title text-light") Be Different | Play Together
          h2(class="subtitle text-light") A community for gamers &amp; creators alike
    section(class="section")
      div(class="container")
        h1(class="title") Our Public Game Servers
        h2(class="subtitle") All servers have the following rules:
        div(class="content")
          ol(type="1")
            li(class="") Use common sense: don't cheat or hack.
            li(class="") Do not spam or advertise in chat.
            li(class="") Do not ask for items, kill logs, etc from admins.
            br
        div(class="tile is-ancestor")
          div(class="tile is-6 is-vertical is-parent")
            div(class="tile is-child box")
              p(class="title") Garry's Mod
              p(class="subtitle") Event Server
              div(class="content")
                p <b>Name:</b> Egee.io Events Server | TTT + PropHunt
                p Find it in the server browser or connect directly from the Garry's Mod console:
                pre connect gmod.egee.io
            div(class="tile is-child box")
              p(class="title") SCP
              p(class="subtitle") Event Server
              div(class="content")
                p From <i>Join Game &gt; Direct Connect</i>, type:
                pre connect scp.egee.io
          div(class="tile is-parent")
            div(class="tile is-child box")
              p(class="title") Minecraft
              p(class="subtitle" style="margin-bottom: .5rem;") Dedicated Server!
              figure(class="image")
                img(class="tile-image" src="./assets/img/minecraft.jpg")
                br
              div(class="content")
                p Add Server or Direct Connect using the server address:
                pre minecraft.egee.io

footer(class="footer footer-fixed")
  div(class="container")
    nav(class="level")
      div(class="level-left")
        div(class="level-item")
          p Powered by PugJS, styled with Bulma.io, and built with ❤ in the Pacific Northwest.
      div(class="level-right")
        div(class="level-item")
          a(href="https://discord.gg/EMbcgR8" style="color: black;")
            i(class="fab fa-discord" style="font-size: 2em;")
          a(href="https://www.reddit.com/r/egeeio" style="color: black;")
            i(class="fab fa-reddit fa-padding" style="font-size: 2em;")
          a(href="https://github.com/Egeeio/egeeio-website" style="color: black;")
            i(class="fab fa-github fa-padding" style="font-size: 2em;")