<footer class="footer eg-blue-black">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Help Support Egee.io!</h1>
        <p>
          We hope you enjoy our community. If you play on our servers
          or just want to help support the community, you can by backing us on Patreon.
          Any amount helps and is greatly appreciated!
        </p><br>
        <a href="https://www.patreon.com/egeeirl">
          <button class="button is-info is-outlined">
            Support Us
          </button>
        </a>
      </div>
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Chat With Us!</h1>
        <p>
          We have a Discord server where we hang out
          and coordinate events. If you want to participate
          in the events and discussion, feel free to join in!
        </p><br>
        <a href="https://discord.gg/EMbcgR8">
          <button class="button is-info is-outlined">
            Join Our Discord
          </button>
        </a>
      </div>
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Feedback</h1>
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input class="input is-small" type="email" placeholder="your email here...">
            <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
            <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
        </div>

        <div class="field">
          <div class="control">
            <div class="select is-small">
              <select>
                <option>Rust</option>
                <option>7 Days 2 Die</option>
                <option>Vanilla Minecraft</option>
                <option>Modded Minecraft</option>
                <option>Terraria</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label is-small"><label class="has-text-white-ter">Comment/Concern</label></label>
          <div class="control">
            <textarea class="textarea" placeholder="<3"></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-info is-outlined">Submit</button>
          </div>
        </div>
      </div>

      <div class="column">
        <h1 class="subtitle has-text-white-ter">Connect</h1>
        <figure class="footer-button-padding">
          <a href="https://discord.gg/EMbcgR8">
            <button class="button is-white is-outlined">
              Discord
            </button>
          </a>
        </figure>
        <figure class="footer-button-padding">
          <a href="https://www.reddit.com/r/egeeio/">
            <button class="button is-white is-outlined">
              Reddit
            </button>
          </a>
        </figure>
        <figure class="footer-button-padding">
          <a href="https://medium.com/@egee_irl">
            <button class="button is-white is-outlined">
              Blog
            </button>
          </a>
        </figure>
      </div>
    </div>
  </div>
</footer>