---
title: Egee.io | Be Different. Play Together.
---

<div class="parallax-container">
  <div class="parallax">
    <img src="images/background.jpg">
  </div>
  <div class="container center-align title-margin">
    <h1 class="light marginless-bottom">Egee.io</h1><br>
    <h3 class="thin marginless-top">Be Different. Play Together.</h3>
  </div>
</div>

<div class="eg-blue-black">
  <div class="container ">
    <div class="section">
      <div class="row valign-wrapper">
        <div class="col m6">
          <h3 class="light center-align">Gaming. For Everyone.</h3>
          <p>
            Egee.io is a casual cross-platform gaming community where <i>everyone</i> is free to game on whatever platform they like.
            From Windows &amp; Linux, to Xbox &amp; PlayStation; everyone is welcome to come hang out.
          </p>
          <p>
            Many members of the Egee.io community are not just gamers, but also artists, coders, and creative content producers.
          </p>
          <p>
            Check out the various game servers we host by clicking on the link over there <i class="fa fa-hand-o-right fa-lg" aria-hidden="true"></i>
          </p>
        </div>
        <div class="col m6 hide-on-small-only">
          <a href="/servers"><img class="responsive-img" src= "images/servers.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="black">
  <div class="container">
    <div class="section">
      <div class="row valign-wrapper">
        <div class="col m6 hide-on-small-only">
          <div class="icon-block">
            <img class="responsive-img" src="images/opensource.png">
          </div>
        </div>
        <div class="col m6">
          <h3 class="center light">Powered By Open Source</h3>
          <p>
            Egee.io is proudly self-hosted and powered supported by open source technologies. We don't use <u>any</u> hosting providers or platforms.
            This allows us to remain in control of our software choices and firmly commit to using &amp; supporting open source technologies.
          </p>
          <p>
            Nearly every Egee.io asset runs from within a Docker container. From the game servers, to our Discord bot, even this website; everything is running inside of Docker containers.
          </p>
          <p>
            The Egee.io website is built with EmberJS &amp; a dash of JQuery. All of our game servers are powered by <a href="https://github.com/egee-irl/gsc-docs">Game Server Containers</a>. You can read more about the software we use <a href="https://github.com/egee-irl/egeeio">here</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="eg-blue-black">
  <div class="container">
    <div class="section">
      <div class="row">
        <h3 class="center server-header light">Support Us!</h3>
        <div class="row">
          <div class="col s6 offset-s3">
            <p>
              It takes a huge amount of time and effort to maintain all of the Egee.io game servers and services so that they can remain self-hosted.
              Not to mention that Egee himself is the sole contributor to 90% of all the projects that power Egee.io.
            </p>
            <p>
              Egee.io will <u>never</u> become an ad-based or pay-wall driven platform. Instead, Egee.io is fueled by contributions and donations made by the community.
              If you'd like to support the community, here's how:
            </p>
          </div>
        </div>

        <div class="col m4">
          <div class="icon-block">
            <a href="https://www.patreon.com/egeeirl">
              <img class="responsive-img" src="images/patreon.jpg">
            </a>
            <h5 class="center">Patreon</h5>
          </div>
        </div>
        <div class="col m4">
          <div class="icon-block">
            <a class="modal-trigger" href="#modal01">
              <img class="responsive-img" src="images/bat.png">
            </a>
            <h5 class="center">BAT</h5>
          </div>
        </div>
        <div class="col m4">
          <div class="icon-block">
            <a href="https://www.paypal.me/egeeio">
              <img class="responsive-img" src="images/paypal.png">
            </a>
            <h5 class="center">PayPal</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal01" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="center">Brave Payments</h4>
    <p>
      This website is a Brave <a href="https://brave.com/publishers/">Publisher</a>!
    </p>
    <p>
      If you are using the Brave Browser (which I <i>highly</i> recommend!), you can enable Brave Payments and contribute payments to this website based on how much often you visit it.
    </p>
    <img class="responsive-img" src="images/brave.png">
    <p>
      Just make sure you've enabled Brave Payments so that your url bar looks like the picture above (notice the little green checkmark under the heart) and you're all set!
    </p>
  </div>
</div>
