<section class="hero is-medium eg-blue-black">
  <div class="hero-body">
    <div class="container">
      <h1 class="eg-title has-text-white-bis">
        Join us!
      </h1>
      <form>
        <button class="button is-white is-small is-outlined" formaction="/servers">Servers</button>
      </form>
    </div>
  </div>
</section>
<section class="section is-small has-background-real-black">
  <div class="container">
    <p>
      There's no sign-up or requirement form needed to join Egee.io. Just log into one of our servers and you're good
      to go!
    </p><br>
    <p>
      Since Egee.io aims to be an all-inclusive and welcoming gaming community for casual gamers, we have a modest
      set of rules we expect everyone that uses our services to follow. Admins of our Discord and game servers are held
      to the same standards as ordinary community members and follow the same rules.
    </p><br>
    <h1 class="is-size-4 has-text-white-bis">
      Discord rules:
    </h1>
    <p>
      • Use common sense; think before you post.<br>
      • No hate speech, bigotry, or deliberate trolling.<br>
      • Try to keep conversations in their respective channels.<br>
      • This is a gaming Discord for everyone; do not shame people for their platform choice, skill level, etc.<br>
      • Keep topics and posts appropriate for all age groups. NSFW/NSFL content is not permitted.<br>
    </p><br>
    <h1 class="is-size-4 has-text-white-bis">Game server rules:</h1>
    <p>
      • Use common sense.<br>
      • No spamming or advertising in chat.<br>
      • No hate speech or bigotry.<br>
      • Do not harass the Admins or ask/imply for items, kill logs, etc.<br>
    </p>
  </div>
</section>
