
<div class="eg-blue-black">
  <div class="container">
    <div class="section">
      <div class="row">
        <h3 class="center server-header light">Our Game Servers!</h3>
        <div class="row">
          <div class="col s6 offset-s3">
            <p class="server-paragraph">
              Egee.io uses <a href="https://github.com/egee-irl/gsc-docs">Game Server Containers</a> to create &amp; host game servers which makes it quick and easy to create new game servers on demand!
              Not all servers listed below may be available. Check our <a href="https://discord.gg/42PMX5N">Discord</a> to see which servers we currently have available.
            </p>
          </div>
        </div>
        <p class="server-subscript center">
          <sub>click on a server tile for details</sub>
        </p>
        <div class="row">
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal01">
                <img class="responsive-img" src="images/games/rust-256.jpg">
              </a>
              <h5 class="center">Rust</h5>
            </div>
          </div>
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal02">
                <img class="responsive-img" src="images/games/gmod-256.jpg">
              </a>
              <h5 class="center">Garry's Mod</h5>
            </div>
          </div>
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal03">
                <img class="responsive-img" src="images/games/minecraft-256.jpg">
              </a>
              <h5 class="center">Minecraft</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal04">
                <img class="responsive-img" src="images/games/tf2-256.png">
              </a>
              <h5 class="center">Team Fortress 2</h5>
            </div>
          </div>
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal05">
                <img class="responsive-img" src="images/games/terraria_256.jpg">
              </a>
              <h5 class="center">Terraria</h5>
            </div>
          </div>
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal06">
                <img class="responsive-img" src="images/games/starbound_256.jpg">
              </a>
              <h5 class="center">Starbound</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal01" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Rust Server (Currently Up)</h4>
    <p>
      Our Rust server is a vanilla low-pop Rust server. We’re generally a pretty chill server but PvP &amp; raids and murders happen. This is Rust after all.
      But don’t let that keep you from building and exploring. Most of us are pretty nice 😊.
    </p>
    <p>
      The server follows a monthly wipe cycle set which usually happens on the first Thursday of each month. Regular wipes help keep things interesting.
    </p>
    <p>
      We typically host raid, zambie hunt, or attack helicopter events on the last day before the wipe. If you want to participate, join our <a href="https://discord.gg/unQ5wxv">Discord server</a> and ask about events in the #rust channel.
    </p>
    <p>
      You can connect to the Rust server:<br>
      &#8226; Start Rust<br>
      &#8226; From the main menu, click the "Play Game" icon<br>
      &#8226; Click the "Community" section and look for the word <i>Egee</i>.<br>
    </p>
    <p>
      Alternatively, you can connect to it directly by opening the Rust console (F1) and typing <b>client.connect server.egee.io:28015</b>
    </p>
    <p>
      Official Rules:<br>
      1) Use common sense. Admins are not going to explain the rules to everyone.<br>
      2) No hate speech or verbal attacks towards players.<br>
      3) Event areas are off limits unless in use. If you are unsure if an area is Event related, ask somebody.<br>
      4) The server tends to be pretty chill but PvP can and will happen. Avoid raiding twig bases, and it is generally uncool to begin full-scale raiding less than 1 week into the wipe.<br>
      5) Raiding will occur but griefing will not. This includes but is not limited to foundation wiping, tool cupboard/door locking, placing traps & turrets around sleepers, and eliminating beds (offline raids).<br>
      6) Do not harass the Admins or ask/imply for items, kill logs, or anything else.<br>
    </p>
  </div>
</div>

<div id="modal02" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Garry's Mod Server (On-Demand)</h4>
    <p>
      The Gmod server is heavily modded and is currently an event-only server, which means it is down unless Egee.io is hosting an event. the default game mode is Sandbox.
    </p>
    <p>
      Since the server runs alot of mods, you should subscribe to <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=695623518">this</a> GMod collection before joining.
    </p>
    <p>
      You can connect to the Gmod server by using the Gmod server browser or:<br>
      &#8226; Fire up Garry's Mod<br>
      &#8226; From the main menu, click "Options"<br>
      &#8226; Press the tilde key `<br>
      &#8226; Type "connect egee.io" and press enter<br>
    </p>
  </div>
</div>

<div id="modal03" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Vanilla Minecraft Server (Currently Up)</h4>
    <p>
      Our Minecraft server a low-pop survival server with mob griefing is disabled (buildings are safe from creeper explosions!).
      The server runs on Spigot (a fork of Bukkit) which helps with logging and griefer protection.
    </p>
    <p>
      Server rules are simple:<br>
      1. Don't grief.<br>
      2. Don't steal.<br>
      3. Don't be an asshat.
    </p>
    <p>
      How to connect to the Minecraft server:<br>
      &#8226; Fire up Minecraft<br>
      &#8226; From the main menu, click "Multiplayer"<br>
      &#8226; From the "Play Multiplayer" screen, click <u>either</u> "Direct Connect", or "Add server"<br>
      &#8226; Enter <i>server.egee.io</i> as the server address (no IP address required!)<br>
    </p>
    <p>
      And that's it!
    </p>
  </div>
</div>

<div id="modal04" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Team Fortress 2 Server (On-Demand)</h4>
    <p>
      Our Team Fortress 2 server is typically an event-only style server but occasionally you can find it running and listed in the community servers section of TF2 or the Steam server browser.
    </p>
    <p>
      It is a standard Vanilla Team Fortress 2 server except that there are 6 bots, one bot leaves for each player joined (there are no bots playing after 6 players join).
      The server is fun to play on with groups of folks from the Egee.io or community or if you just want to practice with the bots.
    </p>
  </div>
</div>
<div id="modal05" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Terraria Server (Currently Down)</h4>
    <p>
      The Terraria server is currently down but will be up soon™️.
    </p>
  </div>
</div>

<div id="modal06" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Starbound Server (Currently Down)</h4>
    <p>
      The Starbound server is currently down but will be up soon™️.
    </p>
  </div>
</div>
