<h4 class="center-align">Encounter issues on one of our servers?</h4>
  <div class="container">
    <p class="center-align">
      In the event that you have an issue on one of our servers (lag, griefers, hacking ,etc), please create a topic about it on our message board <a href="http://steamcommunity.com/groups/egeeio/discussions/1/">here</a>.
    </p>
  </div>