<dialog class="mdl-dialog teal_dialog">
  <h4 class="mdl-dialog__title center-text lato_light">Teal1500</h4>
  <hr>
  <div class="mdl-dialog__content paddingless close">
    <img class="centered" src="assets/images/personas/teal/teal_256.jpg">
    <hr>
    <p>Teal1500 is a full time Linux user and content creator. He often does Performance showcases on his YouTube channel but plans on doing other things as well in the near future.</p>
    <p>He hopes to grow his YouTube channel and show everyone the world of Linux.</p>
  </div>
  <div class="mdl-dialog__actions">
    <a href="https://www.youtube.com/channel/UCJP_asKemtx2uuPeL8Z7I6Q" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>
    <a href="https://www.twitch.tv/xxteal1500xx" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-twitch" aria-hidden="true"></i>
    </a>
    <a href=" https://twitter.com/teal1500" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </div>
</dialog>
