<div class="mdl-grid ">

  <div class="persona mdl-card mdl-shadow--2dp mdl-cell--4-col mdl-cell--1-offset-tablet">
    <div class="mdl-card__title egee">
      <h2 class="mdl-card__title-text"><b>Egee</b></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p><b> About Egee</b></p>
      <p>Hi there, I'm Egee. I'm a PC gamer and avid Linux user. I am also a software developer by trade with a background in data analytics.</p>
      <p>I started Egee.io because I saw a gap in the existing gaming communities. I wanted a community that didn't heckel gamers for using Windows, and didn't disparage gamers for using Linux.</p>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-youtube-play" aria-hidden="true" style="color:black"></i>
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitter" aria-hidden="true" style="color:black"></i>
      </button>
    </div>
  </div>

  <div class="game mdl-card mdl-shadow--2dp mdl-cell--6-col-desktop mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet">
    <div class="mdl-card__title egee_game"></div>
    <div class="mdl-card__supporting-text">
      <p><h4 class="marginless-top">Why Egee.io?</h4></p>
      <p>
        Most of the gaming communities cater to a specific gaming platform (Linux or Windows, etc). 
        Some Linux gaming communities become hostile if users admit to using Windows for gaming. 
        Likewise, some Windows gaming communities become belligerent if a user admits to using Linux for gaming.
      </p>
      <p class="center-text">
        <b>Egee.io is a gaming community that is accepting to gamers on any PC platform.</b>
      </p>
      <p><h4>Egee.io servers run on Ubuntu!</h4></p>
      <p>
        One of the most important facets of hosting a dedicated game server or website is making sure it is accessible 99.9% of the time. 
        Linux is simply easier to guarantee and maintain that up-time.
      </p>
      <p><h4>Official vs Community Servers</h4></p>
      <p>
        Egee.io boasts two types of servers:<br>
        &#8226; Official servers are hosted by Egee.io and maintain a 99% uptime.<br>
        &#8226; Community servers are hosted by members of the community and the rules and uptime are handled by the owner.
      </p>
    </div>
  </div>
  
</div>

{{outlet}}
