<!--Entry point for the website. You probably don't need change anything here. -->

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  {{partial "header"}}
  <main class="mdl-layout__content">
    {{outlet}}
  </main>
  {{partial "footer"}}
</div>
