<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col off mdl-cell--4-offset">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col">Ricebot becomes "sentient"</div>
      <div class="mdl-cell mdl-cell--1-col">Egee delegates responsibility</div>
      <div class="mdl-cell mdl-cell--1-col">"Affine is fine"</div>
      <div class="mdl-cell mdl-cell--1-col">In-joke that nobody understands</div>
      <div class="mdl-cell mdl-cell--1-col">Joke at Stallman's expense</div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col">"Keith Here"</div>
      <div class="mdl-cell mdl-cell--1-col">Joke at Spatry's expense</div>
      <div class="mdl-cell mdl-cell--1-col">Someone uses the word "Triggered"</div>
      <div class="mdl-cell mdl-cell--1-col">Ghost mispronounces a word</div>
      <div class="mdl-cell mdl-cell--1-col">Jonn says something racist</div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col">Admins retreat to Heaven</div>
      <div class="mdl-cell mdl-cell--1-col">People mispronounce Rice's name</div>
      <div class="mdl-cell mdl-cell--1-col"><b>"Arch"(freespace)</b></div>
      <div class="mdl-cell mdl-cell--1-col">Avalanche of Memes in #general</div>
      <div class="mdl-cell mdl-cell--1-col">Mods ban someone as a joke</div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col">TLG shares pictures of himself in #general</div>
      <div class="mdl-cell mdl-cell--1-col">Ghost goes on a rant</div>
      <div class="mdl-cell mdl-cell--1-col">Egee says "Slinux"</div>
      <div class="mdl-cell mdl-cell--1-col">"Ghost's a Cuban"</div>
      <div class="mdl-cell mdl-cell--1-col">"Cup of Linux"</div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col">Rice is from "Van Nuys"</div>
      <div class="mdl-cell mdl-cell--1-col">TLG's volume is too loud</div>
      <div class="mdl-cell mdl-cell--1-col">Joke about vaping</div>
      <div class="mdl-cell mdl-cell--1-col">"I find that Affine is not fine"</div>
      <div class="mdl-cell mdl-cell--1-col">Egee randomly leaves voice chat</div>
    </div>
  </div>
</div>