{{parallax}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/comets.jpg">
  </div>
  <div class="container center-align white-text">
    <h1>Here are the folks behind Egee.io</h1>
  </div>
</div>
<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align"><a href="https://www.youtube.com/user/tuxreviews" class="black-text">The Linux Gamer</a></h3>
          <p>
            The Linux Gamer (TLG for short) runs a YouTube channel dedicated to Linux gaming and humor. He's been a Linux user since nigh-on seven years and has participated in many open source communities since that time.
          </p>
          <p>
            It's TLG's vision to foster growth and kinship among members of the Egee.io community.
          </p>
          <p>
            TLG loves nerd culture, prosumer technology, cartoons, music, and philosophy. In real life, his family and friends call him 'Gardiner.'
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <a href="http://steamcommunity.com/groups/egeeio">
              <img class="responsive-img" src="assets/images/contributors/pixel-tux-prof_400.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col m5 s12">
        <div class="icon-block">
          <a href="http://steamcommunity.com/groups/egeeio">
            <img class="responsive-img" src="assets/images/contributors/keith_400.jpeg">
          </a>
        </div>
      </div>
      <div class="col m7 s12">
        <h2 class="center-align"><a href="https://www.youtube.com/user/GhostSquad57" class="black-text">GhostSquad57</a></h2>
          <p>
            Keith (A.K.A. GhostSquad57) is a Linux user since 2010. Since even before using Linux, Keith has been a gamer; preferring FPSs, RPGs, and Action games.
          </p>
          <p>
            Keith has a YouTube channel [link] where he uploads gameplay, commentary, and reviews of native Linux games.
          </p>
          <p>
            Keith is also an aspiring software programmer, and hopes to one day create a game for the Linux platform.
          </p>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align"><a href="https://www.youtube.com/user/EtherealGaming1" class="black-text">Egee</a></h3>
          <p>
            Egee has been an avid GNU/Linux user since 2009, and has contributed to documentation efforts for both Fedora and openSUSE projects.
          </p>
          <p>
            As the creator of the Egee.io community, he is dedicated to increasing awareness of GNU/Linux as both a desktop platform, and a viable platform for serious PC gamers.
          </p>
          <p>
            As a software developer by trade, Egee naturally likes to code but also enjoys punk music, hiking, and tinkering with cars. In real life, he goes by "Brian".
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <a href="http://steamcommunity.com/groups/egeeio">
              <img class="responsive-img" src="assets/images/contributors/egee_400.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
