{{parallax}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/comets.jpg">
  </div>
  <div class="container center-align white-text">
    <h1>Don't know which distro to pick?</h1><br>
    <h3 class="hide-on-small-only">Here's a list of our favorites</h3>
  </div>
</div>

<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m6 s12">
          <h5>We use a simple scale to rate distros</h5>
          <p>
            The scale focuses on usability &amp; configurability <u>after</u> install.
          </p>
          <p>
            For example, codecs (can) be installed on Ubuntu during the initial install, however with Fedora, an external repository is required.
            Likewise, proprietary video drivers are installed as part of the SteamOS install process, but take many additional steps for setup on Debian.
          </p>
        </div>
        <div class="col m6 s12">
          <p>
            <i class="fa fa-circle green-text" aria-hidden="true"></i> <b>-</b> Easy to setup and use; very few additional steps for ancillary applications or drivers<br>
            <i class="fa fa-circle fa-1x yellow-text" aria-hidden="true"></i><b> -</b> May require manual steps or compilation to install or setup applications or drivers<br>
            <i class="fa fa-circle fa-1x red-text" aria-hidden="true"></i><b> -</b> Most steps are manual and likely include code compilation<br>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <h3><a class="amber-text text-darken-4" href="http://www.ubuntu.com/">Ubuntu</a> <i class="fa fa-circle green-text" aria-hidden="true"></i></h3>
          <p>
            Ubuntu, meaning ‘humanity towards others,’ is arguably the most popular and easy-to-use Linux distribution available today. The primary focus of Canonical (Ubuntu’s corporate sponsor) has been user friendliness with software utilities that take the hassle out of OS installation and package management.
          </p>
          <p>
            Ubuntu features the Unity Desktop, which is ugly as sin and barely functional.
          </p>
          <p>
            Ubuntu is the platform most game developers target since it’s binary compatible with SteamOS and shares many of the same packages.
          </p>
          <p>
            Ubuntu is not without its controversy, due in no small part to its reluctance to push changes upstream and it’s forging custom solutions to issues that many argue fragment the community. [Upstart, Unity, Mir]
          </p>
          <p>
            Ubuntu is also looking to capitalize on a ‘convergence’ business model, where the OS will work on a smartphone, tablet, computer, or television.
          </p>
          <p>
            Ubuntu has a semiannual release cadence, with an LTS (or Long-term Support) every three years. These long-term support releases provide a stable base for developers and system administrators to target.
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/ubuntu_300.png">
          <p><b>Package Manager:</b> Apt</p>
          <p><b>Installer:</b> Graphical (Ubiquity)</p>
          <p><b>Default Desktop Environment:</b> Unity</p>
          <p><b>Derivatives:</b> <a href="https://www.linuxmint.com/">Mint</a>, <a href="https://elementary.io/">ElementaryOS</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <h3><a class="purple-text text-lighten-3" href="http://store.steampowered.com/steamos/">SteamOS</a> <i class="fa fa-circle green-text" aria-hidden="true"></i></h3>
          <p>
            SteamOS is designed primarily for playing video games in the living room. Users will be able to stream games from their Windows, Mac or Linux computers to one running SteamOS, and it will incorporate the same family sharing and restrictions as Steam on the desktop. Valve claims that it has "achieved significant performance increases in graphics processing" through SteamOS. The operating system is open source, allowing users to build on or adapt the source code, though the actual Steam client is closed.
          </p>
          <p>
            Since SteamOS is solely for playing games in the living room, it does not have many built-in functions beyond web browsing and playing games; for example, there is no file manager or image viewer installed by default. Users can, however, access the available GNOME desktop environment and perform tasks like installing other software. Though the OS does not, in its current form, support streaming services, Valve is in talks with streaming companies such as Spotify and Netflix to bring their features to SteamOS. However Steam does have full length films from indie movie makers available from their store. The OS natively supports NVIDIA, Intel, and AMD graphics processors.
          </p>
          <p>
            Valve stated has added support for movies, television, and music functionality to SteamOS, however the video content is only from Steam's store which has a small amount of films, while music playback only supports local music collections. It should be noted that recently, Netflix, and other DRM protected content, now function in the latest beta client and beta OS revisions of SteamOS via the native built-in browser1.
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/SteamOS_300.png">
          <p><b>Package Manager:</b> Apt</p>
          <p><b>Installer:</b> Graphical (Debian Installer)</p>
          <p><b>Default Desktop Environment:</b> Steam Big Picture Mode</p>
          <p><b>Derivatives:</b> <a href="http://vaporos.net/">VaporOS</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <h3><a class="green-text" href="https://www.opensuse.org/">openSUSE</a> <i class="fa fa-circle yellow-text" aria-hidden="true"></i></h3>
          <p>
            openSUSE is the community edition of SUSE Enterprise Linux. SUSE, the company, is a provider of enterprise-class Linux servers targeting SAP, “Point of Service”, and high availability (real-time) applications. SUSE, founded in 1992, was the first company to market Linux for business and enterprise customers.
          </p>
          <p>
            openSUSE is renown in the Linux community for its innovative tools and technologies. Specifically Open Build Service and OpenQA, which allows developers to test, compile, release, and publish their software to nearly any Linux distribution.
          </p>
          <p>
            openSUSE has a relatively long lifespan for a Linux distribution with each release being supported for upwards of two years. This is due in part to the openSUSE Leap being based upon SUSE Linux Enterprise Server, which has an even longer life span.
          </p>
          <p>
            Similar to Arch Linux, openSUSE provides a rolling-release version called Tumbleweed, which allows users to make use of the most up-to-date and stable versions of their software, rather than having to wait for the next big release of their distribution.
          </p>
          <p>
            Like Fedora, openSUSE makes use of the RPM (Red Hat Package Manager) package management system, and uses an advanced package manager called Zypp (or libzypp) as its satisfiability solver (package dependency resolver). Zypp, which was originally developed by SUSE developers, is also used by the MeeGo project, Sailfish OS (Jolla), and Tizen (Samsung).
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/opensuse_200.png">
          <p><b>Package Manager:</b> Zypper</p>
          <p><b>Installer:</b> Graphical (YaST)</p>
          <p><b>Default Desktop Environment:</b> KDE Plasma Desktop</p>
          <p><b>Derivatives:</b> <a href="http://www.gearsongallium.com/">Gears on Gallium</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <h3><a class="blue-text text-darken-3" href="https://getfedora.org/">Fedora</a> <i class="fa fa-circle yellow-text" aria-hidden="true"></i></h3>
          <p>
            Fedora is a community-based Linux distribution sponsored by Red Hat, a multi-million dollar publicly traded corporation. Red Hat is also one of the top contributors to the Linux kernel and employs many of the contributors of the Gnome desktop project.
          </p>
          <p>
            Fedora has earned a reputation for focusing on adapting bleeding-edge technologies and ensuring changes are made upstream in a way that benefits the Linux community as a whole.
          </p>
          <p>
            Unlike other Linux distributions, Fedora has a relatively short life cycle. Versions are only supported for one month after new versions are released. This helps to ensure anyone using the distribution is using the latest version of it.
          </p>
          <p>
            The default desktop environment for Fedora is GNOME and because of this, Fedora nearly always has the absolute latest stable version of the it.  And while other desktop environments can be installed with relative ease, Fedora is best suited to GNOME and most of the documentation is for GNOME.
          </p>
          <p>
            Fedora uses the RPM (Red Hat Package Manager) package management system, and uses DNF (Dandified Yum) for package management. DNF replaced the aging YUM package manager in Fedora 22. Like openSUSE’s Zypper package manager, DNF uses the libsolv library for satisfiability solving.
          </p>
          <p>
            Like the Debian Linux distribution, Fedora takes a hard-line approach to Free and Open Source software and proprietary drivers, firmware, and codecs are not allowed in the official package repositories.
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/fedora_300.png">
          <p><b>Package Manager:</b> DNF/Yum</p>
          <p><b>Installer:</b> Graphical (Anaconda)</p>
          <p><b>Default Desktop Environment:</b> Gnome</p>
          <p><b>Derivatives:</b> <a href="https://kororaproject.org/">Korora</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <h3><a class="red-text" href="https://www.debian.org/">Debian</a> <i class="fa fa-circle yellow-text" aria-hidden="true"></i></h3>
          <p>
            Debian is one of the oldest Linux distros. Dating back to 1993, Debian is one of the most popular and most forked Linux distros (Ubuntu for example is based on Debian).
            <br><br>
            Debian was founded by Ian Murdock (1973-2015) under the <a href="https://en.wikipedia.org/wiki/Debian_Social_Contract">Debian Social Contract</a> and the <a href="https://en.wikipedia.org/wiki/Debian_Free_Software_Guidelines">Debian Free Software Guidelines</a>
            <br><br>
            Debian is well known as a distro that respects the users freedoms, and is openly against proprietary and restrictive software (see Debian Free Software Guidelines). Because of this stance, it can be counterintuitive to set up certain proprietary software on Debian (e.g., certain network drivers, media codecs, adobe flash etc.)
            <br><br>
            Debian is commonly used for network servers, but can function as a desktop distro as well.
            <br><br>
            Debian comes in several flavors; Stable, Testing, and Unstable:
            <br><br>
            Testing and Unstable are recommended for desktop users looking for fairly up-to-date packages, and don’t mind a little instability from time to time. It should be noted that packages in the “testing” repositories are tested to make sure they don’t disrupt the stability of the users' environment, whereas packages in the Unstable repository are usually added without being tested.
            <br><br>
            Stable is recommended for servers and for critical systems that need to be a stable as possible.
            <br><br>
            Debian has a yearly release cycle. The release process is as follows:
            Software is packaged from upstream and added to the Unstable branch, where it is then tested; after being in Unstable the software is then moved to the Testing branch. After some time, the Testing branch enters a “freezing” period where bugs are squished away; when the Testing branch is considered stable, the Testing branch in then moved to Stable and that’s when the new release happens. Time between releases is usually 1-2 years; although there is no official release schedule.
            <br><br>
            Debian includes a graphical installer, as well as a text based installer.
            <br><br>
            Debian is recommended for users looking for a rock solid distro; both in stability and security, and a distro that respects the users freedoms and adheres to the idea of Free-as-in-freedom software principles.
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/debian_200.png">
          <p><b>Package Manager:</b> Apt-Ghetto</p>
          <p><b>Installer:</b> Text-Based or Graphical (Debian Installer)</p>
          <p><b>Default Desktop Environment:</b> Gnome</p>
          <p><b>Derivatives:</b><a href="https://ubuntu.com/">Ubuntu</a>, <a href="https://github.com/ValveSoftware/SteamOS/wiki">SteamOS</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m8 s12">
          <a href="https://www.archlinux.org/"><h3 class="blue-text">Arch Linux <i class="fa fa-circle red-text" aria-hidden="true"></i></h3></a>
          <p>
            Arch Linux is a “rolling release” distro, meaning there is no 6 month release cycle like Ubuntu. Instead, updates for software are added to the Arch repositories (usually) shortly after an upstream release.
            <br><br>
            The advantages of a “rolling release” distro, is that it keeps users constantly up-to-date with the latest releases of popular software. The disadvantage of the “rolling release” system, is that sometimes packages are added into repositories before they’re tested for stability; you could upgrade a package and sometimes find your desktop environment refusing to boot.
            <br><br>
            Luckily, Arch Linux is famous for it’s amazing <a href="https://wiki.archlinux.org/">documentation</a> and helpful <a href="https://bbs.archlinux.org/">forums</a>. So if you ever find yourself needing help, it’s there; even if you don’t use Arch, the wiki is expansive and covers countless subjects.
            <br><br>
            Arch also has the <a href="https://wiki.archlinux.org/index.php/Arch_User_Repository">AUR</a> (Arch Users Repository) where users can submit their own packages, as well as download packages created by users; If you can’t find a piece of software in the official repo, chances are it’s in the AUR.
            <br><br>
            Arch Linux is also incredibly lightweight: the default installation of most beginner distros – Ubuntu, for example – includes pre-installed software which many consider “bloat”. Arch on the other hand doesn’t even include a graphical desktop environment with the default installation; allowing the user to select their own desktop environment and additional software. Also, the installation of Arch Linux requires the user to know a little about the CLI (Command Line Interface) in order install. This scares a lot of newcomers and many (at first glance) consider Arch to be a “difficult” distro to use.
            <br><br>
            I recommend Arch Linux to people who want to learn more about CLI tools and for people looking for an efficient, elegant, and close-to-upstream Linux distribution.
          </p>
        </div>
        <div class="col m4 s12">
          <img src="assets/images/distros/arch_200.png">
          <p><b>Package Manager:</b> Pacman</p>
          <p><b>Installer:</b> Text-Based </p>
          <p><b>Default Desktop Environment:</b> None</p>
          <p><b>Derivatives:</b> <a href="https://manjaro.github.io/">Manjaro</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
