<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://github.com/egee-irl/egeeio">Egee.op</a></li>
      <li><a href="https://github.com/egee-irl/egeeio/blob/master/LICENSE">Licensed Under GPL</a></li>
    </ul>
  </div>
</footer>