{{modal}}
<footer class="page-footer black">
  <div class="container">
    <a class="grey-text text-lighten-4">Built &#38; Hosted with ❤ in PacNW</a>
    <a class="grey-text text-lighten-4 right" href="https://github.com/egee-irl/egeeio"><i class="material-icons">code</i></a>
    <a class="modal-trigger grey-text text-lighten-4 right" href="#modal5"><i class="material-icons">shopping_cart</i></a>
    <a class="grey-text text-lighten-4 right" href="https://www.youtube.com/user/EtherealGaming1"><i class="material-icons">video_library</i></a>
  </div>
</footer>

<div id="modal5" class="modal">
  <div class="modal-content">
    <h4 class="center">Want to support Egee.io?</h4>
    <p>
      Egee.io will never be monetized via ads either here on the website or in the game servers. And while operating the Egee.io community does require
      resources in the form of time and money (for hosting, bandwidth, etc), Egee.io does not accept donations or operate a Patreon.
    </p>
    <p>
      If you want to contribute to or otherwise support Egee.io, there are two options:
    </p>
    <p>
      • Shopping or purchasing products on Amazon using my <a href="http://amzn.to/2ibukIM">Affilate Link</a>
      <br>
      • Testing or submitting issues to <i>any</i> of my <a href="https://github.com/egee-irl">GitHub projects</a>
    </p>
  </div>
</div>
