<footer class="indigo page-footer">
  <footer class="footer-copyright">
    <div class="container">
      <i class="fa fa-copyright fa-flip-horizontal"></i><a class="white-text" href="https://github.com/egee-irl/egeeio"> <b>Egee.io</b></a>
      <a class="white-text right" href="https://github.com/egee-irl/egeeio/blob/master/LICENSE">GPL Licensed</a>
    </div>
  </footer>
</footer>