<footer>
  <div class="indigo">
    <div class="container">
      <div class="row">
        <div class="col s12 l4">
          <h5 class="white-text"><b>What is this site?</b></h5>
          <p class="white-text"> This is the home page for Egee.io, the Linux gaming community, and a "port of entry" for folks looking to break free from Microsoft Windows switch to GNU/Linux. </p>
          <p class="white-text"> The website powered by <a class="orange-text text-darken-1" href="http://emberjs.com/"><b>Ember.js</b></a> and running on <a class="green-text" href="https://nodejs.org/en/"><b>NodeJS</b></a> atop an <a class="teal-text text-lighten-1" href="https://www.opensuse.org/"><b>openSUSE Leap server</b>.</a></p>
          <p class="white-text"> The styling for the website is Material Design provided by the <a href= "http://materializecss.com/" class="pink-text text-lighten-3"><b>MaterializeCSS</b></a> framework.</p>
        </div>
        <div class="col s12 l4">
          <h5 class="white-text"><b>Help Egee.io grow!</b></h5>
          <p class="white-text">
            The Egee.io community is always growing and looking for new and awesome people to join the discussion or play some games with us.
          </p>
          <p class="white-text">
            Share us on Twitter, Facebook, and Reddit!
          </p>
        </div>
        <div class="col s12 l4">
          <h5 class="white-text"><a href="contributors" class="white-text"><b>Contributors</b></a></h5>
          <p class="white-text">Egee</p>
          <p class="white-text">GhostSquad57</p>
          <p class="white-text">The Linux Gamer</p>
        </div>
      </div>
    </div>
  </div>
</footer>
