<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://github.com/egee-irl/egeeio/blob/master/LICENSE"><span class="copyleft"><b>&copy;</b></span> <b>Egee.io</b></a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <a href="https://github.com/egee-irl/egeeio"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    </ul>
  </div>
</footer>