<footer class="footer eg-blue-black">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Help Support Egee.io!</h1>
        <p>
          We hope you enjoy our community. If you play on our servers
          or just want to help support the community, you can by backing us on Patreon.
          Any amount helps and is greatly appreciated!
        </p><br>
        <a href="https://www.patreon.com/egeeirl">
          <button class="button is-info is-outlined">
            Support Us
          </button>
        </a>
      </div>
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Chat With Us!</h1>
        <p>
          We have a Discord server where we hang out
          and coordinate events. If you want to participate
          in the events and discussion, feel free to join in!
        </p><br>
        <a href="https://discord.gg/tVyBHAU">
          <button class="button is-info is-outlined">
            Join Our Discord
          </button>
        </a>
      </div>
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Connect</h1>
        <figure class="footer-button-padding">
          <a href="https://www.youtube.com/channel/UCXa6sE6cKXcQ97vI0Emn1XA">
            <button class="button is-white is-outlined">
              YouTube
            </button>
          </a>
        </figure>
        <figure class="footer-button-padding">
          <a href="https://twitter.com/egee_irl">
            <button class="button is-white is-outlined">
              Twitter
            </button>
          </a>
        </figure>
        <figure class="footer-button-padding">
          <a href="https://github.com/egee-irl">
            <button class="button is-white is-outlined">
              GitHub
            </button>
          </a>
        </figure>
      </div>
    </div>
  </div>
</footer>