{{modal}}
<footer class="page-footer black">
  <div class="container">
    <a href="/" class="grey-text text-lighten-4">Built &#38; Hosted with ❤ in PacNW</a>
    <a class="grey-text text-lighten-4 right" href="https://github.com/egee-irl/egeeio"><i class="material-icons">code</i></a>
    <a class="grey-text text-lighten-4 right" href="https://www.youtube.com/user/EtherealGaming1"><i class="material-icons">video_library</i></a>
  </div>
</footer>
