{{!--<footer class="page-footer grey darken-4 toolbar" style="padding-top: 8px;">
  <div class="container">
    <div class="row margin_bottom">
      <div><p class="fa fa-github fa-2x" style="color:white" aria-hidden="true"></i></div>
    </div>
  </div>
</footer>--}}

<footer class="page-footer grey darken-4">
  <div class="container">
    <a class="grey-text text-lighten-4">Built &#38; Hosted with ❤ by Egee</a>
    <a class="grey-text text-lighten-4 right">More Links</a>
  </div>
</footer>
