<footer class="page-footer grey darken-4">
  <div class="container">
    <a class="grey-text text-lighten-4">Built &#38; Hosted with ❤ by Egee</a>
    <a class="grey-text text-lighten-4 right" href="https://github.com/egee-irl/egeeio"><i class="material-icons">code</i></a>
  </div>
</footer>
