<footer class="page-footer grey darken-4 toolbar" style="padding-top: 8px;">
  <div class="container">
    <div class="row margin_bottom">
      <div class="col s1 offset-s6"><i class="fa fa-github fa-2x" style="color:white" aria-hidden="true"></i></div>
    </div>
  </div>
</footer>
