{{partial "topbar"}}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col mdl-cell--2-offset">
    <div class="card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle">Minecraft 1.10</span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-cell--1-offset">
    <div class="card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle">Rust</span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-cell--1-offset">
    <div class="card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle">Garry's Mod</span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-cell--1-offset">
    <div class="card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle">Terraria</span>
      </div>
    </div>
  </div>  
</div>

{{outlet}}
