<div class="mdl-layout mdl-layout-centered">
  <h3 class="mdl-layout mdl-layout-centered">Encounter issues on one of our servers?</h3>
  <p class="eg-padded">
    In the event that you have an issue on one of our servers (lag, griefers, hacking ,etc), please create a topic about it on our message board <a href="http://steamcommunity.com/groups/egeeio/discussions/1/">here</a>.
  </p>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col mdl-cell--2-offset">
    <div class="minecraft_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Minecraft</b></span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-cell--1-offset">
    <div class="rust_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Rust</b></span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-cell--1-offset">
    <div class="gmod_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Garry's Mod</b></span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-cell--1-offset">
    <div class="terraria_256 card-image mdl-card mdl-shadow--2dp mdl-cell-center">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="card-image__subtitle"><b>Terraria</b></span>
      </div>
    </div>
  </div>  
</div>

{{outlet}}
