<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span href="#" class="mdl-layout-title">
      <a class="logo" href="#">Egee.io</a>
    </span>
  </div>
  {{is-index}}
</header>
