<div class="mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Egee.io</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="distros">Linux</a>
        <a class="mdl-navigation__link" href="faq">Faq</a>
        <a class="mdl-navigation__link" href="servers">Servers</a>
      </nav>
    </div>
  </header>
</div>
