<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Egee.io</span>
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Welcome</a>
    <a href="#fixed-tab-2" class="mdl-layout__tab">Games</a>
    <a href="#fixed-tab-3" class="mdl-layout__tab">About</a>
  </div>
</header>
