<section class="hero eg-blue-black is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white-bis">
        Egee.io
      </h1>
      <h2 class="subtitle has-text-white-bis">
        Coming Fall 2019!
      </h2>
      <form>
        <button class="button is-white is-outlined" formaction="https://discord.gg/EMbcgR8">Join Us!</button>
      </form>
    </div>
  </div>
</section>
