<section class="hero eg-blue-black is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white-bis">
        Egee.io
      </h1>
      <h2 class="subtitle has-text-white-bis">
        Be different. Play together.
      </h2>
      <form>
        <button class="button is-white is-outlined" formaction="/servers">Our Servers</button>
      </form>
    </div>
  </div>
</section>
<section class="section has-background-real-black">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image is-256x256">
          <a href="https://opensource.org/licenses"><img src="assets/images/opensource.png" alt="Open Source Initiative"></a>
        </figure>
      </div>
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Powered By Open Source Software</h1>
        <p>
          Egee.io is built with Free &amp; Open Source Software. From the code that runs our game servers,
          to the code that deploys this website, it's all distributed using Open Source licenses.
        </p><br>
        <p>
          Our game servers run on a framework called <i>Game Server Containers</i>, which is built on top of Docker.
          Anyone can use one of our <a href="https://hub.docker.com/u/egeeio/">Docker images</a> to run a game server
          of their own!
        </p><br>
        <p>
          If you'd like to learn more about our infrastructure and and the code that powers Egee.io,
          you can find us on <a href="https://github.com/Egeeio">GitHub </a>
          or read and learn more about us <a href="/about">here</a>.
        </p>
      </div>
    </div>
  </div>
</section>