<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
  <div class="page-content">{{partial "partials/welcome"}}</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-2">
  <div class="page-content">{{partial "partials/games"}}</div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-3">
  <div class="page-content">{{partial "partials/about"}}</div>
</section>

{{outlet}}
