{{parallax}}
{{modal}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/background.jpg">
  </div>
  <div class="container center-align white-text title-margin">
    <h1 class="lato_light marginless-bottom">Egee.io</h1><br>
    <h3 class="lato_thin marginless-top">Be Different. Play Together.</h3>
  </div>
</div>

<div class="grey lighten-5">
	<div class="container ">
		<div class="section">
			<div class="row valign-wrapper">
				<div class="col m6">
          <h3 class="lato_light center-align">Gaming For Everyone</h3>
					<p>
						Egee.io is an open gaming community that eschews the dichotomy and hostility between different gaming platforms.
					</p>
					<p>
						Here at Egee.io, everyone is welcome to game and discuss any platform they like. From Linux and Windows, to PlayStation and Xbox,
            our community strives to be free of the hostility that is often seen when discussing gaming platforms.
					</p>
          <p>
            If you&#39;d like to join our community <a href="https://discord.gg/tVyBHAU">Discord server</a> or game servers, be sure to check out the 
            <b><a class="modal-trigger" href="#modal0">rules</a></b> first!
					</p>
        </div>
        <div class="col m6 hide-on-small-only">
					<img class="responsive-img" src="assets/images/distros2.png">
				</div>
      </div>
    </div>
  </div>
</div>

<div class="blue-grey lighten-4">
  <div class="container">
    <div class="section">
      <div class="row valign-wrapper">
        <div class="col m6 hide-on-small-only">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/opensource.png">
          </div>
        </div>
        <div class="col m6">
          <h3 class="center lato_light">Powered By Open Source</h3>
          <p>
            From top to bottom, Egee.io is proudly powered by open source technologies.
          </p>
          <p>
            The OS platform of choice is Ubuntu and each game server run locally inside of LXC containers, and are provisioned by <a href="https://gameservermanagers.com/">Linux Game Server Manager</a>.
          </p>
          <p>
            The Egee.io website is written in EmberJS with a tiny bit of JQuery, and is served on Nginx. You can read more about the software stack at <a href="https://github.com/egee-irl/egeeio">GitHub</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row center">
        <h3 class="center gameServerTitle2 lato_light">Game Servers</h3>
        <p class="gameServerTitle">
          <sub>click on a server tile for details</sub> 
        </p>
               
        <div class="col m4">
          <div class="icon-block">
            <a class="modal-trigger" href="#modal1">
              <img class="responsive-img" src="assets/images/games/minecraft_square.jpg">
            </a>
            <h5 class="center">Minecraft</h5>
            <p>
              Minecraft server runs <a href="https://www.spigotmc.org/">Spigot</a> (no client-side mods) with CoreProtect and can support up to 20 players.
            </p>
          </div>
        </div>
        <div class="col m4">
          <div class="icon-block">
            <a class="modal-trigger" href="#modal3">
              <img class="responsive-img" src="assets/images/games/gmod_256.jpg">
            </a>
            <h5 class="center">Garry's Mod</h5>
            <p>
              Garry's Mod Server is heavily modded and runs <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=776121544">this collection</a>.
            </p>
          </div>
        </div>
        <div class="col m4">
          <div class="icon-block">
            <a class="modal-trigger" href="#modal4">
              <img class="responsive-img" src="assets/images/games/starbound_256.jpg">
            </a>
            <h5 class="center">Starbound</h5>
            <p>
              A regular Starbound server with a 14 player, 6 party cap.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal0" class="modal">
  <div class="modal-content">
    <h4 class="center">Egee.io Community Rules!</h4>
    <p>
       Egee.io is a place where gamers of <i>any</i> platform can hangout, meet and game with other gamers, and talk about other things of interest.
    </p>
    <p>
      We have a few rules that apply to both the Discord server &#38; our game servers:
      <br>
      • Don't be a dick to other community members (this includes platform shaming).
      <br>      
      • Don't shitpost or post NSFW material.
    </p>
    <h5>Game Servers</h5>
    <p>
      For our game servers, we have one golden rule:<br>
      • Don't hack, exploit, or glitch. Really, it's not that hard to play fair.
    </p>
    <p>
      In the event that you encounter an issue on the server (outages, severe lag, hackers, etc), let us know!
    </p>
    <h5>Discord Server</h5>
    <p>
      Our Discord server is moderated by community members and we have a short list of rules to help keep order:<br>
      1) New community members cannot post links or attachments until they are a day old
      <br>
      2) Try and keep discussions in the channels they pertain to (troubleshooting in #troubleshooting , gaming in #games , etc).
      <br>
      3) If you are discussing a topic in one of the voice channels, use #voice-general for text to avoid accidentally spamming other text channels
    </p>     
  </div>
</div>

<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Minecraft</h4>
    <p>
      The Minecraft server a survival server with PvP enabled, however mob griefing is disabled so buildings are free from creeper explosions! 
      The server runs on Spigot (a fork of Bukkit) which helps with logging and griefer protection.
    </p>
    <p>
      Connecting to the Egee.io Minecraft server is simple:<br>
      &#8226; Fire up Minecraft<br>
      &#8226; From the main menu, click "Multiplayer"<br>
      &#8226; From the "Play Multiplayer" screen, click <u>either</u> "Direct Connect", or "Add server"<br>
      &#8226; Enter <i>Egee.io</i> as the server address (no IP address required!)<br>     
    </p>
    <p>
      And that's it!
    </p> 
  </div>
</div>

<div id="modal3" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Garry's Mod</h4>
    <p>
      The Gmod server is wiped regularly and is always publically accessable. It's heavily modded but we typically play Prop Hunt or Guess Who game modes.
      Since the server runs alot of mods, you should subscribe to <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=695623518">this</a> GMod collection before joining.
    </p>
    <p>
      The Gmod server supports the following game modes:<br>
      &#8226; Sandbox<br>
      &#8226; Prop Hunt<br>
      &#8226; Guess Who<br>
      &#8226; Trouble In Terrorist Town<br>
      &#8226; Murder<br>
      &#8226; Stop It Slender<br>
    </p>
    <p>
      You can connect to the Gmod server by using the Gmod server browser or:<br>
      &#8226; Fire up Garry's Mod<br>
      &#8226; From the main menu, click "Options"<br>
      &#8226; Press the tilde key `<br>
      &#8226; Type "connect egee.io" and press enter<br>
    </p>
  </div>
</div>

<div id="modal4" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Starbound</h4>
    <p>
      Our Starbound server is a regular un-modded Starbound server with support for 14 concurrent players and 6 parties.
    </p>
    <p>
      You can connect to the Starbound server by:<br>
      &#8226; Start Starbound<br>
      &#8226; From the main menu, click "Join Game"<br>
      &#8226; Select or create your character<br>
      &#8226; Enter <i>egee.io</i> for the Server Address, and click Join Server<br>
    </p>
  </div>
</div>

{{outlet}}
