{{parallax}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/comets.jpg">
  </div>
  <div class="container center-align white-text">
    <h1>Egee.io</h1><br>
    <h3>Think outside the Window</h3>
  </div>
</div>

<div class="white">
  <h4 class="center-align">Egee.io a community for Linux gamers</h4>
  <div class="section">
    <div class="row">
      <div class=" col l1">
        <img class="responsive-img" src="assets/images/home/csgo_64.jpg">
      </div>
      <div class="col l1">
        <img class="responsive-img" src="assets/images/home/rust_64.jpg">
      </div>
      <div class="col l1">
        <img class="responsive-img" src="assets/images/home/tf2_64.jpg">
      </div>
      <div class=" col l1">
        <img class="responsive-img" src="assets/images/home/axiom.jpg">
      </div>
      <div class="col l1">
        <img class="responsive-img" src="assets/images/home/xcom2.jpg">
      </div>
      <div class="col l1">
        <img class="responsive-img" src="assets/images/home/shadowofmordor.jpg">
      </div>
      <div class="col l1">
        <img class="responsive-img" src="assets/images/home/tombraider.jpg">
      </div>
      <div class="col l1">
        <img class="responsive-img" src="assets/images/home/dota2.jpg">
      </div>
      <div class="col l1">
        <img class="responsive-img" src="assets/images/home/borderlands2.jpg">
      </div>
      <div class="col l1">
        <img class="responsive-img" src="assets/images/home/civ5.jpg">
      </div>
      <div class="col l1">
        <img class="responsive-img" src="assets/images/home/saintsrow.jpg">
      </div>
      <div class="col l1">
        <img class="responsive-img" src="assets/images/home/moo2.jpg">
      </div>
    </div>
  </div>
</div>

<div class="cyan lighten-3">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align"><a href="faq" class="black-text">Why Game on Linux?</a></h3>
          <p class="black-text">
            Linux (or GNU/Linux) is a family of free and open source operating systems with a massive community of users and gamers alike.
          </p>
          <p class="black-text">
            Linux is "free" in that there is nothing to license or pay for; you download a distribution and install it.
          </p>
          <p class="black-text">
            Linux is also free from spying and other intrusions that vendors may install in <i>their</i> operating systems and software.
            Linux is free to customize, extend, and fork. Maybe you want your Linux to look like Windows or Mac. Or maybe you want to create your own desktop from scratch.
          </p>
          <p class="black-text">
            Linux is whatever <b>you</b> want it to be.
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/companies.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <h2 class="center-align"><a href="distros" class="black-text">Make the switch</a></h2>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/ubuntu_small.jpg">
            <h5 class="center">Desktop Ready</h5>
            <p>Ubuntu has been around forever and has long been consider the de-facto Linux desktop distribution. It's also always the target for game developers.</p>
          </div>
        </div>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/SteamOS_small.jpg">
            <h5 class="center">Linux in your living room</h5>
            <p>SteamOS is great for living room gaming. You can play your entire Steam library for the comfort of your couch. Think about it.</p>
          </div>
        </div>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/opensuse_small.jpg">
            <h5 class="center">Enterprise-level stability</h5>
            <p>OpenSUSE is the community edition of SUSE Enterprise Linux. It's a bit more advanced and uses cutting edge administration tools like YaST and Zypper</p>
          </div>
        </div>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/home/arch_small.jpg">
            <h5 class="center">Limitless Configurability</h5>
            <p>Arch Linux is well know for being the "bleeding edge" distro. It's great for people looking for a distro with minimal bloat and looking to stick close to upstream.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cyan lighten-3">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align"><a href="servers" class="black-text">Games We Play</a></h3>
          <p class="black-text">
            We actively maintain and moderate a few servers for games we play frequently. All game servers are hosted on a physical machine running openSUSE Leap 42.1 with a gigabit connection.
          </p>
          <p class="black-text">
            Check out the <a class="black-text"href="servers"><b><i>servers</i></b></a> page for more information about the games we host and how to connect to them.
          </p>
        </div>
        <div class="col m7 s12">
          <div class="row">
            <img class="responsive-img" src="assets/images/home/terraria.jpg">
          </div>
          <div class="row">
            <img class="responsive-img" src="assets/images/home/rust.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m6">
          <a href="http://steamcommunity.com/groups/egeeio">
            <img class="responsive-img" src="assets/images/home/Steam_130.png">
          </a>
          <a href="https://www.facebook.com/Egee1rl">
            <img class="responsive-img" src="assets/images/home/facebook_120.png">
          </a>
          <a href="https://plus.google.com/communities/109695477657842314777">
            <img class="responsive-img" src="assets/images/home/goog_120.png">
          </a>
        </div>
        <div class="col m6 s12">
          <h2 class="center-align"><a class="black-text" href="community">Join The Community</a></h2>
          <p class="black-text">
            Want to find like-minded Linux gamers like yourself? Or just looking to make some new friends? Join our Steam community or Facebook group.
          </p>
          <p class="black-text">
            We also have a Google+ community and subreddit where gamers get together and talk about their favorite games and ports.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
