{{parallax}}
{{modal}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/background.jpg">
  </div>
  <div class="container center-align white-text title-margin">
    <h1 class="lato_light marginless-bottom">Egee.io</h1><br>
    <h3 class="lato_thin marginless-top">Be Different. Play Together.</h3>
  </div>
</div>

<div class="grey lighten-5">
	<div class="container ">
		<div class="section">
			<div class="row valign-wrapper">
				<div class="col m6">
          <h3 class="lato_light center-align">It's a bit different here</h3>
					<p>
						Egee.io is an open gaming community that eschews the dichotomy between gaming platforms.
					</p>
					<p>
						Here at Egee.io, everyone is welcome to game and discuss any platform they like from Linux and Windows, to PlayStation and Xbox.
            Our community is free from the hostility that offten arises when discussing gaming platforms.
					</p>
          <p>
            If you&#39;d like to join our community <a href="https://discord.gg/tVyBHAU">Discord server</a> or game servers, be sure to check out the 
            <b><a class="modal-trigger" href="#modal0">rules</a></b> first!
					</p>
        </div>
        <div class="col m6 hide-on-small-only">
					<img class="responsive-img" src="assets/images/distros2.png">
				</div>
      </div>
    </div>
  </div>
</div>

<div class="blue-grey lighten-4">
  <div class="container">
    <div class="section">
      <div class="row valign-wrapper">
        <div class="col m6 hide-on-small-only">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/opensource.png">
          </div>
        </div>
        <div class="col m6">
          <h3 class="center lato_light">Powered By Open Source</h3>
          <p>
            From top to bottom, Egee.io is proudly powered by open source technologies.
          </p>
          <p>
            The platform of choice is Ubuntu and each game server run locally inside of LXC containers, and are managed by <a href="https://gameservermanagers.com/">Linux Game Server Manager</a>.
          </p>
          <p>
            The Egee.io website is written in EmberJS with a tiny bit of JQuery, and is served on Nginx. You can read more about the software stack at <a href="https://github.com/egee-irl/egeeio">GitHub</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row center">
        <h3 class="center lato_light">Game Servers</h3>
        <p class="gameServerTitle">
          Most Egee.io game servers are recycled on a 30 to 60 day cycle.
        </p>
        <div class="col m4">
          <div class="icon-block">
            <a class="modal-trigger" href="#modal1">
              <img class="responsive-img" src="assets/images/games/minecraft_square.jpg">
            </a>
            <h5 class="center">Minecraft</h5>
            <p>
              Minecraft server is a vanilla <a href="https://www.spigotmc.org/">Spigot</a> server (no client-side mods) running CoreProtect and can support up to 20 players.
            </p>
          </div>
        </div>
        <div class="col m4">
          <div class="icon-block">
            <a class="modal-trigger" href="#modal2">
              <img class="responsive-img" src="assets/images/games/terraria_256.jpg">
            </a>
            <h5 class="center">Terraria</h5>
            <p>
              Terraria server world size is <i>small</i> and supports up to 10 players.
            </p>
          </div>
        </div>
        <div class="col m4">
          <div class="icon-block">
            <a class="modal-trigger" href="#modal3">
              <img class="responsive-img" src="assets/images/games/gmod_256.jpg">
            </a>
            <h5 class="center">Garry's Mod</h5>
            <p>
              Garry's Mod Server is awesome
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal0" class="modal">
  <div class="modal-content">
    <h4>Egee.io Community Rules!</h4>
    <p>
      Don't be a stupid asshole.
    </p>
  </div>
</div>

<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Minecraft</h4>
    <p>
      The Egee.io Minecraft server is a regular un-modded server running the latest version and is moderated by <b>Striped_Monkey</b>.
    </p>
    <p>
      The Minecraft server a survival server with PvP enabled, however mob griefing is disabled so buildings are free from creeper explosions! 
      The server runs on Spigot (a fork of Bukkit) which helps with logging and griefer protection.
    </p>
    <p>
      While the server is typically free of problems (griefers, lag, crashes, unexpected deaths, etc), if issues do arise, please to report them 
      on the <a href="/#discord">Egee.io Discord</a> via the Minecraft channel, or to Striped_Monkey directly. If you are unable to access the server at all, feel free to Tweet at Egee himself.
    </p>
    <p>
      Connecting to the Egee.io Minecraft server is simple:<br>
      &#8226; Fire up Minecraft<br>
      &#8226; From the main menu, click "Multiplayer"<br>
      &#8226; From the "Play Multiplayer" screen, click <u>either</u> "Direct Connect", or "Add server"<br>
      &#8226; Enter <i>Egee.io</i> as the server address (no IP address required!)<br>     
    </p>
    <p>
      And that's it!
    </p> 
  </div>
</div>

<div id="modal2" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Terraria</h4>
      <p>
        Our Terraria server runs vanilla (un-modded) server version 1.3.1 and is moderated by <b>Omegapex</b>.
      </p>
      <p>
        The Terraria server is a standard softcore server and uses TShock so that if any issues DO arise, it would be relatively easy to pin point and fix.
      </p>
      <p>
        While the server is typically free of problems (griefers, lag, crashes, unexpected deaths, etc), if issues do arise, please to report them 
        on the Egee.io Discord via the Terraria channel, or to Omegapex directly. If you are unable to access the server at all, feel free to Tweet at Egee himself.
      </p>
      <p>
        Connecting to the Egee.io Terraria server is simple:<br>
        &#8226; Fire up Terraria<br>
        &#8226; From the main menu, click "Multiplayer"<br>
        &#8226; From the "Multiplayer" screen, click "Join via IP"<br>
        &#8226; Enter Egee.io as the server address once you have chosen (or created) a character<br>
        &#8226; Server port is default (7777)<br>       
      </p>
      <p>
        And that's it!
      </p>
  </div>
</div>

<div id="modal3" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Garry's Mod</h4>
    <p>
      The offical Egee.io Garry's Mod server is moderated by <b>Rice (Arroz)</b>.
    </p>
    <p>
      Our Gmod server is heavily modded but we typically play Prop Hunt or Guess Who game modes.
      Since the server runs alot of mods, you should subscribe to <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=695623518">this</a> GMod collection before joining.
    </p>
    <p>
      The Gmod server supports the following game modes:<br>
      &#8226; Sandbox<br>
      &#8226; Prop Hunt<br>
      &#8226; Guess Who<br>
      &#8226; Trouble In Terrorist Town<br>
      &#8226; Murder<br>
      &#8226; Stop It Slender<br>
    </p>
    <p>
      Connecting to the Egee.io Gmod server is simple:<br>
      &#8226; Fire up Garry's Mod<br>
      &#8226; From the main menu, click "Options"<br>
      &#8226; Press the tilde key `<br>
      &#8226; Type "connect egee.io" and press enter<br>
    </p>
    <p>
      You can also find it in the Server Browser, but it depends on what the current game mode is. Connecting directly via the console is easiest.
    </p>
  </div>
</div>

{{outlet}}
