{{parallax}}
{{modal}}
<div class="parallax-container">
  <div class="parallax">
    <img src="assets/images/background.jpg">
  </div>
  <div class="container center-align title-margin">
    <h1 class="light marginless-bottom">Egee.io</h1><br>
    <h3 class="thin marginless-top">Be Different. Play Together.</h3>
  </div>
</div>

<div class="eg-blue-black">
	<div class="container ">
		<div class="section">
			<div class="row valign-wrapper">
				<div class="col m6">
          <h3 class="light center-align">Gaming For Everyone</h3>
					<p>
						Egee.io is a super-casual gaming community where everyone is welcome to game on whatever platform they like.
            Many members of the Egee.io community are not just gamers, but also artists and content producers and frequently collaborate with other members on creative endevours. 
          </p>
          <p>
            We occasionaly have impromptu game nights and host regularly planned monthly events on our own public game servers so everyone can enjoy the community.
					</p>
          <p>
            Joining our community is simple! - Check out our <a href="https://discord.gg/tVyBHAU">Discord server</a> or game servers and be sure to check out the 
            <a class="modal-trigger" href="#modal0">rules</a>!
					</p>
        </div>
        <div class="col m6 hide-on-small-only">
					<img class="responsive-img" src="assets/images/controllers.png">
				</div>
      </div>
    </div>
  </div>
</div>

<div class="black">
  <div class="container">
    <div class="section">
      <div class="row valign-wrapper">
        <div class="col m6 hide-on-small-only">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/opensource.png">
          </div>
        </div>
        <div class="col m6">
          <h3 class="center light">Powered By Open Source</h3>
          <p>
            From top to bottom, Egee.io is proudly powered by open source technologies.
          </p>
          <p>
            The OS platform of choice is Ubuntu and each game server run locally inside of LXC containers, and are provisioned by <a href="https://gameservermanagers.com/">Linux Game Server Manager</a>.
          </p>
          <p>
            The Egee.io website is written in EmberJS with a tiny bit of JQuery, and is served on Nginx. You can read more about the software stack at <a href="https://github.com/egee-irl/egeeio">GitHub</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="eg-blue-black">
  <div class="container">
    <div class="section">
      <div class="row">
        <h3 class="center server-header light">Game Servers</h3>
        <div class="row">
          <div class="col s6 offset-s3">
            <p class="server-paragraph">
              Egee.io uses Linux containers to host game servers which makes it quick and easy to host new game servers on demand.
              Most of our servers are ephemeral but we do maintain a small number of persistent game servers.
            </p>
          </div>
        </div>
        <p class="server-subscript center">
          <sub>click on a server tile for details</sub> 
        </p>
               
        <div class="col m4">
          <div class="icon-block">
            <a class="modal-trigger" href="#modal1">
              <img class="responsive-img" src="assets/images/games/minecraft-256.jpg">
            </a>
            <h5 class="center">Minecraft</h5>
          </div>
        </div>
        <div class="col m4">
          <div class="icon-block">
            <a class="modal-trigger" href="#modal3">
              <img class="responsive-img" src="assets/images/games/gmod-256.jpg">
            </a>
            <h5 class="center">Garry's Mod</h5>
          </div>
        </div>
        <div class="col m4">
          <div class="icon-block">
            <a class="modal-trigger" href="#modal4">
              <img class="responsive-img" src="assets/images/games/rust-256.jpg">
            </a>
            <h5 class="center">Rust</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal0" class="modal">
  <div class="modal-content">
    <h4 class="center">Egee.io Community Rules!</h4>
    <p>
       Egee.io is a place where gamers of <i>any</i> platform can hangout, meet and game with other gamers, and talk about other things of interest.
    </p>
    <p>
      We have a few rules that apply to both the Discord server &#38; our game servers:
      <br>
      • Don't be a dick to other community members (this includes platform shaming).
      <br>      
      • Don't shitpost or post NSFW material.
    </p>
    <h5>Game Servers</h5>
    <p>
      For our game servers, we have one golden rule:<br>
      • Don't hack, exploit, or glitch. Really, it's not that hard to play fair.
    </p>
    <p>
      In the event that you encounter an issue on the server (outages, severe lag, hackers, etc), let us know!
    </p>
    <h5>Discord Server</h5>
    <p>
      Our Discord server is moderated by community members and we have a short list of rules to help keep order:<br>
      1) New community members cannot post links or attachments until they are a day old
      <br>
      2) Try and keep discussions in the channels they pertain to (troubleshooting in #troubleshooting , gaming in #games , etc).
      <br>
      3) If you are discussing a topic in one of the voice channels, use #voice-general for text to avoid accidentally spamming other text channels
    </p>     
  </div>
</div>

<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Official Egee.io Low-Pop Minecraft Server!</h4>
    <p>
      Our Minecraft server a low-pop survival server with mob griefing is disabled (buildings are free from creeper explosions!). 
      The server runs on Spigot (a fork of Bukkit) which helps with logging and griefer protection.
    </p>
    <p>
      Server rules are simple:<br>
      1. Don't grief.<br>
      2. Don't steal.<br>
      3. Don't be an asshat.
    </p>
    <p>
      How to connect to the Minecraft server:<br>
      &#8226; Fire up Minecraft<br>
      &#8226; From the main menu, click "Multiplayer"<br>
      &#8226; From the "Play Multiplayer" screen, click <u>either</u> "Direct Connect", or "Add server"<br>
      &#8226; Enter <i>Egee.io</i> as the server address (no IP address required!)<br>     
    </p>
    <p>
      And that's it!
    </p> 
  </div>
</div>

<div id="modal3" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Maniacal Egee.io Garry's Mod Server!</h4>
    <p>
      The Gmod server is heavily modded and wiped regularly. Unless there is a community event happening, the default game mode is Sandbox.
    </p>
    <p>
      Since the server runs alot of mods, you should subscribe to <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=695623518">this</a> GMod collection before joining.
    </p>
    <p>
      You can connect to the Gmod server by using the Gmod server browser or:<br>
      &#8226; Fire up Garry's Mod<br>
      &#8226; From the main menu, click "Options"<br>
      &#8226; Press the tilde key `<br>
      &#8226; Type "connect egee.io" and press enter<br>
    </p>
  </div>
</div>

<div id="modal4" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Merciless Egee.io Rust Server</h4>
    <p>
      Our Rust server is a vanilla (un-modded) low-pop Rust server. Since it's a low-population server, most of the denizens are friendly and play to build, explore, and generally hangout.
    </p>
    <p>
      But don't get to upset if you wake up in-game to find out you were murdered by your <i>friend</i>. This is Rust after all.
    </p>
    <p>
      You can connect to the Rust server:<br>
      &#8226; Start Rust<br>
      &#8226; From the main menu, click the "Play Game" icon<br>
      &#8226; Click the "Community" section and look for <i>The Merciless Egee.io Rust Server</i>.<br>
    </p>
    <p>
      It helps to have a map of the server. You can find one <a href="https://t.co/vayOsMydOT">here</a>.
    </p>
  </div>
</div>

{{outlet}}