<section class="hero eg-blue-black is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white-bis">
        Egee.io
      </h1>
      <h2 class="subtitle has-text-white-bis">
        Be different. Play together.
      </h2>
      <form>
        <button class="button is-white is-outlined" formaction="/join">Join Us!</button>
      </form>
    </div>
  </div>
</section>

<section class="section has-background-real-black">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image is-256x256">
          <a href="https://opensource.org/licenses"><img src="assets/images/opensource.png" alt="Open Source Initiative"></a>
        </figure>
      </div>
      <div class="column">
        <h1 class="subtitle has-text-white-ter">An Inclusive Gaming Community</h1>
        <p>
          Egee.io is an open &amp; inclusive casual gaming community for everyone regardless of game preference,
          platform, skill level, nationality, or game preference.
        </p><br>
        <p>
          Egee.io started back in 2016 as community of fans from Egee's <a href="https://www.youtube.com/channel/UCXa6sE6cKXcQ97vI0Emn1XA">YouTube</a>
          channel. Since then, it has grown to over 500 community members and several persistent game servers. Egee.io
          is home to a passionate &amp; friendly community of gamers, artists, developers, and regular desktop users!
        </p><br>
      </div>
    </div>
  </div>
</section>

<section class="section eg-blue-black">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Play With Us!</h1>
        <p>
          Egee.io hosts a number of game servers! All of our servers are public and are admin'd by a member of the
          community.
        </p> <br>
        <p>
          The Egee.io Discord server is the official place for server news and community information. It's the place
          where we plan &amp; collaborate during gaming events and live streams - Feel free to join!
        </p> <br>
        <p>
          You don't have to be a member of our Discord server to play on our servers. Just find one of our servers
          on the Servers page or in your game's server browser and join!
        </p>
      </div>
      <div class="column">
        <figure class="image is-256x256">
          <a href="https://opensource.org/licenses"><img src="assets/images/opensource.png" alt="Open Source Initiative"></a>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="section has-background-real-black">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image is-256x256">
          <a href="https://opensource.org/licenses"><img src="assets/images/opensource.png" alt="Open Source Initiative"></a>
        </figure>
      </div>
      <div class="column">
        <h1 class="subtitle has-text-white-ter">Powered By Open Source</h1>
        <p>
          Egee.io is built with Free &amp; Open Source Software. From the code that runs our game servers,
          to the code that deploys this website, it's all <a href="https://github.com/Egeeio">distributed</a> using
          Open Source licenses! This means you are free to view, copy, and hack on our code as much as you like!
        </p><br>
        <p>
          Our game servers run on a framework called <i>Game Server Containers</i>, which is built on top of Docker.
          Anyone can use one of our <a href="https://hub.docker.com/u/egeeio/">Docker images</a> to run a game server
          of their own!
        </p>
      </div>
    </div>
  </div>
</section>