{{parallax}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/background.png">
  </div>
  <div class="container center-align white-text title-margin">
    <h1 class="lato_light marginless-bottom">Egee.io</h1><br>
    <h3 class="lato_thin marginless-top">Be Different. Play Together.</h3>
  </div>
</div>
<div class="grey lighten-5">
	<div class="container ">
		<div class="section">
			<div class="row">
				<div class="col l6 s12">
					<img class="responsive-img" src="assets/images/distros2.png">
				</div>
				<div class="col m6 s12">
					<p class="black-text">
						The Egee.io community home is on Discord. Discord is a low-latency messaging platform similar to IRC or Mumble but specifically designed with gaming communities in mind. All news and updates about the Egee.io game servers, live streams, or game nights are posted on Discord.
					</p>
					<p>
						There are chat channels for each topic on the Egee.io Discord and the community is moderated to prevent spam. We also have several voice channels that make gaming and collaborating together a whole lot easier.
					</p>
					<p>
						Egee.io also has a Steam group with a forum for people to interact with the community outside of Discord.
					</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blue-grey lighten-4">
  <div class="container">
    <div class="section">
      <div class="row">
        <h2 class="center-align lato_light">Games We Host</h2>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/games/minecraft_square.jpg">
            <h5 class="center">Desktop Ready</h5>
            <p>
              The Egee.io Minecraft server is an un-modded server running version 1.10 and can support up to 20 concurrent players. You can connect to it by simply typing <i>Egee.io</i> into the server address.
            </p>
          </div>
        </div>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/games/terraria_256.jpg">
            <h5 class="center">Linux in your living room</h5>
            <p>
              Our Terraria server runs vanilla (un-modded) server version 1.3.1 and currently supports up to 8 concurrent players (this can be increased if requested!) and the map size is <i>small</i>.
            </p>
          </div>
        </div>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/games/gmod_256.jpg">
            <h5 class="center">Enterprise-level stability</h5>
            <p>
              Our GarrysMod server is typically used for game nights and live streams. PropHunt is the current favorite game mode but the server supports others. 
              Since the server runs alot of mods, you should subscribe to <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=695623518">this</a> GMod collection before joining.
            </p>
          </div>
        </div>
        <div class="col m3">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/games/rust_256.jpg">
            <h5 class="center">Limitless Configurability</h5>
            <p>
              The Egee.io Rust server has the lowest population of all of the persistent Egee.io servers which makes it a fantastic server to learn how to play Rust on. 
              Typically the denizens of the server are non-violent but don't mistake this server as a friendly "no-kill" server: PvP is still very much alive on the server.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align lato_light">Powered By Open Source</h3>
          <p class="black-text">
            Linux is the most popular computer operating system for 
            <a href="http://gs.statcounter.com/#mobile+tablet-os-ww-monthly-201605-201605-bar">smart phones</a>, 
            <a href="https://w3techs.com/technologies/overview/operating_system/all">web servers</a> and, 
            <a hre="http://www.top500.org/statistics/overtime"> super computers</a>. 
            If you own a smart phone, it more than likely runs a distribution of Linux called "Android".            
          </p>
          <p class="black-text">
	        All of the servers here at Egee.io run on a distribution of Linux. The overall cost of using Linux is low and Linux-specific tools and technologies make managing servers a breeze.
          </p>
          <p class="black-text">
            Linux is also known for its enormous community of both every-day desktop users and technical power-users. Nearly any question about any problem has likely been asked and answered by the community.
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/opensource.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blue-grey lighten-4">
  <div class="container">
    <div class="section">
      <div class="row">
        <h2 class="center-align lato_light">Join Us</h2>
          <p>
            Egee.io hosts a number of game servers! Every server is moderated by a member of the community and publicly (no white-lists!).
          </p>
          <p>
            Members of the Egee.io community can also host their own game servers and have them showcased here on Egee.io. 
          </p>
          <p>
            The Egee.io Discord server is the official place for server news and community information. It's the place where we plan gaming events and live streams - Feel free to join us!
          </p>
          <p>
            You don't have to be a part of the Discord server to join our servers! Just use the domain name (egee.io) or find one of our servers in your game's server browser and join!
          </p>
      </div>
    </div>
  </div>
</div>

{{outlet}}
