{{parallax}}
<div class="parallax-container z-depth-1">
  <div class="parallax">
    <img src="assets/images/parallax/background.jpg">
  </div>
  <div class="container center-align white-text title-margin">
    <h1 class="lato_light marginless-bottom">Egee.io</h1><br>
    <h3 class="lato_thin marginless-top">Be Different. Play Together.</h3>
  </div>
</div>
<div class="grey lighten-5">
	<div class="container ">
		<div class="section">
			<div class="row valign-wrapper">
				<div class="col l6 s12">
					<img class="responsive-img" src="assets/images/distros2.png">
				</div>
				<div class="col m6 s12 ">
          <h2 class="lato_light center">Feel free to be different</h2>
					<p>
						Egee.io is a community of gamers who just like to hang out and not bicker about platforms.
					</p>
					<p>
						Unlike most gaming communities, we welcome gamers from all platforms.
					</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blue-grey lighten-4">
  <div class="container">
    <div class="section">
      <div class="row valign-wrapper">
        <div class="col m5 s12">
          <h3 class="center lato_light">Powered By Open Source</h3>
          <p>
            Egee.io is powered by open source technologies. You can find our source code in GitHub.           
          </p>
          <p>
	        All of the servers here at Egee.io run on a distribution of Linux. The overall cost of using Linux is low and Linux-specific tools and technologies make managing servers a breeze.
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/opensource.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row center">
        <h3 class="center lato_light">Current Cycle</h3>
        <p>
          Egee.io game servers a 30 to 60 day cycle. After a certain period of time elapses, the server is recycled and the community picks a new server.
        </p>
        <div class="col m4">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/games/minecraft_square.jpg">
            <h5 class="center">Minecraft</h5>
            <p>
              The Egee.io Minecraft server is an un-modded server running version 1.10 and can support up to 20 concurrent players.
            </p>
          </div>
        </div>
        <div class="col m4">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/games/terraria_256.jpg">
            <h5 class="center">Terraria</h5>
            <p>
              Our Terraria server runs vanilla (un-modded) server version 1.3.1.
            </p>
          </div>
        </div>
        <div class="col m4">
          <div class="icon-block">
            <img class="responsive-img" src="assets/images/games/gmod_256.jpg">
            <h5 class="center">Garry's Mod</h5>
            <p>
              Our GarrysMod server is typically used for game nights and live streams.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
