<div class="mdl-grid">

  <div class="persona mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title keith-card">
      <h2 class="mdl-card__title-text"><b>GhostSquad57</b></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p><b> About GhostSquad57</b></p>
      <p>He is a YouTuber, Arch Linux user, and an illegal Cuban immigrant. He also chews with his mouth open and never flushes the toilet.</p>
      <p>Hey guys, Keith Here... Let me tell you guys about ZHS. Its the new standard format in data storage..</p>
    </div>      
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-youtube-play" aria-hidden="true" style="color:white"></i>      
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitch" aria-hidden="true" style="color:white"></i>        
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitter" aria-hidden="true" style="color:white"></i>      
      </button>
    </div>
  </div>

  <div class="game mdl-card mdl-shadow--2dp mdl-cell--1-offset">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Minecraft</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        The Egee.io Minecraft server is an un-modded server running version 1.10 and can support up to 20 concurrent players. You can connect to it by simply typing <i>Egee.io</i> into the server address.
      </p>
      <p>
        It's a survival server but we expect people to play friendly. The server is typically free of problems (griefers, lag, unexpected deaths, etc) but if issues do arise, 
        please to report them <a href="http://steamcommunity.com/groups/egeeio/discussions/1/">here</a>.
      </p>
    </div>
  </div>
</div>
