<div class="mdl-grid">

  <div class="persona mdl-card mdl-shadow--2dp">
    <div class="monkey mdl-card__title">
      <h2 class="mdl-card__title-text" style="color:#222227"><b>Striped Monkey</b></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p><b> About Striped Monkey</b></p>
      <p>Striped_Monkey has been on Linux distros since early 2014 and hasn't used windows for anything more than printing since. Monkey enjoys games like Factorio, Minecraft (Particularly Modded), and Risk of Rain. </p>
      <p>You can probably find him on discord, in-game, and on YouTube. Someday he hopes to be able to stream regularly.</p>
    </div>      
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-youtube-play" aria-hidden="true" style="color:black"></i>      
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitch" aria-hidden="true" style="color:black"></i>        
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitter" aria-hidden="true" style="color:black"></i>      
      </button>
    </div>
  </div>

  <div class="game mdl-card mdl-cell--1-offset mdl-shadow--2dp">
    <div class="mdl-card__title minecraft"></div>
    <div class="mdl-card__supporting-text">
      <p>
        The offical Egee.io Minecraft server is a regular un-modded server running version 1.10.x and is moderated by Egee.io community member <i>Stripped_Monkey</i>.
      </p>
      <p>
        The Minecraft server a survival server with PvP enabled, however mob griefing is disabled so buildings are free from creeper explosions! 
        The server runs on Spigot (a fork of Bukkit) which helps with logging and griefer protection.
      </p>
      <p>
        While the server is typically free of problems (griefers, lag, crashes, unexpected deaths, etc), if issues do arise, please to report them 
        on the Egee.io Discord via the Minecraft channel, or to Striped_Monkey directly. If you are unable to access the server at all, feel free to Tweet at Egee himself.
      </p>
      <p>
        Connecting to the Egee.io Minecraft server is simple:<br>
        &#8226; Fire up Minecraft<br>
        &#8226; From the main menu, click "Multiplayer"<br>
        &#8226; From the "Play Multiplayer" screen, click <u>either</u> "Direct Connect", or "Add server"<br>
        &#8226; Enter <i>Egee.io</i> as the server address (no IP address required!)<br>
        {{!--<img src="../assets/images/servers/minecraft_server.png"><br>--}}        
      </p>
      <p>
        And that's it!
      </p>
    </div>
  </div>
  
</div>
