<nav class="navbar eg-blue-black is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-white-bis" href="/">Egee.io</a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item has-text-white-bis" href="https://medium.com/@egee_irl">News</a>
    <a class="navbar-item has-text-white-bis" href="/servers">Servers</a>
    <a class="navbar-item has-text-white-bis" href="https://shop.spreadshirt.com/egeeio">Shop</a>

  </div>
</nav>