<div class="container">
  <h1 class="center-align">UGH - This page doesn't exist!</h1>
  <h4 class="center-align">No worries though, just go back to the <a href="#">home page</a> or use the navbar and try again.</h4>
  <div class="valign-wrapper">
    <img class="valign center-block" src="assets/images/404.jpg">
  </div>
</div>
