<!--Default 404 Page.-->
<div class="mdl-layout mdl-layout-centered">
  <h1>UGH - This page doesn't exist!</h1>
  <h4>No worries though, just go back to the <a href="#">home page</a> or use the navbar and try again.</h4>
  <img src="assets/images/404.jpg">
</div>
