<div class="mdl-grid">

  <div class="persona mdl-card mdl-shadow--2dp mdl-cell--4-col mdl-cell--2-offset-tablet">
    <div class="mdl-card__title ghostsquad57">
      <h2 class="mdl-card__title-text"><b>GhostSquad57</b></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p><b> About GhostSquad57</b></p>
      <p>Keith is an aspiring software programmer, Linux enthusiast, and content producer. He records videos related to Linux gaming: gameplay, commentary, reviews and even livestreams!</p>
      <p>He hopes to one day create his own game for the Linux platform. You can find him on YouTube, Twitch, Twitter and GitHub.</p>
    </div>      
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-youtube-play" aria-hidden="true" style="color:white"></i>      
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitch" aria-hidden="true" style="color:white"></i>        
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitter" aria-hidden="true" style="color:white"></i>      
      </button>
    </div>
  </div>

  <div class="game mdl-card mdl-shadow--2dp mdl-cell--6-col-desktop mdl-cell--2-offset-desktop mdl-cell--2-offset-tablet">
    <div class="mdl-card__title rust"></div>
    <div class="mdl-card__supporting-text">
      <p>
        The Egee.io Rust server has the lowest population of all of the persistent Egee.io servers which makes it a fantastic server to learn how to play Rust on. 
        Typically the denizens of the server are non-violent but don't mistake this server as a friendly "no-kill" server: PvP is still very much alive on the server.
      </p>
      <p>
        The Rust server uses Oxide plugins which makes it a "modded" server. We use the following plugins:
      </p>
      <p>
        • <a href="http://oxidemod.org/plugins/rust-io-clans.842/">Rust:IO Clans</a><br>
        • <a href="http://oxidemod.org/plugins/gather-manager.675/">Gather Manager</a> (x3 gather rate)<br>
        • <a href="http://oxidemod.org/plugins/kits.668/">Kits</a><br>
        • <a href="http://oxidemod.org/plugins/n-teleportation.1832/">Teleportation</a> (Including homes & towns)<br>
        • <a href="http://oxidemod.org/plugins/stack-size-controller.1185/">Stack Size Controller</a><br>
      </p>
      <p>
        If you just want to check out the server map and see who's been playing, you can look at the <a href="http://playrust.io/#egee.io">live map</a>.
      </p>
      <p>
        If you want to take the plunge and play Rust with us, open Rust and search for "Egee" in the <i>Modded</i> section of the Server Browser.
      </p>
    </div>
  </div>  
</div>
