{{yield}}
<div class="blue-grey lighten-5">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <div class="icon-block">
            <a href="http://steamcommunity.com/groups/egeeio">
              <img class="responsive-img" src="assets/images/servers/rust.jpg">
            </a>
          </div>
        </div>
        <div class="col m7 s12">
          <h3 class="center-align">Rust</h3>
          <p>
            The Egee.io Rust server has the lowest population of all of the persistent Egee.io servers which makes it a fantastic server to learn how to play Rust on. 
            Typically the denizens of the server are non-violent but don't mistake this server as a friendly "no-kill" server: PvP is still very much alive on the server.
          </p>
          <p>
	          The Rust server uses Oxide plugins which makes it a "modded" server. We use the following plugins:
          </p>
          <p>
            • <a href="http://oxidemod.org/plugins/rust-io-clans.842/">Rust:IO Clans</a><br>
            • <a href="http://oxidemod.org/plugins/gather-manager.675/">Gather Manager</a> (x3 gather rate)<br>
            • <a href="http://oxidemod.org/plugins/kits.668/">Kits</a><br>
            • <a href="http://oxidemod.org/plugins/n-teleportation.1832/">Teleportation</a> (Including homes & towns)<br>
            • <a href="http://oxidemod.org/plugins/stack-size-controller.1185/">Stack Size Controller</a><br>
          </p>
          <p>
            If you just want to check out the server map and see who's been playing, you can look at the <a href="http://playrust.io/#egee.io">live map</a>.
          </p>
          <p>
            If you want to take the plunge and play Rust with us, open Rust and search for "Egee" in the <i>Modded</i> section of the Server Browser.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
