<section class="hero eg-blue-black is-medium">
  <div class="hero-body">
    <div class="container">
      <h2 class="eg-title has-text-white-bis">
        Omfg. It's that time again 🎅
      </h2>
      <p class="has-text-white-bis">
        Welcome to the <b>3rd</b> annual Egee.io Secret Santa event page!.
      </p>
    </div>
  </div>
</section>
<section class="section has-background-real-black">
  <div class="container">
    <h2 class="eg-title has-text-white-bis">
      What's a Secret Santa?
    </h2>
    <p class="has-text-white-bis">
      It's basically this annual event where people sign up on a website called Elfster and send <i>things</i> to each
      other. The "secret" part is that the person reciving the gift doesn't know who it's from until they receive it.
    </p>
  </div>
</section>
<section class="section has-background-real-black">
  <div class="container">
    <h2 class="eg-title has-text-white-bis">
      What are the rules?
    </h2>
    <p class="has-text-white-bis">
      $15 max spending limit. No real names, no asking for addresses etc. Steam or anonymous Amazon wishlist preferred
    </p>
  </div>
</section>
<section class="section has-background-real-black">
  <div class="container">
    <h2 class="eg-title has-text-white-bis">
      Who can participate
    </h2>
    <p class="has-text-white-bis">
      Anyone with a "Heros" role. Folks without the Heros (or Demi/Titan) role cannot participate.
    </p>
  </div>
</section>
<section class="section has-background-real-black">
  <div class="container">
    <h2 class="eg-title has-text-white-bis">
      What if I don't want to give out my name &amp; address?
    </h2>
    <p class="has-text-white-bis">
      When you sign up for Elfster, <b>don't</b> use your real name; use your Discord handle instead. And if you aren't
      comfortable using your personal address, see if you can use a PO Box or a different address. If that isn't an
      option, don't participate 😢
    </p>
  </div>
</section>