<div class="eg-blue-black">
  <div class="container">
    <div class="section">
      <div class="row">
        <h3 class="center server-header light">Our Game Servers!</h3>
        <div class="row">
          <div class="col s6 offset-s3">
            <p class="server-paragraph">
              Egee.io uses <a href="https://github.com/egee-irl/gsc-docs">Game Server Containers</a> to create &amp; host game servers which makes it quick and easy to create new game servers on demand!
              Not all servers listed below may be available. Check our <a href="https://discord.gg/42PMX5N">Discord</a> to see which servers we currently have available.
            </p>
          </div>
        </div>
        <p class="server-subscript center">
          <sub>click on a server tile for details</sub> 
        </p>
        <div class="row">
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal01">
                <img class="responsive-img" src="assets/images/games/rust-256.jpg">
              </a>
              <h5 class="center">Rust</h5>
            </div>
          </div>
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal02">
                <img class="responsive-img" src="assets/images/games/gmod-256.jpg">
              </a>
              <h5 class="center">Garry's Mod</h5>
            </div>
          </div>
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal03">
                <img class="responsive-img" src="assets/images/games/minecraft-256.jpg">
              </a>
              <h5 class="center">Minecraft</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal04">
                <img class="responsive-img" src="assets/images/games/tf2-256.png">
              </a>
              <h5 class="center">Team Fortress 2</h5>
            </div>
          </div>
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal05">
                <img class="responsive-img" src="assets/images/games/terraria_256.jpg">
              </a>
              <h5 class="center">Terraria</h5>
            </div>
          </div>
          <div class="col m4">
            <div class="icon-block">
              <a class="modal-trigger" href="#modal06">
                <img class="responsive-img" src="assets/images/games/starbound_256.jpg">
              </a>
              <h5 class="center">Starbound</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal01" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Rust Server</h4>
    <p>
      Our Rust server is a vanilla (un-modded) low-pop Rust server. Since it's a low-population server, many of the denizens are friendly and play to build, explore, and generally hangout.
      But don't get too upset if you wake up in-game to find out you were murdered by your <i>friends</i>. This is Rust after all.
    </p>
    <p>
      Our Rust server follows the official wipe cycle set by Facepunch (the same cycle that official servers follow) which usually happens on the first Thursday of each month.
    </p>
    <p>
      We typically host big raid, melee, or attack helicopter events on the last day before the wipe. If you want to participate, join our <a href="https://discord.gg/unQ5wxv">Discord server</a> and ask about events in the #rust channel.
    </p>
    <p>
      You can connect to the Rust server:<br>
      &#8226; Start Rust<br>
      &#8226; From the main menu, click the "Play Game" icon<br>
      &#8226; Click the "Community" section and look for <i>Egee.io | Low Pop | PNW | Linux</i>.<br>
    </p>
    <p>
      Alternatively, you can connect to it directly by opening the Rust console (F1) and typing <b>connect egee.io:28015</b>
    </p>
  </div>
</div>

<div id="modal02" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Garry's Mod Server</h4>
    <p>
      The Gmod server is heavily modded and wiped regularly. Unless there is a community event happening, the default game mode is Sandbox.
    </p>
    <p>
      Since the server runs alot of mods, you should subscribe to <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=695623518">this</a> GMod collection before joining.
    </p>
    <p>
      You can connect to the Gmod server by using the Gmod server browser or:<br>
      &#8226; Fire up Garry's Mod<br>
      &#8226; From the main menu, click "Options"<br>
      &#8226; Press the tilde key `<br>
      &#8226; Type "connect egee.io" and press enter<br>
    </p>
  </div>
</div>

<div id="modal03" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Vanilla Minecraft Server</h4>
    <p>
      Our Minecraft server a low-pop survival server with mob griefing is disabled (buildings are safe from creeper explosions!). 
      The server runs on Spigot (a fork of Bukkit) which helps with logging and griefer protection.
    </p>
    <p>
      Server rules are simple:<br>
      1. Don't grief.<br>
      2. Don't steal.<br>
      3. Don't be an asshat.
    </p>
    <p>
      How to connect to the Minecraft server:<br>
      &#8226; Fire up Minecraft<br>
      &#8226; From the main menu, click "Multiplayer"<br>
      &#8226; From the "Play Multiplayer" screen, click <u>either</u> "Direct Connect", or "Add server"<br>
      &#8226; Enter <i>server.egee.io</i> as the server address (no IP address required!)<br>     
    </p>
    <p>
      And that's it!
    </p> 
  </div>
</div>

<div id="modal04" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Team Fortress 2 Server</h4>
    <p>
      Our Rust server is a vanilla (un-modded) low-pop Rust server. Since it's a low-population server, many of the denizens are friendly and play to build, explore, and generally hangout.
      But don't get too upset if you wake up in-game to find out you were murdered by your <i>friends</i>. This is Rust after all.
    </p>
    <p>
      Our Rust server follows the official wipe cycle set by Facepunch (the same cycle that official servers follow) which usually happens on the first Thursday of each month.
    </p>
    <p>
      We typically host big raid, melee, or attack helicopter events on the last day before the wipe. If you want to participate, join our <a href="https://discord.gg/unQ5wxv">Discord server</a> and ask about events in the #rust channel.
    </p>
    <p>
      You can connect to the Rust server:<br>
      &#8226; Start Rust<br>
      &#8226; From the main menu, click the "Play Game" icon<br>
      &#8226; Click the "Community" section and look for <i>Egee.io | Low Pop | PNW | Linux</i>.<br>
    </p>
    <p>
      Alternatively, you can connect to it directly by opening the Rust console (F1) and typing <b>connect egee.io:28015</b>
    </p>
  </div>
</div>

<div id="modal05" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Terraria Server</h4>
    <p>
      The Gmod server is heavily modded and wiped regularly. Unless there is a community event happening, the default game mode is Sandbox.
    </p>
    <p>
      Since the server runs alot of mods, you should subscribe to <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=695623518">this</a> GMod collection before joining.
    </p>
    <p>
      You can connect to the Gmod server by using the Gmod server browser or:<br>
      &#8226; Fire up Garry's Mod<br>
      &#8226; From the main menu, click "Options"<br>
      &#8226; Press the tilde key `<br>
      &#8226; Type "connect egee.io" and press enter<br>
    </p>
  </div>
</div>

<div id="modal06" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>The Starbound Server</h4>
    <p>
      Our Minecraft server a low-pop survival server with mob griefing is disabled (buildings are safe from creeper explosions!). 
      The server runs on Spigot (a fork of Bukkit) which helps with logging and griefer protection.
    </p>
    <p>
      Server rules are simple:<br>
      1. Don't grief.<br>
      2. Don't steal.<br>
      3. Don't be an asshat.
    </p>
    <p>
      How to connect to the Minecraft server:<br>
      &#8226; Fire up Minecraft<br>
      &#8226; From the main menu, click "Multiplayer"<br>
      &#8226; From the "Play Multiplayer" screen, click <u>either</u> "Direct Connect", or "Add server"<br>
      &#8226; Enter <i>server.egee.io</i> as the server address (no IP address required!)<br>     
    </p>
    <p>
      And that's it!
    </p> 
  </div>
</div>

{{outlet}}