{{partial "topbar"}}

<div class="mdl-grid mdl-layout-centered">
  <div class="mdl-cell mdl-cell--3-col">
    <div class="card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title-minecraft">
      </div>
      <div class="mdl-card__supporting-text">
        <b>Minecraft 1.10 Vanilla</b>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Join
        </a>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--3-col">
    <div class="card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title-rust">
      </div>
      <div class="mdl-card__supporting-text">
        <b>Rust</b> 
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Join
        </a>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--3-col">
    <div class="card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title-gmod">
      </div>
      <div class="mdl-card__supporting-text">
         <b>Garry's Mod</b>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Join
        </a>
      </div>
    </div>
  </div>
</div>

{{outlet}}
