<section class="hero eg-blue-black is-small">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle has-text-white-bis">
        These are the official servers we run.
      </h2>
    </div>
  </div>
</section>
<section class="section is-small eg-blue-black">
  <div class="container">
    <p>
      All servers have the following rules:
    </p>
    <span class="card-rules has-text-white-bis"><b>1) Use common sense: don't cheat or hack.</b></span><br>
    <span class="card-rules has-text-white-bis"><b>2) No spamming or advertising in chat.</b></span><br>
    <span class="card-rules has-text-white-bis"><b>3) Do not harass the Admins or ask/imply for items, kill logs, etc.</b></span><br><br>
    <p>
      If you have issues connecting to one of our servers, or you would like to see a new server added,
      message an admin on our <a href="https://discord.gg/F6DhWg">Discord server</a> or create an issue on our GitHub
      repo.
    </p><br>
    <a href="https://github.com/egeeio/gsc-meta/issues">
      <button class="button is-warning is-outlined">
        Issues
      </button>
    </a>
  </div>
</section>
<section>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/images/rust4by3.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Egee & Chill | No Decay | Discord</h4>
              <span><b>Server Rules</b></span><br>
              <span class="card-rules">1) Event areas are off limits unless in use.</span><br>
              <span class="card-rules">2) Don't grief: foundation wiping, cupboard locking, trapping sleepers, etc.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/images/minecraft4by3.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Egee & Build</h4>
              <span><b>Server Rules</b></span><br>
              <span class="card-rules">1) Absolutely no cheating (X-Ray, etc), griefing, or stealing</span><br>
              <span class="card-rules">2) Do not deliberately try to glitch or crash the server</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{outlet}}