<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/csgo_64.jpg">
  </div>
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/rust_64.jpg">
  </div>
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/tf2_64.jpg">
  </div>
  <div class=" mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/axiom.jpg">
  </div>
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/xcom2.jpg">
  </div>
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/shadowofmordor.jpg">
  </div>
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/tombraider.jpg">
  </div>
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/dota2.jpg">
  </div>
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/borderlands2.jpg">
  </div>
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/civ5.jpg">
  </div>
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/saintsrow.jpg">
  </div>
  <div class="mdl-cell mdl-cell--1-col">
    <img src="assets/images/home/moo2.jpg">
  </div>
</div>
