<div class="mdl-grid">

  <div class="persona mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title omegapex">
      <h2 class="mdl-card__title-text"><b>Omegapex</b></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p><b> About Omegapex</b></p>
      <p>Maeson is a learning artist who also enjoys animating. he may not be a full linux user as he grew up using windows, but he still respects and uses linux on a dual booted system due to problems with windows 10. </p>
      <p>He has a deviant art account, tumblr, and infrequently streams art on picarto.tv. He has plans to become more active in streaming and start a youtube channel once he can buy some new hardware that can handle it.</p>
    </div>      
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-youtube-play" aria-hidden="true" style="color:white"></i>      
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitch" aria-hidden="true" style="color:white"></i>        
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-twitter" aria-hidden="true" style="color:white"></i>      
      </button>
    </div>
  </div>

  <div class="game mdl-card mdl-shadow--2dp mdl-cell--1-offset">
    <div class="mdl-card__title terraria"></div>
    <div class="mdl-card__supporting-text">
      <p>
        Our Terraria server runs vanilla (un-modded) server version 1.3.1 and currently supports up to 8 concurrent players (this can be increased if requested!) and the map size is <i>small</i>.
      </p>
      <p>
        Connecting to the server is just like connecting to any Terraria server. From the <i>Multiplayer</i> menu, go to <i>Join via IP</i> and type egee.io as the server address.
      </p>
    </div>
  </div>  
</div>
