{{yield}}
<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m5 s12">
          <h3 class="center-align">Terraria</h3>
          <p>
            Our Terraria server runs vanilla (un-modded) server version 1.3.1 and currently supports up to 8 concurrent players (this can be increased if requested!) and the map size is <i>small</i>.
          </p>
          <p>
            Connecting to the server is just like connecting to any Terraria server. From the <i>Multiplayer</i> menu, go to <i>Join via IP</i> and type egee.io as the server address.
          </p>
        </div>
        <div class="col m7 s12">
          <div class="icon-block">
            <a href="http://steamcommunity.com/groups/egeeio">
              <img class="responsive-img" src="assets/images/servers/terraria.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
