<div class="mdl-layout mdl-layout-centered">
  <h3 class="mdl-layout mdl-layout-centered">Encounter issues on one of our servers?</h3>
    <p class="eg-padded">
  In the event that you have an issue on one of our servers (lag, griefers, hacking ,etc), please create a topic about it on our message board <a href="http://steamcommunity.com/groups/egeeio/discussions/1/">here</a>.
  </p>
</div>