<div class="mdl-layout mdl-layout-centered">
  <h1 class="lato_light marginless-bottom mdl-layout mdl-layout-centered">Egee.io</h1>
  <h2 class="lato_thin marginless-top"> A platform-agnostic gaming community</h2>

  <div class="mdl-grid">

    <div class="card-welcome mdl-card mdl-shadow--2dp ">
      <div class="mdl-card__supporting-text">
        <p class="center-text">
          <h3 class="marginless-top">Welcome To Egee.io!</h3>
        </p>
        <p>
          Egee.io is different gaming community that eschews traditional platform barriers instead welcomes gamers from all platforms and operating systems.
          Because of this, Egee.io tends to cater to the more <i>technically-minded</i> gamers and power users and many members of the Egee.io community are Linux users many more are Windows/Linux dual-booters.
        </p>
        <p>
          Many members of the Egee.io community are not only gamers, but content producers and frequently record their videos for YouTube or stream to Twitch. 
          Game nights and events are often planned out so the rest of the community can join a stream or on-going game.
        </p>
        <p class="center-text">
          <h3>Join Us!</h3>
        </p>
        <p>
          Egee.io hosts a number of game servers! And each server is moderated by a member of the community and publically accessible either via an in-game browser or by using the Egee.io domain name.
        </p>
        <p>
          Moderators are available via our Discord channels.
        </p>
      </div>
    </div>  

  </div>
</div>
