<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet center-text">
    <h1 class="lato_light marginless-bottom">Egee.io</h1>
    <h3 class="lato_thin marginless-top"> A platform-agnostic gaming community</h3>
  </div>
</div>
<hr>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--6-col mdl-cell--1-offset-tablet">
      <p class="center-text">
        <h3 class="marginless-top lato_light">Welcome To Egee.io!</h3>
      </p>
      <p>
        Egee.io is different gaming community that eschews traditional platform barriers instead welcomes gamers from all platforms and operating systems.
        Because of this, Egee.io tends to cater to the more <i>technically-minded</i> gamers and power users and many members of the Egee.io community are Linux users many more are Windows/Linux dual-booters.
      </p>
      <p>
        Many members of the Egee.io community are not only gamers, but content producers and frequently record their videos for YouTube or stream to Twitch. 
        Game nights and events are often planned out so the rest of the community can join a stream or on-going game.
      </p>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet">
      <p class="center-text">
        <h3 class="lato_light">Join Us!</h3>
      </p>
      <p>
        Egee.io hosts a number of game servers! Every server is moderated by a member of the community and publically accessible either via an in-game browser or by using the Egee.io domain name.
      </p>
      <p>
        Members of the Egee.io community can also host their own game servers and have them showcased here on Egee.io. 
      </p>
      <p>
        The Egee.io Discord server is the official place for server news and community information. It is also the place where we plan gaming events and live streams.
      </p>
    </div>
    <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet discord_margin">
      <iframe src="https://discordapp.com/widget?id=183740337976508416&theme=dark" width="350" height="475" allowtransparency="true" frameborder="0"></iframe>
    </div>
  </div>

