<div class="mdl-dialog omega_dialog modal">
  <h4 class="mdl-dialog__title center-text lato_light">Omegapex</h4>
  <hr>
  <div class="mdl-dialog__content paddingless close">
    <img class="centered" src="assets/images/personas/omega/omega_256.jpg">
    <hr>
  <p>Maeson is a learning artist who also enjoys animating. he may not be a full linux user as he grew up using windows, but he still respects and uses linux on a dual booted system due to problems with windows 10. </p>
  <p>He has a deviant art account, tumblr, and infrequently streams art on picarto.tv. He has plans to become more active in streaming and start a youtube channel once he can buy some new hardware that can handle it.</p>
  </div>
  <div class="mdl-dialog__actions">
    <a href="http://omegasarting.deviantart.com/" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-deviantart" aria-hidden="true"></i>
    </a>
    <a href="http://omegasarting.tumblr.com/" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-tumblr" aria-hidden="true"></i>
    </a>
    <a href="https://picarto.tv/omegapex" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="fa fa-video-camera" aria-hidden="true"></i>
    </a>
  </div>
</div>